.vc_tta-accordion{
    max-width: $max-Gwidth;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    .vc_tta-panels-container{
        .vc_tta-panels{
            .vc_tta-panel{
                .vc_tta-panel-heading{
                    .vc_tta-panel-title{
                        a{
                            i{
                                &:before, &:after{
                                    border-color: $pub-red;
                                }
                            } 
                        }
                    }
                }
                .vc_tta-panel-body{
                    background-color:$white !important; 
                }
            }
        } 
        .vc_tta-panel.vc_active{
            .vc_tta-panel-heading{
                .vc_tta-panel-title{
                    a{
                        color:$pub-dark-gray !important;
                    }
                }
            }
        }
    }
}