.bgImg-txtOver-module{
    .vc_column-inner {
        .wpb_wrapper{
            min-height:330px;
            h1{
                color:$white;
                padding-top: 30px;
            }
            p{
                padding:0px 5% 50px 5%;
                color:$white;	
            }
            .wpb_text_column{
                margin-bottom:0px;	
            }
        }
    }
}