.post-extra, .blog-post-date{
    display:none;
}
.content-post.post-without-sidebar{
    padding-left: 0px;
    padding-right: 0px;
    h1{
        margin-top:0px;
        margin-bottom: 25px;
        padding-top:15px;
        padding-left: 15px;
        font-size: 38px; 
    }
    .post-details{
        padding-left: 15px;
    }
}
.page-template-page-template-blog{
    #jHeader{
       background-color: transparent !important;
        @media screen and (max-width: $sm-screen) {
         background-color: $pub-red !important;   
        }
    }
    #jHeader.invert.overflow.fixed{
       background-color: $pub-red !important; 
    }
    #jHeader.invert{
        #navbar-rebirth{
            background-color: transparent;
        }
    }
    .intro{
        height:90%;
        .iconScroll{
            bottom:38%;
            @media screen and (max-width: $md-screen) {
              bottom:10%;     
            }
            .info{
                font-size: $fSize-super-heading;
                text-transform: uppercase;
            }
        }
    }
    #pub_blog{  
        margin-left: 0px;
        margin-right: 0px;
        .vc_column-inner{
            padding: 0px;
        }
        .vc_grid-item{
            padding: 0px;
        }
        .vc_pageable-slide-wrapper{
            margin-right: 0px;
        }
        .wpb_content_element{
            margin-bottom:30px;
        }
        .vc_grid-item-mini{
            max-height: 550px;
            @media screen and (max-width: $md-screen) {
                max-height: none;   
            }
            
            overflow: hidden;
            .vc_gitem-animated-block {
                float: left;
                width:50%;
                display:inline-block;
                @media screen and (max-width: $md-screen) {
                    width:100%;
                }
            }
            .vc_gitem-zone-a{
                height:550px;
                @media screen and (max-width: $md-screen) {
                    height: auto;
                }
            }
            .vc_gitem-zone-c{
                width:49.5%;
                display:inline-block;
                position: relative;
                height: 550px;
                background-color: white !important;
                max-width: 650px;
                float: left;
                @media screen and (max-width: $md-screen) {
                    width:100%;
                    height: auto;
                    padding:25px;
                    position:relative; 
                    max-height: none;
                    float: none;
                    max-width: none;;
                }
                .vc_gitem-zone-mini{
                    position: absolute;
                    padding: 15px;
                    top: 50%;
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%, -50%);
                    @media screen and (max-width: $md-screen) {
                        position: relative;
                        padding: 15px;
                        margin-right: auto;
                        top: 0;
                        left: 0;
                        transform: translate(0, 0);
                        padding: 0;
                    }
                    h4{
                        font-size: 25px;
                        text-transform: uppercase;
                        &:after{
                            content:"";
                            display:block;
                            position:inherit;
                            margin-top: 20px;
                            width:60px;
                            background-color: $pub-dark-gray;
                            height:3px;
                        }
                    }
                    .vc_gitem-col{
                        background: $white;
                    }
                    .vc_btn3-container{
                        a{
                            background-color: $pub-red;
                            border-radius: 0px;
                        }
                    }
                }
            }
        }
    }
    #pub_blog{
        .vc_pageable-slide-wrapper{
            .vc_grid-item:nth-of-type(2n+1){
                .vc_gitem-animated-block{
                    float:right;
                }
                .vc_gitem-zone-c{
                    float: right;
                    @media screen and (max-width: $md-screen) {
                        float: none;
                    }
                }
            }
        } 
    }    
}

// next prev post items
.paginationblog{
    .title-pagination{
        max-height: 54px;
        overflow: hidden;
        @media screen and (max-width: $md-screen) {
            max-height: 118px;
        }
    }
}