.page-template-page-template-careers{
    .intro{
        height:50%;
        .pretitle{
            display:none;       
        }
        .iconScroll{ 
            p{
                font-size: $fSize-super-heading;
            }
        }
        
    }   
}