.page-template-page-template-contact{
    #jHeader{
       background-color: transparent !important; 
        @media screen and (max-width: $sm-screen) {
         background-color: $pub-red !important;   
        }
    }
    #jHeader.invert.overflow.fixed{
       background-color: $pub-red !important; 
    }
    #jHeader.invert{
        #navbar-rebirth{
            background-color: transparent;
        }
    }
    .intro{
        //height:50%;
        height:90%;
        .iconScroll{
            bottom:38%;
            left:0px;
            @media screen and (max-width: $md-screen) {
              bottom:10%;     
            } 
            .info{
                font-size: $fSize-super-heading;
                text-transform: uppercase;
            }
        }
    }
    .vc_row{
        margin: 0px;
        .pb-contact-info{ 
            background: $pub-dark-gray;
            padding:50px;
            height:760px;
            margin-bottom: 0px;
            padding-top: 24%;
            padding-bottom: 24%;
            @media screen and (max-width: $sm-screen) {
                padding-top: 10%;
                padding-bottom: 10%;
                height:auto;
                padding-left: 0px;
                padding-right: 0px;
            }
            h1{
                font-size: $fSize-h1;
                color:$white;
                span{
                   font-size: $fSize-h1;
                    color:$white !important;  
                }
            }
            h2{
                a{
                    text-decoration: none;
                    span{
                        letter-spacing: 0px !important;
                    }
                    
                }
                span{
                    font-size: $fSize-h2;
                    color:$pub-red;
                    letter-spacing: 3px;
                }
            }
        }
        .pb-contact-form{
            .vc_column-inner{
                padding:0px;
                .wpcf7-form{
                text-align: center;
                max-width: 600px;
                margin: 0 auto;
                p{
                    width:100%;
                    display:inline-table;
                    height:0px;
                }
                .first-row{
                    p{
                        width:48%;
                        padding-bottom: 0px;
                    }
                }
                .form-name, .form-email, .form-message{
                    display:none;

                }
                input[name=sender-name]{
                    position:relative;
                    left:0px;
                    margin-top:25px;
                    border: 1px solid $pub-dark-gray;
                    padding-left:5px;
                }
                input[name=sender-email] {
                    position:relative;
                    right:0px;
                    margin-top:25px;
                    border: 1px solid $pub-dark-gray;
                    margin-left: 10px;
                    padding-left:5px;
                }
                textarea[name=sender-message]{
                    width:98%; 
                    max-width:590px;
                    padding-left:5px;
                    border: 1px solid $pub-dark-gray;
                    margin-top: -50px;
                    margin-left: 10px;
                    max-height: 120px;
                }
                input[type="submit"]{
                    width: 98%;
                    border: 1px solid $pub-red;
                    background-color: $pub-red;
                    color:$white;
                    float: right;
                    margin-top: 25px;
                }
            }
            }
        }
        .pb-contact-map{
            #map{
                padding:0px; 
                max-height: 760px;
                height:760px;
                .wpb_wrapper{
                    padding:0px;
                    .wpb_gmaps_widget{
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
    
}
.wpcf7-validation-errors{
    width:100%;
    background-color: $white;
    color:$pub-red;
    position:fixed;
    top:130px;
    left: 0px;
    padding:20px !important;
    border:none !important;
    margin:0px !important;
}
.wpcf7-not-valid-tip{
    position:absolute;
    top:-60px;
    letter-spacing: 1px;
    line-height: 15px;
    font-size: 8px;
}
