.fiftyXfixty-txtL-imgR-module{
    margin-left: 0px;
    margin-right: 0px;
    .fXf-txtL-imgR-left-col{
        background:$pub-red;
        padding:0% 3%;
        padding-top: 1%;
        max-height: 400px;
        height:350px;
        @media screen and (max-width: $md-screen) {
            max-height: none !important;
            height: auto !important;  
        }
        .vc_column-inner{
            height:100%;
            padding-top: 0px;
            h1{ 
                font-size: $fSize-h1;
                color:$white;
                letter-spacing: 3px;
                padding-bottom: 20px;
                line-height: 30px;
            }
            p{
                color:$white;
                max-width: 600px;
                margin: 0 auto
            }
            .fXf-txtL-imgR-left-cta{
                a{
                    border:1px solid $white;
                    width:200px;
                    letter-spacing: 3px; 
                }
            }
            .wpb_content_element{
                padding-left: 10%;
                padding-right:10%;
            }
            .wpb_wrapper{
                height:95%;
                padding-top: 2.5%;
                padding-bottom: 2.5%;
            }
        }
    }
    .fXf-txtL-imgR-right-col{
        .vc_column-inner{
            min-height: 350px;
            @media screen and (max-width: $md-screen) {
                min-height: 500px !important;
            }
        } 
    }
    @media screen and (max-width: $md-screen) {
        .vc_col-sm-6{
            width:100%;
        }
    }
}