footer{
    border: none !important;
	background-color:$pub-red !important;
	color:$white;
    div[class*="col-"]:after{
        width: 1px; 
    }
    .logo-container{
		min-height: 150px !important;
		img{
			cursor:pointer;
			opacity: 0.8;
			-webkit-transition: all 350ms ease-in-out 0s;
			-moz-transition: all 350ms ease-in-out 0s;
			-o-transition: all 350ms ease-in-out 0s;
			transition: all 350ms ease-in-out 0s;
			&:hover{
				opacity: 1;
			}
		}
	}
	.col-md-4 {
		min-height: 195px !important;
        a{
            color:$white;
        }
		.column1{
			div, h2, p {
				display:inline-block;	
			}
			h2{	
				padding-top: 10px;
			}
			.socialmedia-buttons{
				float:right;
				img{
					margin:5px;	
					max-width:24px;
					cursor:pointer;
					opacity: 0.8;
					-webkit-transition: all 350ms ease-in-out 0s;
					-moz-transition: all 350ms ease-in-out 0s;
					-o-transition: all 350ms ease-in-out 0s;
					transition: all 350ms ease-in-out 0s;
					&:hover{
						opacity: 1;
					}
				}
			}
			&:last-child{
				h2{
					font-size:	$fSize-h2;
					text-transform:uppercase;
				}
			}
		}
		.column1:first-child, .column2:first-child, .column3:first-child{
			padding-bottom:30px;	
		}
        .column2, .column3{
            p{
                line-height: 20px;
            }
        }
        .column2 {
            @media screen and (max-width: $md-screen) {
                margin-bottom: 0px;
            }
        }
	}
    .col-sm-12{
        margin-bottom: 30px;
    }
}
.copyright{
    border: none !important;
	background-color:$pub-dark-gray !important;	
	p{
		color:$pub-red;	
	}
}

