#jHeader{
    top:0px;
    padding:15px;
    background-color: $pub-red !important;
    ul{
        li{
            a{
                @media (max-width:$lrg-screen) and (min-width:$md-screen) {
                    margin:0px;
                    font-size: 14px;
                }
            }
        }
    }
    .navbar-brand{
        top:0px;
    }
    #navbar-rebirth{
        @media screen and (max-width: 768px) {
            margin-top:15px;
        }
    }
}
#jHeader.invert.overflow.fixed{
    opacity:1;
    background-color: $pub-red !important;
    -webkit-transition: opacity .5s ease-in;
    -moz-transition: opacity .5s ease-in;
    -o-transition: opacity .5s ease-in;
    -ms-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in;
}
#jHeader.invert{
    #navbar-rebirth{
        background-color: $pub-red;
    }
}
#jHeader.overflow{
 opacity:0;
}
