/* CSS Document */
.home{
    #jHeader{
       background-color: transparent !important; 
        @media screen and (max-width: $sm-screen) {
            background-color: $pub-red !important;    
        }
    }
    #jHeader.invert.overflow.fixed{
       background-color: $pub-red !important; 
    }
    #jHeader.invert{
        #navbar-rebirth{
            background-color: transparent;
        }
    }
    .intro {
        max-height: 690px;
        background-color: #d72130;
        @media screen and (max-width: 1920px) {
          max-height: 645px;
        }
        @media screen and (max-width: 1680px) {
          max-height: 555px;
        }
        @media screen and (max-width: 1440px) {
          max-height: 505px;
        }
        @media screen and (max-width: 1366px) {
          max-height: 485px;
        }
        @media screen and (max-width: 1280px) {
          max-height: 435px;
        }
        @media screen and (max-width: 1024px) {
          max-height: 360px;
        }
        @media screen and (max-width: 768px) {
            max-height: 480px;
        }
        .image-cover {
            background-repeat: no-repeat;
            background-position: center top;
            -webkit-background-size: contain;
            -moz-background-size: contain;
            -o-background-size: contain;
            background-size: contain ;
            @media screen and (max-width: 768px) {
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover ;
                background-position-x: -250px;
            }
        }
    }

	#clients-container{ 
	padding-bottom:50px;
		.clients-drpd{
			margin-bottom:0px; 	
			.wpb_wrapper{
				margin:0 auto;
				width:240px;	
				h1{
                    a, a:visited, a:focus, a:active{
                       color: $pub-red !important;
                        text-decoration: none;
                    }
					display:inline-block;
                    margin-top: 30px;
					&:hover{
						cursor:context-menu;
					}
                    &:after{
                        margin-top: 5;
                        content:"\F078";
                        font-family: FontAwesome;
                        font-style: normal;
                        font-weight: 100;
                        color: $pub-red;
                        font-size: 12;
                        margin-left: 10px;
                        position: absolute;
                    }
                    @media screen and (max-width: $md-screen) {
                        &:after{
                            content:"\F077";
                        }
                    }
				}
			}
            
        }
        .clients-drpd{
            h1{
                &:after{
                    font-size: 25px;
                    padding-top:5px;
                }
            }
        }
        .clients-drpd[aria-expanded="true"] {
            h1{
                &:after{
                    content:"\F077";
                }
            } 
        }
        .clients-drpd[aria-expanded="false"] {
            h1{
                &:after{
                    content:"\F078";
                }
            } 
        }
		.clients-inline{
			position:relative;	
			border:none;
			width:100%; 
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-ms-transition: all 0.3s;
			-o-transition: all 0.3s;
			transition: all 0.3s;
            box-shadow: none;
		}
	}
	
	.services-container{
		h1{
			padding-bottom:50px;
            margin-top:30px;
		}
		.vc_col-sm-4:first-child{
			border-right:1px $pub-dark-gray solid;
		}
		.vc_col-sm-4:last-child{
			border-left:1px $pub-dark-gray solid;
		}
		.wpb_text_column{
			margin-bottom:0px;
			p{
				padding-bottom:0px;	
			}
		}
		.primary-cta{
			padding-top:0px;	
			padding-bottom:50px;
            @media screen and (max-width: $sm-screen) {
                padding-top:30px;   
            }
		}
		
	}
	
    .leadTheChangeSection{
        .vc_video-bg.vc_hidden-xs{
            @media screen and (max-width: $md-screen) {
                display:block !important;
            } 
        }
    }
}
