#IwdModal{
    background: rgba(205,25,42,0.9);
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    opacity: 0; 
    @media screen and (max-width: $xs-screen) {
        background: rgba(255,255,255,0);
    }
    .modal-content {
        width:600px;
        height:1000px;
        background: rgb(205, 25, 42);
        color: #fae6e6;
        padding: 3px 30px 30px 30px;
        border-radius: 0px !important;
        box-shadow: none !important;
        border: none !important;
        margin: auto;
        @media screen and (max-width: $sm-screen) {
            width: 100%;
        }
        .close {
            font-size: 33px !important;
            color: #fae6e6 !important;
            opacity: 1 !important;
            position: fixed;
            margin-left:539px;
            @media screen and (max-width: $sm-screen) {
                margin-left:90%;
            }
            @media screen and (max-width: $xs-screen) {
                margin-left:80%;
            }
        }
        .text {
            font-family:Helvetica Neue, Helvetica, Arial, sans-serif !important;
            letter-spacing: 0.25px !important;
            line-height: 1;
        }
        h3 {
            font-size: 40px;
            font-weight: 500;
            padding: 20px 0px 20px 0px;
            position: absolute;
            bottom: 316px;
            width:600px;
            height: 250px;
            @media screen and (max-width: $xs-screen) {
                font-size: 35px;
                top: 298px;
            }
        }
        h2 {
            font-size: 40px;
            font-weight: 900;
            position: absolute;
            bottom: 143px;
            width:600px;
            height: 310px;
            @media screen and (max-width: $xs-screen) {
                font-size: 35px;
                top: 401px;
            }
        }
        .iwdNames {
            position: relative;
            top:0px;
            height: 8275px;
            @media screen and (max-width: $xs-screen) {
                height: 4850px;
            }
            h1 {
                font-size: 54px;
                font-weight: 800;
                padding:25px 0px 20px 0px;
                position: relative;
                top:30px;
                @media screen and (max-width: $xs-screen) {
                    font-size: 34px;
                }
            }    
        }
        #whiteLine {
            height:1px;
            width: 540px;
            bottom: 567px;
            left:30px;
            background: #fae6e6;;
            position:absolute;
            @media screen and (max-width: $xs-screen) {
                width: 100%;
                left:0px;
                top: 300px;
            }
        }
    }
}

.stop-scrolling {
    overflow: hidden;
    height:100%;
}
