html, body {
    height: 100% !important;
} 
@font-face {
    font-family: 'GothamBook';
    src: url('font/GothamBook.eot');
    src: url('font/GothamBook.eot?#iefix') format('embedded-opentype'),
        url('font/GothamBook.woff2') format('woff2'),
        url('font/GothamBook.woff') format('woff'),
        url('font/GothamBook.ttf')  format('truetype'),
        url('font/GothamBook.svg#svgFontName') format('svg');
}

.navbar, footer .container-fluid, .copyright p{ 
    max-width: $max-Gwidth;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, p, button, li, span, .primary-title.invert, .iconScroll .info, .wp-title, .welcome-message, .vc_btn3-container, .title-project, .menu-link{
    font-family: GothamBook !important; 
    letter-spacing: 2px !important;
}
h1, h2, h3, h4, h5{
    line-height: 150%;
}
p, a, button{
    line-height: 200%; 
}
.intro{
    .image-cover {
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        @media screen and (max-width: $sm-screen) {
            background-attachment: inherit;
        }
    }
}
.wpb_wrapper{
	h1{
		font-size:	$fSize-h1;
		padding-bottom:30px;
		padding-top:30px;
		color:$pub-red;
        line-height: 150%;
	}
	h2{
		font-size:	$fSize-h2;
		padding-bottom:20px;
	}
	h3{
		font-size:	$fSize-h3;
		padding-bottom:20px;
	}
	p{
		font-size:$fSize-p;
		padding-bottom:15px;
	}
}
.col-sm-6:first-child .wpb_text_column, .col-sm-12:first-child .wpb_text_column, .col-sm-9:first-child .wpb_text_column{
    padding-left: 15%;
}
.col-sm-6:last-child .wpb_text_column, .col-sm-12:last-child .wpb_text_column, .col-sm-9:last-child .wpb_text_column{
    padding-right:15%;
}
.vc_row{
    margin-left: 0px !important;
    margin-right: 0px !important;
    
}
.vc_column-inner{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.mobile-show{
	display:none;
}
.desktop-show{
	display:block;
}

@media screen and (max-width: $sm-screen) {
	.mobile-show{
		display:block;
	}
	.desktop-show{
		display:none;
	}
} 

@media screen and (max-width: $md-screen) {
    .col-sm-6:first-child .wpb_text_column, .col-sm-12:first-child .wpb_text_column, .col-sm-9:first-child .wpb_text_column{
        padding-left:5%;
    }
    .col-sm-6:last-child .wpb_text_column, .col-sm-12:last-child .wpb_text_column, .col-sm-9:last-child .wpb_text_column{
        padding-right:5%;
    }
}

.fa.fa-angle-left:before, .fa.fa-angle-right:before{
    font-size: 40px;
    position: absolute;
    top: 3px;
    text-align: center;
    width: 20px;
    margin: 0 auto;
    left: 15px;
}
// disabling the comments because theme comment is broken
.intro-comments, .button-blog{
    display:none !important;
}
.loader{
    width: 140px;
    height:140px;
    position: fixed;
    z-index: 10000; 
} 
.anchor-full{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    z-index: 1;
}
.iconScroll{
    left: 0px;
}
.intro{
    max-height:480px;
    .info{
        text-shadow: 1px 1px 10px white;
    }
}
.single-post{
    .intro{
        @media screen and (min-width: $md-screen) {
            max-height:620px; 
        }
    }
}
.grecaptcha-badge{
    display: none;
    z-index: 10; 
}