.image-cover{
	.portfolio-filter-container{
		position:absolute;
		bottom:0px;
		.wp-title{
			text-align:center;
			@media screen and (max-width: $md-screen) {
				font-size: 130%;
			}
		}
		.welcome-message{
			text-align:center;	
		}
		.dropdown-menu{
			position:inherit;	
		}
	} 
}
#portfolio{ 
	.thumbnails{ 
		margin:0px;
		.thumbnail{
			padding:0px;
            &:hover{
                .rollover{ 
                    background: rgba(213, 37, 54, 0.9);
                    .title-project{
                        color:white;
                    }
                    .tags-project{
                        display:none;
                    }
                    .vc_btn3-container{
                        a{
                            border: 1px solid #ffffff;
                            color:white;
                            text-transform: capitalize;
							margin-top: 20px;
                        }
					}
					
                }
			}
		}
	}
	#portfolio-carousel{ 
		height:auto !important;
		.carousel-inner{
			height:500px;
			.item{
				width:100%;
				top:0px !important;
				position:absolute; 
			}
		}
		.carousel-control{
			position:absolute;
			width:50px;
			height:50px;
			background-color:$pub-red;
			top:40%;	
		}
		.carousel-control.prev{
			left:0px;	
			right:auto;
		}
		.carousel-control.next{
			right:0px;	
			left:auto;
		}
	}
}