.page-template-page-template-services{
    #jHeader{
       background-color: transparent !important; 
        @media screen and (max-width: $sm-screen) {
         background-color: $pub-red !important;   
        }
    }
    #jHeader.invert.overflow.fixed{
       background-color: $pub-red !important; 
    }
    #jHeader.invert{ 
        #navbar-rebirth{
            background-color: transparent;
        }
    }
    .intro{
        //height:30%; 
        height:90%;  
        .iconScroll{
            bottom:38%;
            .info{
                font-size: $fSize-super-heading;
                text-transform: uppercase;
            }
        }
    }
    #primery-service{
        margin-left: 0px;
        margin-right: 0px;
        .vc_column-inner{
            padding: 0px;
        }
        #black-row{
            .wpb_text_column{
                margin:0px;
                padding: 20px;
                color:$white;
                background-color: $pub-dark-gray;
                p{
                    padding: 0px;
                }
            }
        }
        .services-tab{
            margin:0px;
            .wpb_tour_tabs_wrapper{
                max-height: 450px;
                @media screen and (max-width: $md-screen) {
                    max-height: none;  
                }
                ul{ 
                position: absolute;
                width:50%;
                right:0px;
                z-index: 2;
                border:none;
                padding-top:20px;
                @media screen and (max-width: $md-screen) {
                    top:auto !important;
                    padding-top: 0px;
                }

                li{
                    text-align: center;
                    font-size: $fSize-nav-li;
                    padding-left:0px;
                    display: block;
                    background: none;
                    a{
                        border:none;
                        outline:none; 
                        font-size: $fSize-nav-li;
                        color:$pub-dark-gray;
                    }
                    @media screen and (max-width: $md-screen) {
                       width:24.333%; 
                        padding-left: 0px;
                    }
                    &:first-child{
                        padding-left:8%;
                    }
                }
                li.ui-state-active{
                    color:$pub-red; 
                    background: none;
                    a{
                       color:$pub-red;
                           &:after{ 
                            content: "";
                            width: 100%;
                            height: 2px;
                            bottom: 0;
                            background-color: $pub-red;
                            display: block;
                            -webkit-transition: width .3s ease 0s,left .3s ease 0s;
                            -o-transition: width .3s ease 0s,left .3s ease 0s;
                            transition: width .3s ease 0s,left .3s ease 0s;
                        } 
                    } 
                }
                li.ui-state-focus{
                   color:$pub-red; 
                }
                li.ui-state-hover{
                    color:$pub-dark-gray; 
                    background: none;
                }
                @media screen and (max-width: $md-screen) {
                    top:0px;
                    width:100%;
                    background-color: $white;
                    opacity:.7;
                }
            }
                .ui-tabs-panel{
                    position:relative;
                    display:inline-block;
                    padding:0px;
                    max-height:450px;
                    width:100%; 

                    .img-container{
                        min-height:450px;
                        -webkit-background-size: cover;
                        -moz-background-size: cover;
                        -o-background-size: cover;
                        background-size: cover;
                        background-position: left center;
                        padding:0px;
                        @media screen and (max-width: $md-screen) {
                           background-size: 100% auto !important; 
                            background-position: center top !important;
                            min-height:258px;
                            height:auto;
                        }
                        .vc_column-inner{
                            min-height:450px;
                        }
                    }
                    .desc-container{
                        top:100px;
                        padding:0% 5% 0% 5%;
                        display: inline-table;
                        @media screen and (max-width: $md-screen) {
                            padding:8% !important;      
                        }
                        h1{
                            font-size: $fSize-h1;
                            color:$pub-red;
                            margin-bottom: 20px;
                            padding:0px;
                        }
                        p{
                            font-size: $fSize-small-li;
                        }

                        @media screen and (max-width: $md-screen) {
                            top:0px;
                            height: auto;
                            padding: 5%;
                        }
                        .wpb_text_column{
                            padding-left:0px;
                            
                        }
                    }
                } 
            }
        } 
        
    }
    #services-main{
        margin-left: 0px;
        margin-right: 0px;
        .vc_column-inner{
            padding:0px;
            h1{
                padding-top: 50px;
            }
            .services-container{
                margin-bottom: 80px;
                .vc_column-inner{
                    padding:0px;
                    .wpb_text_column{
                        margin-bottom:0px;
                        p{
                            padding-bottom:0px;	
                        }
                    }
                }
                .middle-col{
                    border-left:1px gray solid;
                    border-right:1px gray solid;
                    @media screen and (max-width: $sm-screen) {
                        border-top: 1px gray solid;
                        border-bottom: 1px gray solid;
                        border-left:none;
                        border-right:none;
                    }
                }
                .vc-col-sm-4,.col-sm-4{
                    @media screen and (max-width: $sm-screen) {
                        padding:20px;
                        max-width: 280px;
                        margin: 0 auto;
                    }
                }
                
            }
            .primary-cta{
                padding-top:50px;	
                padding-bottom:50px;
            }
        }
    }
    .vc_tta-accordion{
        @media screen and (max-width: $md-screen) {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}