.intro {
  height: 90%;

  .image-cover {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover ; 
  }

  .portfolio-filter-container {
    line-height: initial;
    z-index: 1;
    color:$white;
    &:before {
      bottom: 0;
      transform: skewY(3deg);
      transform-origin: 100%;
      background-color: $pub-red;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      -webkit-backface-visibility: hidden;
      z-index: -1;
    }

    &:after {
      bottom: 0;
      transform-origin: 100%;
      background-color: $pub-red;
      content: '';
      display: block;
      height: 100%; 
      left: 0;
      position: absolute;
      right: 0;
      -webkit-backface-visibility: hidden;
      z-index: -1; 
    }
  }

  .welcome-message {
    font-size: $fSize-h2;
    text-transform: uppercase;
    

    .left {
      display: inline-block;
      background-color: $white;
      width: 34px;
      height: 2px;
      position: relative;
      top: -3.5px;
      left: -18px;
    }

    .right {
      display: inline-block;
      background-color: $white;
      width: 34px;
      height: 2px;
      position: relative;
      top: -3.5px;
      left: 18px;
    }
  }

  .wp-title {
    line-height: 80px;
    font-size: $fSize-super-heading;
    text-transform: uppercase;
    padding-bottom: 25px;
    /* increase the padding from bottom after hiding filter (add this after adding less than 4 works) */
//    @media screen and (max-width: $sm-screen) {
//       font-size: 26px !important;
//        margin-bottom: 0px;
//        padding-bottom: 0px;
//    }
      
  } 

  ul.filters {
    /* hide the filter for launch (add this after adding less than 4 works) */
    display:none;  
    li {
      color: $white;
      font-size: $fSize-nav-li;
      text-transform: capitalize;
    }
    :first-child {
      font-size: $fSize-p;
      text-transform: uppercase;
      display: none;
    }

    :first-child:before {
      border-top: 1px solid #ffffff;
      border-bottom: 1px solid #ffffff;
      left: 20%;
    }
    :first-child:after {
      background-color: #ffffff;
      left: 20%;
    }

    // overwriting elements
    li:not(:first-child):hover:after,
    li:not(:first-child):focus:after,
    li:not(:first-child).is-checked:after {
      border-color: #ffffff;
      border-bottom: 2px solid #ffffff;
    }


  }

  .mobile-show {
    button {
      color: #ffffff;
    }
  }
}

@media (max-width: 1199px) and (min-width: $sm-screen) {
  .intro {
    .filters li:first-child span {
        display: block;
    }
  }
}

@media screen and (max-width: $md-screen) {
  .intro ul.filters :first-child:before {
    top: 17px;
  }

  .intro ul.filters :first-child:after {
    top: 29px;
  }
}

@media screen and (max-width: $sm-screen) {
  .intro {
    .welcome-message {
      padding-top: 25px;
    }

    .filters{
      button {
        display: none;
      }
    }
  }
}


@media screen and (max-width: $md-screen) {
  .intro {
    .welcome-message {
      font-size: $fSize-h2;
    }
  }
}
