.page-template-page-template-team{
    #jHeader{
        background-color: transparent !important;
        @media screen and (max-width: $sm-screen) {
            background-color: $pub-red !important;
        }
    }
    #jHeader.invert.overflow.fixed{
        background-color: $pub-red !important;
    }
    #jHeader.invert{
        #navbar-rebirth{
            background-color: transparent;
        }
    }
    .intro{
        height:70%;
        .iconScroll{
            bottom:38%;
            @media screen and (max-width: $md-screen) {
                bottom:10%;
            }
            .info{
                font-size: $fSize-super-heading;
                text-transform: uppercase;
                @media screen and (max-width: $md-screen) {
                    font-size: 150%;
                }
            }
        }
    }
    .wpb_text_column{
        margin-bottom: 0px;
        .wpb_wrapper{
            h1{
                text-transform: uppercase;
                @media screen and (max-width: $md-screen) {
                    line-height: 100%;
                }
                span{
                    color: white !important;
                    @media screen and (max-width: $md-screen) {
                        font-size: 50%;
                        line-height: auto;
                    }
                }
            }
        }
    }
    .our-people-subhead{
        margin-bottom: 0px !important;
    }
    #pub_team_in_action{
        margin-left: 0px;
        margin-right: 0px;
        .vc_column-inner{
            padding: 0px;
        }
        .vc_grid-item{
            padding: 0px;
        }
        .vc_pageable-slide-wrapper{
            margin-right: 0px;
        }
        .wpb_content_element{
            margin-bottom: 30px;
        }
        .vc_grid-item-mini{
            max-height: 550px;
            background: #181a1a;
            @media screen and (max-width: $md-screen) {
                max-height: none;   
            }
            
            overflow: hidden;
            .vc_gitem-animated-block {
                float: left;
                width:50%;
                display:inline-block;
                @media screen and (max-width: $md-screen) {
                    width:100%;
                }
            }
            .vc_gitem-zone-a{
                height:550px;
                @media screen and (max-width: $md-screen) {
                    height: auto;
                }
            }
            .vc_gitem-zone-c{
                width:49.5%;
                display:inline-block;
                position: relative;
                height: 550px;
                background: #181a1a !important;
                color: white;
                max-width: 650px;
                float: left;
                @media screen and (max-width: $md-screen) {
                    width:100%;
                    height: auto;
                    padding:25px;
                    position:relative; 
                    max-height: none;
                    float: none;
                    max-width: none;
                }
                .vc_gitem-zone-mini{
                    position: absolute;
                    padding: 15px;
                    top: 50%;
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%, -50%);
                    @media screen and (max-width: $md-screen) {
                        position: relative;
                        padding: 15px;
                        margin-right: auto;
                        top: 0;
                        left: 0;
                        transform: translate(0, 0);
                        padding: 0;
                    }
                    h4{
                        font-size: 25px;
                        color: white;
                        text-align: center !important;
                        width:100%;
                        text-transform: uppercase;
                        @media screen and (max-width: $md-screen) {
                            font-size: 20px;
                        }
                        &:after{
                            content:"";
                            display:block;
                            position:inherit;
                            margin-top: 20px;
                            width:60px;
                            background-color: $pub-dark-gray;
                            height:3px;
                        }
                    }
                    .vc_gitem-col{
                        background: #181a1a;
                        text-align: center;
                    }
                    .vc_btn3-container{
                        text-align: center;
                        a{
                            background-color: $pub-red;
                            border-radius: 0px;
                        }
                    }
                }
            }
        }   
        .vc_pageable-slide-wrapper{
            .vc_grid-item:nth-of-type(2n+1){
                .vc_gitem-animated-block{
                    float:right;
                }
                .vc_gitem-zone-c{
                    float: right;
                    @media screen and (max-width: $md-screen) {
                        float: none;
                    }
                }
            }
        }
    }
    #lionHeartedCarousel{
        z-index: 1;
        .carousel-inner{
            position: relative;
            .item{
                background-repeat: no-repeat;
                background-position: top left;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                min-height: 600px;
                @media screen and (max-width: $sm-screen) {
                    background-image: none !important;
                }
                .lionImageHolder{
                    display: none;
                    overflow: hidden;
                    padding: 0px;
                    @media screen and (max-width: $sm-screen) {
                        display: block;
                    }
                    img{
                        max-height: 400px;
                        max-width: none;
                    }
                }
                .lionInfoHolder{
                    margin-left: 50%;
                    padding-top: 200px;
                    padding-right: 10%;
                    @media screen and (max-width: $md-screen) { 
                        padding-right: 60%;
                    }
                    @media screen and (max-width: $sm-screen) { 
                        margin-left: auto;
                        padding: 15px;
                    }
                    .lionName{
                        color:$pub-red;
                        font-size: 24px;
                        text-shadow: -1px 1px 12px rgba(255, 255, 255, 1);
                    }
                    .lionRole{
                        color:$pub-dark-gray;
                        font-size: 16px;
                        text-transform: uppercase;
                        text-shadow: -1px 1px 12px rgba(255, 255, 255, 1);
                    }
                    .lionDesc{
                        text-shadow: -1px 1px 12px rgba(255, 255, 255, 1);
                    }
                }
            }
        }
        .tparrows{
            position: absolute;
            top: 50%;
            margin:15px;
            border-radius: 40px;
            @media screen and (max-width: $sm-screen) { 
                top: 325px;
            }
        }
        .tp-rightarrow{
            right:0px;
        }

    }
}
