.rebirth-works-template-default{
    .intro{
        height:0px;
    }
    .slider-project{
        .work-main-section{
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: $md-screen) {
                display: inline-block;
            }
            .slider-info-container{
                h1{
                    width: 100%;
                    color:$pub-red;
                    text-transform: uppercase;
                }
                p.works-description{
                    width: 100%;
                    padding: 30px 5% 0px 5%;
                    text-align: center;
                }
            }
            .workslider{
                .rev_slider_wrapper{
                    // max-height: 600px;
                    .rev_slider{
                        // max-height: 600px;
                        iframe{
                            // max-height:595px;
                        }
                    }
                }
            }
        }
        .flickity-prev-next-button{ 
            background-color: $pub-dark-gray !important;
            color:$white !important;
        }
        .flickity-page-dots{
            .is-selected{
                background-color:$pub-red !important; 
                border-color:$pub-red !important; 
            }
        } 
        .tp-parallax-wrap{
            left:0px !important;
        }
        
    }
    .client-bar{
        background-color: $pub-red;
        color:$white;
        text-align: center;
        padding:10px;
        margin-bottom: 0px;
    }
    .infowork{
        display:none;
        background:$pub-red !important;
        li{
            color:$white !important;
            font-style: italic;
            span{
                color:$white !important;
                font-weight: bold;
                font-style: normal;
            }
            a{
                color:$white !important;
            }
        }
    }
    .slider-project{
        .workslider{
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .section.works-tab{
        display:inherit;
        .col-md-12{
            position:relative;
            margin:0px;
            padding:0px;
            display: grid;
            background-color: $white;
            ul{ 
                position: absolute;
                width:50%;
                right:0px;
                z-index: 2;
                border:none;
                top:20px;
                li{
                    text-align: center;
                    font-size: $fSize-nav-li;
                    padding-left: 0px;
                    display: block;
                    a{
                        border:none;
                        outline:none; 
                        font-size: $fSize-nav-li;
                        color:$pub-dark-gray;
                        cursor: pointer;
                        @media screen and (max-width: $md-screen) {
                            font-size: 75%;
                            height: 45px;
                            padding-top: 15px;
                        }
                        &:active{
                        color:$pub-red; 
                        }
                        &:focus{
                           color:$pub-red; 
                        }
                        &:hover{
                            color:$pub-dark-gray; 
                            background: none;
                        }
                    }
                    @media screen and (max-width: $md-screen) {
                       width:33.333%; 
                        padding-left: 0px;
                    }
                    &:first-child{
                        padding-left: 8%;
                        @media screen and (max-width: $md-screen) {
                            padding-left: 0px;
                        }
                    }
                }
                li.active{
                    a{
                        color:$pub-red;
                        background-color: transparent;
                        &:after{
                            content: "";
                            width: 100%;
                            height: 2px;
                            bottom: 0;
                            margin-top: 5px;
                            background-color: $pub-red;
                            display: block;
                            -webkit-transition: width .3s ease 0s,left .3s ease 0s;
                            -o-transition: width .3s ease 0s,left .3s ease 0s;
                            transition: width .3s ease 0s,left .3s ease 0s; 
                        }
                    }
                }
                @media screen and (max-width: $md-screen) {
                    top:0px;
                    width:100%;
                    background-color: $white;
                    opacity:.7;
                }
            }
            .tab-content{
                position:relative;
                display:inline-block;

                .img-container{
                    min-height:450px;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover !important;
                    background-position: left center;
                    padding:0px;
                    @media screen and (max-width: $md-screen) {
                       background-size: 100% auto !important; 
                        background-position: center top !important;
                        min-height:258px;
                        height:auto;
                        top: 45px;
                    }
                }
                .desc-container{
                    top:100px;
                    padding:0% 5% 0% 5%;
                    display: inline-table;
                    h1{
                        font-size: $fSize-h1;
                        color:$pub-red;
                        margin-bottom: 20px;
                    }
                    p{
                        font-size: $fSize-small-li;
                    }
                    @media screen and (max-width: $md-screen) {
                        top:0px;
                        height: auto;
                        padding: 5%;
                        margin-top: 45px;
                    }
                    .wpb_text_column{
                        padding-left:0px;

                    }
                }
            }
            .opZero{
                opacity:0;
                -webkit-transition: opacity .3s ease-out;
                -moz-transition: opacity .3s ease-out;
                -o-transition: opacity .3s ease-out;
                -ms-transition: opacity .3s ease-out;
                transition: opacity .3s ease-out;
            }
            .opOne{
                opacity:1;
                -webkit-transition: opacity .3s ease-in;
                -moz-transition: opacity .3s ease-in;
                -o-transition: opacity .3s ease-in;
                -ms-transition: opacity .3s ease-in;
                transition: opacity .3s ease-in;
            }
        }
    }
}

// stand alone page works template
.page-template-page-template-works{
    #jHeader{
       background-color: transparent !important; 
        @media screen and (max-width: $sm-screen) {
         background-color: $pub-red !important;   
        }
    }
    #jHeader.invert.overflow.fixed{
       background-color: $pub-red !important; 
    }
    #jHeader.invert{
        #navbar-rebirth{
            background-color: transparent;
        }
    }
    .intro{
        //height:50%;
        height:90%;
        .iconScroll{
            bottom:38%;
            @media screen and (max-width: $md-screen) {
               bottom:10%; 
                left:0px;
            }
            .info{
                font-size: $fSize-super-heading;
                text-transform: uppercase;
            }
        }
    }
    .vc_grid-filter{ 
       /* hide the filter for launch (remove this after adding more than 4 works on MOBILE) */ 
        display:none !important; 
    }
    ul.vc_grid-filter{
        position: absolute;
        top: -127px;
        width: 100%;
        height:127px;
        padding: 45px 0px;
        background: $pub-red;
        left: 0px;
        text-align: center;
        list-style: none;
        margin-bottom: 0px;
        /* hide the filter for launch (remove this after adding more than 4 works on DESKTOP) */
        // display:none;
        li{
            font-family: 'Raleway', sans-serif;
            letter-spacing: 2.9px;
            font-weight: 400;
            line-height: 25px;
            font-size: 13px !important;
            border: none;
            color:$white;
            min-width: 70px;
            span{
                &:after{
                    content: "";
                    display: block;
                    width: 0px;
                    height: 10px;
                    border-bottom: transparent;
                    margin: 0 auto;
                    position: inherit;
                    bottom: 20px;
                }
            }
        }
        li.vc_active{
            background-color: transparent !important;
            color:$white !important;
            span{
                color:$white !important;
                &:after{
                    width: 25px;
                    height: 10px;
                    border-bottom: 2px solid #ffffff;
                    margin: 0 auto;
                    position: inherit;
                    bottom: 20px;
                } 
            }
        }
        li:hover{
            background-color: transparent !important;
            color:$white !important;
            span{
                color:$white !important;
                    &:after{
                    width: 25px;
                    height: 10px;
                    border-bottom: 2px solid #ffffff;
                    margin: 0 auto;
                    position: inherit;
                    bottom: -7px;
                    -webkit-transition: width .3s ease 0s,left .3s ease 0s;
                    -o-transition: width .3s ease 0s,left .3s ease 0s;
                    transition: width .3s ease 0s,left .3s ease 0s;
                }
            }
        }
    }
    .vc_gitem-zone{
        .vc_btn3-container{
            a{
                border: 1px solid #ffffff;
            }
        }
        .title-project{
            font-weight: 600;
            color:white !important;
        }
    }
    .vc_btn3-block.vc_btn3-size-lg{
        padding: 40px !important;
    }
}