/*
 Theme Name:   Publicis
 Theme URI:    http://localhost:8888/Publicis/
 Description:  rebirth-jellythemes Child Theme
 Author:       Amir Navid
 Author URI:   http://localhost:8888/
 Template:     rebirth-jellythemes
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         Custom
 Text Domain:  Publicis
*/
/* Publicis Font Family */
/* batch test line */
/* CSS Document */
/* Publicis Variables */
/* colors */
/* font size */
/* media screen sizes */
/* stabilizers */
html, body {
  height: 100% !important; }

@font-face {
  font-family: 'GothamBook';
  src: url("font/GothamBook.eot");
  src: url("font/GothamBook.eot?#iefix") format("embedded-opentype"), url("font/GothamBook.woff2") format("woff2"), url("font/GothamBook.woff") format("woff"), url("font/GothamBook.ttf") format("truetype"), url("font/GothamBook.svg#svgFontName") format("svg"); }
.navbar, footer .container-fluid, .copyright p {
  max-width: 1950px;
  margin: 0 auto; }

h1, h2, h3, h4, h5, p, button, li, span, .primary-title.invert, .iconScroll .info, .wp-title, .welcome-message, .vc_btn3-container, .title-project, .menu-link {
  font-family: GothamBook !important;
  letter-spacing: 2px !important; }

h1, h2, h3, h4, h5 {
  line-height: 150%; }

p, a, button {
  line-height: 200%; }

.intro .image-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover; }
  @media screen and (max-width: 768px) {
    .intro .image-cover {
      background-attachment: inherit; } }

.wpb_wrapper h1 {
  font-size: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  color: #d72130;
  line-height: 150%; }
.wpb_wrapper h2 {
  font-size: 18px;
  padding-bottom: 20px; }
.wpb_wrapper h3 {
  font-size: 16px;
  padding-bottom: 20px; }
.wpb_wrapper p {
  font-size: 15px;
  padding-bottom: 15px; }

.col-sm-6:first-child .wpb_text_column, .col-sm-12:first-child .wpb_text_column, .col-sm-9:first-child .wpb_text_column {
  padding-left: 15%; }

.col-sm-6:last-child .wpb_text_column, .col-sm-12:last-child .wpb_text_column, .col-sm-9:last-child .wpb_text_column {
  padding-right: 15%; }

.vc_row {
  margin-left: 0px !important;
  margin-right: 0px !important; }

.vc_column-inner {
  padding-right: 0px !important;
  padding-left: 0px !important; }

.mobile-show {
  display: none; }

.desktop-show {
  display: block; }

@media screen and (max-width: 768px) {
  .mobile-show {
    display: block; }

  .desktop-show {
    display: none; } }
@media screen and (max-width: 991px) {
  .col-sm-6:first-child .wpb_text_column, .col-sm-12:first-child .wpb_text_column, .col-sm-9:first-child .wpb_text_column {
    padding-left: 5%; }

  .col-sm-6:last-child .wpb_text_column, .col-sm-12:last-child .wpb_text_column, .col-sm-9:last-child .wpb_text_column {
    padding-right: 5%; } }
.fa.fa-angle-left:before, .fa.fa-angle-right:before {
  font-size: 40px;
  position: absolute;
  top: 3px;
  text-align: center;
  width: 20px;
  margin: 0 auto;
  left: 15px; }

.intro-comments, .button-blog {
  display: none !important; }

.mask {
  position: relative; }

.loader {
  width: 140px;
  height: 140px;
  position: absolute;
  z-index: 10000; }

.anchor-full {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  z-index: 1; }

.iconScroll {
  left: 0px; }

.intro {
  max-height: 480px; }
  .intro .info {
    text-shadow: 1px 1px 10px white; }

#jHeader {
  top: 0px;
  padding: 15px;
  background-color: #d72130 !important; }
  @media (max-width: 1200px) and (min-width: 991px) {
    #jHeader ul li a {
      margin: 0px;
      font-size: 14px; } }
  #jHeader .navbar-brand {
    top: 0px; }
  @media screen and (max-width: 768px) {
    #jHeader #navbar-rebirth {
      margin-top: 15px; } }

#jHeader.invert.overflow.fixed {
  opacity: 1;
  background-color: #d72130 !important;
  -webkit-transition: opacity .5s ease-in;
  -moz-transition: opacity .5s ease-in;
  -o-transition: opacity .5s ease-in;
  -ms-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in; }

#jHeader.invert #navbar-rebirth {
  background-color: #d72130; }

#jHeader.overflow {
  opacity: 0; }

.fiftyXfixty-txtL-imgR-module {
  margin-left: 0px;
  margin-right: 0px; }
  .fiftyXfixty-txtL-imgR-module .fXf-txtL-imgR-left-col {
    background: #d72130;
    padding: 0% 3%;
    padding-top: 1%;
    max-height: 400px;
    height: 350px; }
    @media screen and (max-width: 991px) {
      .fiftyXfixty-txtL-imgR-module .fXf-txtL-imgR-left-col {
        max-height: none !important;
        height: auto !important; } }
    .fiftyXfixty-txtL-imgR-module .fXf-txtL-imgR-left-col .vc_column-inner {
      height: 100%;
      padding-top: 0px; }
      .fiftyXfixty-txtL-imgR-module .fXf-txtL-imgR-left-col .vc_column-inner h1 {
        font-size: 30px;
        color: #ffffff;
        letter-spacing: 3px;
        padding-bottom: 20px;
        line-height: 30px; }
      .fiftyXfixty-txtL-imgR-module .fXf-txtL-imgR-left-col .vc_column-inner p {
        color: #ffffff;
        max-width: 600px;
        margin: 0 auto; }
      .fiftyXfixty-txtL-imgR-module .fXf-txtL-imgR-left-col .vc_column-inner .fXf-txtL-imgR-left-cta a {
        border: 1px solid #ffffff;
        width: 200px;
        letter-spacing: 3px; }
      .fiftyXfixty-txtL-imgR-module .fXf-txtL-imgR-left-col .vc_column-inner .wpb_content_element {
        padding-left: 10%;
        padding-right: 10%; }
      .fiftyXfixty-txtL-imgR-module .fXf-txtL-imgR-left-col .vc_column-inner .wpb_wrapper {
        height: 95%;
        padding-top: 2.5%;
        padding-bottom: 2.5%; }
  .fiftyXfixty-txtL-imgR-module .fXf-txtL-imgR-right-col .vc_column-inner {
    min-height: 350px; }
    @media screen and (max-width: 991px) {
      .fiftyXfixty-txtL-imgR-module .fXf-txtL-imgR-right-col .vc_column-inner {
        min-height: 500px !important; } }
  @media screen and (max-width: 991px) {
    .fiftyXfixty-txtL-imgR-module .vc_col-sm-6 {
      width: 100%; } }

.bgImg-txtOver-module .vc_column-inner .wpb_wrapper {
  min-height: 330px; }
  .bgImg-txtOver-module .vc_column-inner .wpb_wrapper h1 {
    color: #ffffff;
    padding-top: 30px; }
  .bgImg-txtOver-module .vc_column-inner .wpb_wrapper p {
    padding: 0px 5% 50px 5%;
    color: #ffffff; }
  .bgImg-txtOver-module .vc_column-inner .wpb_wrapper .wpb_text_column {
    margin-bottom: 0px; }

.image-cover .portfolio-filter-container {
  position: absolute;
  bottom: 0px; }
  .image-cover .portfolio-filter-container .wp-title {
    text-align: center; }
    @media screen and (max-width: 991px) {
      .image-cover .portfolio-filter-container .wp-title {
        font-size: 130%; } }
  .image-cover .portfolio-filter-container .welcome-message {
    text-align: center; }
  .image-cover .portfolio-filter-container .dropdown-menu {
    position: inherit; }

#portfolio .thumbnails {
  margin: 0px; }
  #portfolio .thumbnails .thumbnail {
    padding: 0px; }
    #portfolio .thumbnails .thumbnail:hover .rollover {
      background: rgba(213, 37, 54, 0.9); }
      #portfolio .thumbnails .thumbnail:hover .rollover .title-project {
        color: white; }
      #portfolio .thumbnails .thumbnail:hover .rollover .tags-project {
        display: none; }
      #portfolio .thumbnails .thumbnail:hover .rollover .vc_btn3-container a {
        border: 1px solid #ffffff;
        color: white;
        text-transform: capitalize;
        margin-top: 20px; }
#portfolio #portfolio-carousel {
  height: auto !important; }
  #portfolio #portfolio-carousel .carousel-inner {
    height: 500px; }
    #portfolio #portfolio-carousel .carousel-inner .item {
      width: 100%;
      top: 0px !important;
      position: absolute; }
  #portfolio #portfolio-carousel .carousel-control {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #d72130;
    top: 40%; }
  #portfolio #portfolio-carousel .carousel-control.prev {
    left: 0px;
    right: auto; }
  #portfolio #portfolio-carousel .carousel-control.next {
    right: 0px;
    left: auto; }

.page-template-page-template-team #jHeader {
  background-color: transparent !important; }
  @media screen and (max-width: 768px) {
    .page-template-page-template-team #jHeader {
      background-color: #d72130 !important; } }
.page-template-page-template-team #jHeader.invert.overflow.fixed {
  background-color: #d72130 !important; }
.page-template-page-template-team #jHeader.invert #navbar-rebirth {
  background-color: transparent; }
.page-template-page-template-team .intro {
  height: 70%; }
  .page-template-page-template-team .intro .iconScroll {
    bottom: 38%; }
    @media screen and (max-width: 991px) {
      .page-template-page-template-team .intro .iconScroll {
        bottom: 10%; } }
    .page-template-page-template-team .intro .iconScroll .info {
      font-size: 42px;
      text-transform: uppercase; }
      @media screen and (max-width: 991px) {
        .page-template-page-template-team .intro .iconScroll .info {
          font-size: 150%; } }
.page-template-page-template-team .wpb_text_column {
  margin-bottom: 0px; }
  .page-template-page-template-team .wpb_text_column .wpb_wrapper h1 {
    text-transform: uppercase; }
    @media screen and (max-width: 991px) {
      .page-template-page-template-team .wpb_text_column .wpb_wrapper h1 {
        line-height: 100%; } }
    .page-template-page-template-team .wpb_text_column .wpb_wrapper h1 span {
      color: white !important; }
      @media screen and (max-width: 991px) {
        .page-template-page-template-team .wpb_text_column .wpb_wrapper h1 span {
          font-size: 50%;
          line-height: auto; } }
.page-template-page-template-team .our-people-subhead {
  margin-bottom: 0px !important; }
.page-template-page-template-team #pub_team_in_action {
  margin-left: 0px;
  margin-right: 0px; }
  .page-template-page-template-team #pub_team_in_action .vc_column-inner {
    padding: 0px; }
  .page-template-page-template-team #pub_team_in_action .vc_grid-item {
    padding: 0px; }
  .page-template-page-template-team #pub_team_in_action .vc_pageable-slide-wrapper {
    margin-right: 0px; }
  .page-template-page-template-team #pub_team_in_action .wpb_content_element {
    margin-bottom: 30px; }
  .page-template-page-template-team #pub_team_in_action .vc_grid-item-mini {
    max-height: 550px;
    background: #181a1a;
    overflow: hidden; }
    @media screen and (max-width: 991px) {
      .page-template-page-template-team #pub_team_in_action .vc_grid-item-mini {
        max-height: none; } }
    .page-template-page-template-team #pub_team_in_action .vc_grid-item-mini .vc_gitem-animated-block {
      float: left;
      width: 50%;
      display: inline-block; }
      @media screen and (max-width: 991px) {
        .page-template-page-template-team #pub_team_in_action .vc_grid-item-mini .vc_gitem-animated-block {
          width: 100%; } }
    .page-template-page-template-team #pub_team_in_action .vc_grid-item-mini .vc_gitem-zone-a {
      height: 550px; }
      @media screen and (max-width: 991px) {
        .page-template-page-template-team #pub_team_in_action .vc_grid-item-mini .vc_gitem-zone-a {
          height: auto; } }
    .page-template-page-template-team #pub_team_in_action .vc_grid-item-mini .vc_gitem-zone-c {
      width: 49.5%;
      display: inline-block;
      position: relative;
      height: 550px;
      background: #181a1a !important;
      color: white;
      max-width: 650px;
      float: left; }
      @media screen and (max-width: 991px) {
        .page-template-page-template-team #pub_team_in_action .vc_grid-item-mini .vc_gitem-zone-c {
          width: 100%;
          height: auto;
          padding: 25px;
          position: relative;
          max-height: none;
          float: none;
          max-width: none; } }
      .page-template-page-template-team #pub_team_in_action .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-zone-mini {
        position: absolute;
        padding: 15px;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%); }
        @media screen and (max-width: 991px) {
          .page-template-page-template-team #pub_team_in_action .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-zone-mini {
            position: relative;
            padding: 15px;
            margin-right: auto;
            top: 0;
            left: 0;
            transform: translate(0, 0);
            padding: 0; } }
        .page-template-page-template-team #pub_team_in_action .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-zone-mini h4 {
          font-size: 25px;
          color: white;
          text-align: center !important;
          width: 100%;
          text-transform: uppercase; }
          @media screen and (max-width: 991px) {
            .page-template-page-template-team #pub_team_in_action .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-zone-mini h4 {
              font-size: 20px; } }
          .page-template-page-template-team #pub_team_in_action .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-zone-mini h4:after {
            content: "";
            display: block;
            position: inherit;
            margin-top: 20px;
            width: 60px;
            background-color: #181a1a;
            height: 3px; }
        .page-template-page-template-team #pub_team_in_action .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-zone-mini .vc_gitem-col {
          background: #181a1a;
          text-align: center; }
        .page-template-page-template-team #pub_team_in_action .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-zone-mini .vc_btn3-container {
          text-align: center; }
          .page-template-page-template-team #pub_team_in_action .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-zone-mini .vc_btn3-container a {
            background-color: #d72130;
            border-radius: 0px; }
  .page-template-page-template-team #pub_team_in_action .vc_pageable-slide-wrapper .vc_grid-item:nth-of-type(2n+1) .vc_gitem-animated-block {
    float: right; }
  .page-template-page-template-team #pub_team_in_action .vc_pageable-slide-wrapper .vc_grid-item:nth-of-type(2n+1) .vc_gitem-zone-c {
    float: right; }
    @media screen and (max-width: 991px) {
      .page-template-page-template-team #pub_team_in_action .vc_pageable-slide-wrapper .vc_grid-item:nth-of-type(2n+1) .vc_gitem-zone-c {
        float: none; } }
.page-template-page-template-team #lionHeartedCarousel {
  z-index: 1; }
  .page-template-page-template-team #lionHeartedCarousel .carousel-inner {
    position: relative; }
    .page-template-page-template-team #lionHeartedCarousel .carousel-inner .item {
      background-repeat: no-repeat;
      background-position: top left;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      min-height: 600px; }
      @media screen and (max-width: 768px) {
        .page-template-page-template-team #lionHeartedCarousel .carousel-inner .item {
          background-image: none !important; } }
      .page-template-page-template-team #lionHeartedCarousel .carousel-inner .item .lionImageHolder {
        display: none;
        overflow: hidden;
        padding: 0px; }
        @media screen and (max-width: 768px) {
          .page-template-page-template-team #lionHeartedCarousel .carousel-inner .item .lionImageHolder {
            display: block; } }
        .page-template-page-template-team #lionHeartedCarousel .carousel-inner .item .lionImageHolder img {
          max-height: 400px;
          max-width: none; }
      .page-template-page-template-team #lionHeartedCarousel .carousel-inner .item .lionInfoHolder {
        margin-left: 50%;
        padding-top: 200px;
        padding-right: 10%; }
        @media screen and (max-width: 991px) {
          .page-template-page-template-team #lionHeartedCarousel .carousel-inner .item .lionInfoHolder {
            padding-right: 60%; } }
        @media screen and (max-width: 768px) {
          .page-template-page-template-team #lionHeartedCarousel .carousel-inner .item .lionInfoHolder {
            margin-left: auto;
            padding: 15px; } }
        .page-template-page-template-team #lionHeartedCarousel .carousel-inner .item .lionInfoHolder .lionName {
          color: #d72130;
          font-size: 24px;
          text-shadow: -1px 1px 12px white; }
        .page-template-page-template-team #lionHeartedCarousel .carousel-inner .item .lionInfoHolder .lionRole {
          color: #181a1a;
          font-size: 16px;
          text-transform: uppercase;
          text-shadow: -1px 1px 12px white; }
        .page-template-page-template-team #lionHeartedCarousel .carousel-inner .item .lionInfoHolder .lionDesc {
          text-shadow: -1px 1px 12px white; }
  .page-template-page-template-team #lionHeartedCarousel .tparrows {
    position: absolute;
    top: 50%;
    margin: 15px;
    border-radius: 40px; }
  .page-template-page-template-team #lionHeartedCarousel .tp-rightarrow {
    right: 0px; }

.rebirth-works-template-default .intro {
  height: 0px; }
.rebirth-works-template-default .slider-project .slider-info-container {
  padding-top: 15%; }
  @media screen and (max-width: 991px) {
    .rebirth-works-template-default .slider-project .slider-info-container {
      padding-top: 0px !important;
      padding-bottom: 40px; } }
  .rebirth-works-template-default .slider-project .slider-info-container h1 {
    color: #d72130;
    text-transform: uppercase; }
  .rebirth-works-template-default .slider-project .slider-info-container h2 {
    text-align: center; }
  .rebirth-works-template-default .slider-project .slider-info-container p.works-description {
    padding: 30px 5% 0px 5%;
    text-align: center; }
.rebirth-works-template-default .slider-project .flickity-prev-next-button {
  background-color: #181a1a !important;
  color: #ffffff !important; }
.rebirth-works-template-default .slider-project .flickity-page-dots .is-selected {
  background-color: #d72130 !important;
  border-color: #d72130 !important; }
.rebirth-works-template-default .slider-project .tp-parallax-wrap {
  left: 0px !important; }
.rebirth-works-template-default .slider-project .workslider .rev_slider_wrapper {
  max-height: 600px; }
  .rebirth-works-template-default .slider-project .workslider .rev_slider_wrapper .rev_slider {
    max-height: 600px; }
    .rebirth-works-template-default .slider-project .workslider .rev_slider_wrapper .rev_slider iframe {
      max-height: 595px; }
.rebirth-works-template-default .client-bar {
  background-color: #d72130;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  margin-bottom: 0px; }
.rebirth-works-template-default .infowork {
  display: none;
  background: #d72130 !important; }
  .rebirth-works-template-default .infowork li {
    color: #ffffff !important;
    font-style: italic; }
    .rebirth-works-template-default .infowork li span {
      color: #ffffff !important;
      font-weight: bold;
      font-style: normal; }
    .rebirth-works-template-default .infowork li a {
      color: #ffffff !important; }
.rebirth-works-template-default .slider-project .workslider {
  padding-left: 0px;
  padding-right: 0px; }
.rebirth-works-template-default .section.works-tab {
  display: inherit; }
  .rebirth-works-template-default .section.works-tab .col-md-12 {
    position: relative;
    margin: 0px;
    padding: 0px;
    display: grid;
    background-color: #ffffff; }
    .rebirth-works-template-default .section.works-tab .col-md-12 ul {
      position: absolute;
      width: 50%;
      right: 0px;
      z-index: 2;
      border: none;
      top: 20px; }
      .rebirth-works-template-default .section.works-tab .col-md-12 ul li {
        text-align: center;
        font-size: 13px;
        padding-left: 0px;
        display: block; }
        .rebirth-works-template-default .section.works-tab .col-md-12 ul li a {
          border: none;
          outline: none;
          font-size: 13px;
          color: #181a1a;
          cursor: pointer; }
          @media screen and (max-width: 991px) {
            .rebirth-works-template-default .section.works-tab .col-md-12 ul li a {
              font-size: 75%;
              height: 45px;
              padding-top: 15px; } }
          .rebirth-works-template-default .section.works-tab .col-md-12 ul li a:active {
            color: #d72130; }
          .rebirth-works-template-default .section.works-tab .col-md-12 ul li a:focus {
            color: #d72130; }
          .rebirth-works-template-default .section.works-tab .col-md-12 ul li a:hover {
            color: #181a1a;
            background: none; }
        @media screen and (max-width: 991px) {
          .rebirth-works-template-default .section.works-tab .col-md-12 ul li {
            width: 33.333%;
            padding-left: 0px; } }
        .rebirth-works-template-default .section.works-tab .col-md-12 ul li:first-child {
          padding-left: 8%; }
          @media screen and (max-width: 991px) {
            .rebirth-works-template-default .section.works-tab .col-md-12 ul li:first-child {
              padding-left: 0px; } }
      .rebirth-works-template-default .section.works-tab .col-md-12 ul li.active a {
        color: #d72130;
        background-color: transparent; }
        .rebirth-works-template-default .section.works-tab .col-md-12 ul li.active a:after {
          content: "";
          width: 100%;
          height: 2px;
          bottom: 0;
          margin-top: 5px;
          background-color: #d72130;
          display: block;
          -webkit-transition: width .3s ease 0s,left .3s ease 0s;
          -o-transition: width .3s ease 0s,left .3s ease 0s;
          transition: width .3s ease 0s,left .3s ease 0s; }
      @media screen and (max-width: 991px) {
        .rebirth-works-template-default .section.works-tab .col-md-12 ul {
          top: 0px;
          width: 100%;
          background-color: #ffffff;
          opacity: .7; } }
    .rebirth-works-template-default .section.works-tab .col-md-12 .tab-content {
      position: relative;
      display: inline-block; }
      .rebirth-works-template-default .section.works-tab .col-md-12 .tab-content .img-container {
        min-height: 450px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover !important;
        background-position: left center;
        padding: 0px; }
        @media screen and (max-width: 991px) {
          .rebirth-works-template-default .section.works-tab .col-md-12 .tab-content .img-container {
            background-size: 100% auto !important;
            background-position: center top !important;
            min-height: 258px;
            height: auto;
            top: 45px; } }
      .rebirth-works-template-default .section.works-tab .col-md-12 .tab-content .desc-container {
        top: 100px;
        padding: 0% 5% 0% 5%;
        display: inline-table; }
        .rebirth-works-template-default .section.works-tab .col-md-12 .tab-content .desc-container h1 {
          font-size: 30px;
          color: #d72130;
          margin-bottom: 20px; }
        .rebirth-works-template-default .section.works-tab .col-md-12 .tab-content .desc-container p {
          font-size: 12px; }
        @media screen and (max-width: 991px) {
          .rebirth-works-template-default .section.works-tab .col-md-12 .tab-content .desc-container {
            top: 0px;
            height: auto;
            padding: 5%;
            margin-top: 45px; } }
        .rebirth-works-template-default .section.works-tab .col-md-12 .tab-content .desc-container .wpb_text_column {
          padding-left: 0px; }
    .rebirth-works-template-default .section.works-tab .col-md-12 .opZero {
      opacity: 0;
      -webkit-transition: opacity .3s ease-out;
      -moz-transition: opacity .3s ease-out;
      -o-transition: opacity .3s ease-out;
      -ms-transition: opacity .3s ease-out;
      transition: opacity .3s ease-out; }
    .rebirth-works-template-default .section.works-tab .col-md-12 .opOne {
      opacity: 1;
      -webkit-transition: opacity .3s ease-in;
      -moz-transition: opacity .3s ease-in;
      -o-transition: opacity .3s ease-in;
      -ms-transition: opacity .3s ease-in;
      transition: opacity .3s ease-in; }

.page-template-page-template-works #jHeader {
  background-color: transparent !important; }
  @media screen and (max-width: 768px) {
    .page-template-page-template-works #jHeader {
      background-color: #d72130 !important; } }
.page-template-page-template-works #jHeader.invert.overflow.fixed {
  background-color: #d72130 !important; }
.page-template-page-template-works #jHeader.invert #navbar-rebirth {
  background-color: transparent; }
.page-template-page-template-works .intro {
  height: 90%; }
  .page-template-page-template-works .intro .iconScroll {
    bottom: 38%; }
    @media screen and (max-width: 991px) {
      .page-template-page-template-works .intro .iconScroll {
        bottom: 10%;
        left: 0px; } }
    .page-template-page-template-works .intro .iconScroll .info {
      font-size: 42px;
      text-transform: uppercase; }
.page-template-page-template-works .vc_grid-filter {
  /* hide the filter for launch (remove this after adding more than 4 works on MOBILE) */
  display: none !important; }
.page-template-page-template-works ul.vc_grid-filter {
  position: absolute;
  top: -127px;
  width: 100%;
  height: 127px;
  padding: 45px 0px;
  background: #d72130;
  left: 0px;
  text-align: center;
  list-style: none;
  margin-bottom: 0px;
  /* hide the filter for launch (remove this after adding more than 4 works on DESKTOP) */ }
  .page-template-page-template-works ul.vc_grid-filter li {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2.9px;
    font-weight: 400;
    line-height: 25px;
    font-size: 13px !important;
    border: none;
    color: #ffffff;
    min-width: 70px; }
    .page-template-page-template-works ul.vc_grid-filter li span:after {
      content: "";
      display: block;
      width: 0px;
      height: 10px;
      border-bottom: transparent;
      margin: 0 auto;
      position: inherit;
      bottom: 20px; }
  .page-template-page-template-works ul.vc_grid-filter li.vc_active {
    background-color: transparent !important;
    color: #ffffff !important; }
    .page-template-page-template-works ul.vc_grid-filter li.vc_active span {
      color: #ffffff !important; }
      .page-template-page-template-works ul.vc_grid-filter li.vc_active span:after {
        width: 25px;
        height: 10px;
        border-bottom: 2px solid #ffffff;
        margin: 0 auto;
        position: inherit;
        bottom: 20px; }
  .page-template-page-template-works ul.vc_grid-filter li:hover {
    background-color: transparent !important;
    color: #ffffff !important; }
    .page-template-page-template-works ul.vc_grid-filter li:hover span {
      color: #ffffff !important; }
      .page-template-page-template-works ul.vc_grid-filter li:hover span:after {
        width: 25px;
        height: 10px;
        border-bottom: 2px solid #ffffff;
        margin: 0 auto;
        position: inherit;
        bottom: -7px;
        -webkit-transition: width .3s ease 0s,left .3s ease 0s;
        -o-transition: width .3s ease 0s,left .3s ease 0s;
        transition: width .3s ease 0s,left .3s ease 0s; }
.page-template-page-template-works .vc_gitem-zone .vc_btn3-container a {
  border: 1px solid #ffffff; }
.page-template-page-template-works .vc_gitem-zone .title-project {
  font-weight: 600;
  color: white !important; }
.page-template-page-template-works .vc_btn3-block.vc_btn3-size-lg {
  padding: 40px !important; }

.page-template-page-template-contact #jHeader {
  background-color: transparent !important; }
  @media screen and (max-width: 768px) {
    .page-template-page-template-contact #jHeader {
      background-color: #d72130 !important; } }
.page-template-page-template-contact #jHeader.invert.overflow.fixed {
  background-color: #d72130 !important; }
.page-template-page-template-contact #jHeader.invert #navbar-rebirth {
  background-color: transparent; }
.page-template-page-template-contact .intro {
  height: 90%; }
  .page-template-page-template-contact .intro .iconScroll {
    bottom: 38%;
    left: 0px; }
    @media screen and (max-width: 991px) {
      .page-template-page-template-contact .intro .iconScroll {
        bottom: 10%; } }
    .page-template-page-template-contact .intro .iconScroll .info {
      font-size: 42px;
      text-transform: uppercase; }
.page-template-page-template-contact .vc_row {
  margin: 0px; }
  .page-template-page-template-contact .vc_row .pb-contact-info {
    background: #181a1a;
    padding: 50px;
    height: 760px;
    margin-bottom: 0px;
    padding-top: 24%;
    padding-bottom: 24%; }
    @media screen and (max-width: 768px) {
      .page-template-page-template-contact .vc_row .pb-contact-info {
        padding-top: 10%;
        padding-bottom: 10%;
        height: auto;
        padding-left: 0px;
        padding-right: 0px; } }
    .page-template-page-template-contact .vc_row .pb-contact-info h1 {
      font-size: 30px;
      color: #ffffff; }
      .page-template-page-template-contact .vc_row .pb-contact-info h1 span {
        font-size: 30px;
        color: #ffffff !important; }
    .page-template-page-template-contact .vc_row .pb-contact-info h2 a {
      text-decoration: none; }
      .page-template-page-template-contact .vc_row .pb-contact-info h2 a span {
        letter-spacing: 0px !important; }
    .page-template-page-template-contact .vc_row .pb-contact-info h2 span {
      font-size: 18px;
      color: #d72130;
      letter-spacing: 3px; }
  .page-template-page-template-contact .vc_row .pb-contact-form .vc_column-inner {
    padding: 0px; }
    .page-template-page-template-contact .vc_row .pb-contact-form .vc_column-inner .wpcf7-form {
      text-align: center;
      max-width: 600px;
      margin: 0 auto; }
      .page-template-page-template-contact .vc_row .pb-contact-form .vc_column-inner .wpcf7-form p {
        width: 100%;
        display: inline-table;
        height: 0px; }
      .page-template-page-template-contact .vc_row .pb-contact-form .vc_column-inner .wpcf7-form .first-row p {
        width: 48%;
        padding-bottom: 0px; }
      .page-template-page-template-contact .vc_row .pb-contact-form .vc_column-inner .wpcf7-form .form-name, .page-template-page-template-contact .vc_row .pb-contact-form .vc_column-inner .wpcf7-form .form-email, .page-template-page-template-contact .vc_row .pb-contact-form .vc_column-inner .wpcf7-form .form-message {
        display: none; }
      .page-template-page-template-contact .vc_row .pb-contact-form .vc_column-inner .wpcf7-form input[name=sender-name] {
        position: relative;
        left: 0px;
        margin-top: 25px;
        border: 1px solid #181a1a;
        padding-left: 5px; }
      .page-template-page-template-contact .vc_row .pb-contact-form .vc_column-inner .wpcf7-form input[name=sender-email] {
        position: relative;
        right: 0px;
        margin-top: 25px;
        border: 1px solid #181a1a;
        margin-left: 10px;
        padding-left: 5px; }
      .page-template-page-template-contact .vc_row .pb-contact-form .vc_column-inner .wpcf7-form textarea[name=sender-message] {
        width: 98%;
        max-width: 590px;
        padding-left: 5px;
        border: 1px solid #181a1a;
        margin-top: -50px;
        margin-left: 10px;
        max-height: 120px; }
      .page-template-page-template-contact .vc_row .pb-contact-form .vc_column-inner .wpcf7-form input[type="submit"] {
        width: 98%;
        border: 1px solid #d72130;
        background-color: #d72130;
        color: #ffffff;
        float: right;
        margin-top: 25px; }
  .page-template-page-template-contact .vc_row .pb-contact-map #map {
    padding: 0px;
    max-height: 760px;
    height: 760px; }
    .page-template-page-template-contact .vc_row .pb-contact-map #map .wpb_wrapper {
      padding: 0px; }
      .page-template-page-template-contact .vc_row .pb-contact-map #map .wpb_wrapper .wpb_gmaps_widget {
        margin-bottom: 0px; }

.wpcf7-validation-errors {
  width: 100%;
  background-color: #ffffff;
  color: #d72130;
  position: fixed;
  top: 130px;
  left: 0px;
  padding: 20px !important;
  border: none !important;
  margin: 0px !important; }

.wpcf7-not-valid-tip {
  position: absolute;
  top: -60px;
  letter-spacing: 1px;
  line-height: 15px;
  font-size: 8px; }

.page-template-page-template-careers .intro {
  height: 50%; }
  .page-template-page-template-careers .intro .pretitle {
    display: none; }
  .page-template-page-template-careers .intro .iconScroll p {
    font-size: 42px; }

.intro {
  height: 90%; }
  .intro .image-cover {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .intro .portfolio-filter-container {
    line-height: initial;
    z-index: 1;
    color: #ffffff; }
    .intro .portfolio-filter-container:before {
      bottom: 0;
      transform: skewY(3deg);
      transform-origin: 100%;
      background-color: #d72130;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      -webkit-backface-visibility: hidden;
      z-index: -1; }
    .intro .portfolio-filter-container:after {
      bottom: 0;
      transform-origin: 100%;
      background-color: #d72130;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      -webkit-backface-visibility: hidden;
      z-index: -1; }
  .intro .welcome-message {
    font-size: 18px;
    text-transform: uppercase; }
    .intro .welcome-message .left {
      display: inline-block;
      background-color: #ffffff;
      width: 34px;
      height: 2px;
      position: relative;
      top: -3.5px;
      left: -18px; }
    .intro .welcome-message .right {
      display: inline-block;
      background-color: #ffffff;
      width: 34px;
      height: 2px;
      position: relative;
      top: -3.5px;
      left: 18px; }
  .intro .wp-title {
    line-height: 80px;
    font-size: 42px;
    text-transform: uppercase;
    padding-bottom: 25px;
    /* increase the padding from bottom after hiding filter (add this after adding less than 4 works) */ }
  .intro ul.filters {
    /* hide the filter for launch (add this after adding less than 4 works) */
    display: none; }
    .intro ul.filters li {
      color: #ffffff;
      font-size: 13px;
      text-transform: capitalize; }
    .intro ul.filters :first-child {
      font-size: 15px;
      text-transform: uppercase;
      display: none; }
    .intro ul.filters :first-child:before {
      border-top: 1px solid #ffffff;
      border-bottom: 1px solid #ffffff;
      left: 20%; }
    .intro ul.filters :first-child:after {
      background-color: #ffffff;
      left: 20%; }
    .intro ul.filters li:not(:first-child):hover:after,
    .intro ul.filters li:not(:first-child):focus:after,
    .intro ul.filters li:not(:first-child).is-checked:after {
      border-color: #ffffff;
      border-bottom: 2px solid #ffffff; }
  .intro .mobile-show button {
    color: #ffffff; }

@media (max-width: 1199px) and (min-width: 768px) {
  .intro .filters li:first-child span {
    display: block; } }
@media screen and (max-width: 991px) {
  .intro ul.filters :first-child:before {
    top: 17px; }

  .intro ul.filters :first-child:after {
    top: 29px; } }
@media screen and (max-width: 768px) {
  .intro .welcome-message {
    padding-top: 25px; }
  .intro .filters button {
    display: none; } }
@media screen and (max-width: 991px) {
  .intro .welcome-message {
    font-size: 18px; } }
.page-template-page-template-services #jHeader {
  background-color: transparent !important; }
  @media screen and (max-width: 768px) {
    .page-template-page-template-services #jHeader {
      background-color: #d72130 !important; } }
.page-template-page-template-services #jHeader.invert.overflow.fixed {
  background-color: #d72130 !important; }
.page-template-page-template-services #jHeader.invert #navbar-rebirth {
  background-color: transparent; }
.page-template-page-template-services .intro {
  height: 90%; }
  .page-template-page-template-services .intro .iconScroll {
    bottom: 38%; }
    .page-template-page-template-services .intro .iconScroll .info {
      font-size: 42px;
      text-transform: uppercase; }
.page-template-page-template-services #primery-service {
  margin-left: 0px;
  margin-right: 0px; }
  .page-template-page-template-services #primery-service .vc_column-inner {
    padding: 0px; }
  .page-template-page-template-services #primery-service #black-row .wpb_text_column {
    margin: 0px;
    padding: 20px;
    color: #ffffff;
    background-color: #181a1a; }
    .page-template-page-template-services #primery-service #black-row .wpb_text_column p {
      padding: 0px; }
  .page-template-page-template-services #primery-service .services-tab {
    margin: 0px; }
    .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper {
      max-height: 450px; }
      @media screen and (max-width: 991px) {
        .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper {
          max-height: none; } }
      .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper ul {
        position: absolute;
        width: 50%;
        right: 0px;
        z-index: 2;
        border: none;
        padding-top: 20px; }
        @media screen and (max-width: 991px) {
          .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper ul {
            top: auto !important;
            padding-top: 0px; } }
        .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper ul li {
          text-align: center;
          font-size: 13px;
          padding-left: 0px;
          display: block;
          background: none; }
          .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper ul li a {
            border: none;
            outline: none;
            font-size: 13px;
            color: #181a1a; }
          @media screen and (max-width: 991px) {
            .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper ul li {
              width: 24.333%;
              padding-left: 0px; } }
          .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper ul li:first-child {
            padding-left: 8%; }
        .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper ul li.ui-state-active {
          color: #d72130;
          background: none; }
          .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper ul li.ui-state-active a {
            color: #d72130; }
            .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper ul li.ui-state-active a:after {
              content: "";
              width: 100%;
              height: 2px;
              bottom: 0;
              background-color: #d72130;
              display: block;
              -webkit-transition: width .3s ease 0s,left .3s ease 0s;
              -o-transition: width .3s ease 0s,left .3s ease 0s;
              transition: width .3s ease 0s,left .3s ease 0s; }
        .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper ul li.ui-state-focus {
          color: #d72130; }
        .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper ul li.ui-state-hover {
          color: #181a1a;
          background: none; }
        @media screen and (max-width: 991px) {
          .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper ul {
            top: 0px;
            width: 100%;
            background-color: #ffffff;
            opacity: .7; } }
      .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper .ui-tabs-panel {
        position: relative;
        display: inline-block;
        padding: 0px;
        max-height: 450px;
        width: 100%; }
        .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper .ui-tabs-panel .img-container {
          min-height: 450px;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          background-position: left center;
          padding: 0px; }
          @media screen and (max-width: 991px) {
            .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper .ui-tabs-panel .img-container {
              background-size: 100% auto !important;
              background-position: center top !important;
              min-height: 258px;
              height: auto; } }
          .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper .ui-tabs-panel .img-container .vc_column-inner {
            min-height: 450px; }
        .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper .ui-tabs-panel .desc-container {
          top: 100px;
          padding: 0% 5% 0% 5%;
          display: inline-table; }
          @media screen and (max-width: 991px) {
            .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper .ui-tabs-panel .desc-container {
              padding: 8% !important; } }
          .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper .ui-tabs-panel .desc-container h1 {
            font-size: 30px;
            color: #d72130;
            margin-bottom: 20px;
            padding: 0px; }
          .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper .ui-tabs-panel .desc-container p {
            font-size: 12px; }
          @media screen and (max-width: 991px) {
            .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper .ui-tabs-panel .desc-container {
              top: 0px;
              height: auto;
              padding: 5%; } }
          .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper .ui-tabs-panel .desc-container .wpb_text_column {
            padding-left: 0px; }
.page-template-page-template-services #services-main {
  margin-left: 0px;
  margin-right: 0px; }
  .page-template-page-template-services #services-main .vc_column-inner {
    padding: 0px; }
    .page-template-page-template-services #services-main .vc_column-inner h1 {
      padding-top: 50px; }
    .page-template-page-template-services #services-main .vc_column-inner .services-container {
      margin-bottom: 80px; }
      .page-template-page-template-services #services-main .vc_column-inner .services-container .vc_column-inner {
        padding: 0px; }
        .page-template-page-template-services #services-main .vc_column-inner .services-container .vc_column-inner .wpb_text_column {
          margin-bottom: 0px; }
          .page-template-page-template-services #services-main .vc_column-inner .services-container .vc_column-inner .wpb_text_column p {
            padding-bottom: 0px; }
      .page-template-page-template-services #services-main .vc_column-inner .services-container .middle-col {
        border-left: 1px gray solid;
        border-right: 1px gray solid; }
        @media screen and (max-width: 768px) {
          .page-template-page-template-services #services-main .vc_column-inner .services-container .middle-col {
            border-top: 1px gray solid;
            border-bottom: 1px gray solid;
            border-left: none;
            border-right: none; } }
      @media screen and (max-width: 768px) {
        .page-template-page-template-services #services-main .vc_column-inner .services-container .vc-col-sm-4, .page-template-page-template-services #services-main .vc_column-inner .services-container .col-sm-4 {
          padding: 20px;
          max-width: 280px;
          margin: 0 auto; } }
    .page-template-page-template-services #services-main .vc_column-inner .primary-cta {
      padding-top: 50px;
      padding-bottom: 50px; }
@media screen and (max-width: 991px) {
  .page-template-page-template-services .vc_tta-accordion {
    padding-left: 0px;
    padding-right: 0px; } }

/* CSS Document */
.home #jHeader {
  background-color: transparent !important; }
  @media screen and (max-width: 768px) {
    .home #jHeader {
      background-color: #d72130 !important; } }
.home #jHeader.invert.overflow.fixed {
  background-color: #d72130 !important; }
.home #jHeader.invert #navbar-rebirth {
  background-color: transparent; }
.home .intro {
  max-height: 690px;
  background-color: #d72130; }
  @media screen and (max-width: 1920px) {
    .home .intro {
      max-height: 645px; } }
  @media screen and (max-width: 1680px) {
    .home .intro {
      max-height: 555px; } }
  @media screen and (max-width: 1440px) {
    .home .intro {
      max-height: 505px; } }
  @media screen and (max-width: 1366px) {
    .home .intro {
      max-height: 485px; } }
  @media screen and (max-width: 1280px) {
    .home .intro {
      max-height: 435px; } }
  @media screen and (max-width: 1024px) {
    .home .intro {
      max-height: 360px; } }
  @media screen and (max-width: 768px) {
    .home .intro {
      max-height: 480px; } }
  .home .intro .image-cover {
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain; }
    @media screen and (max-width: 768px) {
      .home .intro .image-cover {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: -250px; } }
.home #clients-container {
  padding-bottom: 50px; }
  .home #clients-container .clients-drpd {
    margin-bottom: 0px; }
    .home #clients-container .clients-drpd .wpb_wrapper {
      margin: 0 auto;
      width: 240px; }
      .home #clients-container .clients-drpd .wpb_wrapper h1 {
        display: inline-block;
        margin-top: 30px; }
        .home #clients-container .clients-drpd .wpb_wrapper h1 a, .home #clients-container .clients-drpd .wpb_wrapper h1 a:visited, .home #clients-container .clients-drpd .wpb_wrapper h1 a:focus, .home #clients-container .clients-drpd .wpb_wrapper h1 a:active {
          color: #d72130 !important;
          text-decoration: none; }
        .home #clients-container .clients-drpd .wpb_wrapper h1:hover {
          cursor: context-menu; }
        .home #clients-container .clients-drpd .wpb_wrapper h1:after {
          margin-top: 5;
          content: "\F078";
          font-family: FontAwesome;
          font-style: normal;
          font-weight: 100;
          color: #d72130;
          font-size: 12;
          margin-left: 10px;
          position: absolute; }
        @media screen and (max-width: 991px) {
          .home #clients-container .clients-drpd .wpb_wrapper h1:after {
            content: "\F077"; } }
  .home #clients-container .clients-drpd h1:after {
    font-size: 25px;
    padding-top: 5px; }
  .home #clients-container .clients-drpd[aria-expanded="true"] h1:after {
    content: "\F077"; }
  .home #clients-container .clients-drpd[aria-expanded="false"] h1:after {
    content: "\F078"; }
  .home #clients-container .clients-inline {
    position: relative;
    border: none;
    width: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: none; }
.home .services-container h1 {
  padding-bottom: 50px;
  margin-top: 30px; }
.home .services-container .vc_col-sm-4:first-child {
  border-right: 1px #181a1a solid; }
.home .services-container .vc_col-sm-4:last-child {
  border-left: 1px #181a1a solid; }
.home .services-container .wpb_text_column {
  margin-bottom: 0px; }
  .home .services-container .wpb_text_column p {
    padding-bottom: 0px; }
.home .services-container .primary-cta {
  padding-top: 0px;
  padding-bottom: 50px; }
  @media screen and (max-width: 768px) {
    .home .services-container .primary-cta {
      padding-top: 30px; } }
@media screen and (max-width: 991px) {
  .home .leadTheChangeSection .vc_video-bg.vc_hidden-xs {
    display: block !important; } }

.post-extra, .blog-post-date {
  display: none; }

.content-post.post-without-sidebar {
  padding-left: 0px;
  padding-right: 0px; }
  .content-post.post-without-sidebar h1 {
    margin-top: 0px;
    margin-bottom: 25px;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 38px; }
  .content-post.post-without-sidebar .post-details {
    padding-left: 15px; }

.page-template-page-template-blog #jHeader {
  background-color: transparent !important; }
  @media screen and (max-width: 768px) {
    .page-template-page-template-blog #jHeader {
      background-color: #d72130 !important; } }
.page-template-page-template-blog #jHeader.invert.overflow.fixed {
  background-color: #d72130 !important; }
.page-template-page-template-blog #jHeader.invert #navbar-rebirth {
  background-color: transparent; }
.page-template-page-template-blog .intro {
  height: 90%; }
  .page-template-page-template-blog .intro .iconScroll {
    bottom: 38%; }
    @media screen and (max-width: 991px) {
      .page-template-page-template-blog .intro .iconScroll {
        bottom: 10%; } }
    .page-template-page-template-blog .intro .iconScroll .info {
      font-size: 42px;
      text-transform: uppercase; }
.page-template-page-template-blog #pub_blog {
  margin-left: 0px;
  margin-right: 0px; }
  .page-template-page-template-blog #pub_blog .vc_column-inner {
    padding: 0px; }
  .page-template-page-template-blog #pub_blog .vc_grid-item {
    padding: 0px; }
  .page-template-page-template-blog #pub_blog .vc_pageable-slide-wrapper {
    margin-right: 0px; }
  .page-template-page-template-blog #pub_blog .wpb_content_element {
    margin-bottom: 30px; }
  .page-template-page-template-blog #pub_blog .vc_grid-item-mini {
    max-height: 550px;
    overflow: hidden; }
    @media screen and (max-width: 991px) {
      .page-template-page-template-blog #pub_blog .vc_grid-item-mini {
        max-height: none; } }
    .page-template-page-template-blog #pub_blog .vc_grid-item-mini .vc_gitem-animated-block {
      float: left;
      width: 50%;
      display: inline-block; }
      @media screen and (max-width: 991px) {
        .page-template-page-template-blog #pub_blog .vc_grid-item-mini .vc_gitem-animated-block {
          width: 100%; } }
    .page-template-page-template-blog #pub_blog .vc_grid-item-mini .vc_gitem-zone-a {
      height: 550px; }
      @media screen and (max-width: 991px) {
        .page-template-page-template-blog #pub_blog .vc_grid-item-mini .vc_gitem-zone-a {
          height: auto; } }
    .page-template-page-template-blog #pub_blog .vc_grid-item-mini .vc_gitem-zone-c {
      width: 49.5%;
      display: inline-block;
      position: relative;
      height: 550px;
      background-color: white !important;
      max-width: 650px;
      float: left; }
      @media screen and (max-width: 991px) {
        .page-template-page-template-blog #pub_blog .vc_grid-item-mini .vc_gitem-zone-c {
          width: 100%;
          height: auto;
          padding: 25px;
          position: relative;
          max-height: none;
          float: none;
          max-width: none; } }
      .page-template-page-template-blog #pub_blog .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-zone-mini {
        position: absolute;
        padding: 15px;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%); }
        @media screen and (max-width: 991px) {
          .page-template-page-template-blog #pub_blog .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-zone-mini {
            position: relative;
            padding: 15px;
            margin-right: auto;
            top: 0;
            left: 0;
            transform: translate(0, 0);
            padding: 0; } }
        .page-template-page-template-blog #pub_blog .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-zone-mini h4 {
          font-size: 25px;
          text-transform: uppercase; }
          .page-template-page-template-blog #pub_blog .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-zone-mini h4:after {
            content: "";
            display: block;
            position: inherit;
            margin-top: 20px;
            width: 60px;
            background-color: #181a1a;
            height: 3px; }
        .page-template-page-template-blog #pub_blog .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-zone-mini .vc_gitem-col {
          background: #ffffff; }
        .page-template-page-template-blog #pub_blog .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-zone-mini .vc_btn3-container a {
          background-color: #d72130;
          border-radius: 0px; }
.page-template-page-template-blog #pub_blog .vc_pageable-slide-wrapper .vc_grid-item:nth-of-type(2n+1) .vc_gitem-animated-block {
  float: right; }
.page-template-page-template-blog #pub_blog .vc_pageable-slide-wrapper .vc_grid-item:nth-of-type(2n+1) .vc_gitem-zone-c {
  float: right; }
  @media screen and (max-width: 991px) {
    .page-template-page-template-blog #pub_blog .vc_pageable-slide-wrapper .vc_grid-item:nth-of-type(2n+1) .vc_gitem-zone-c {
      float: none; } }

.vc_tta-accordion {
  max-width: 1950px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px; }
  .vc_tta-accordion .vc_tta-panels-container .vc_tta-panels .vc_tta-panel .vc_tta-panel-heading .vc_tta-panel-title a i:before, .vc_tta-accordion .vc_tta-panels-container .vc_tta-panels .vc_tta-panel .vc_tta-panel-heading .vc_tta-panel-title a i:after {
    border-color: #d72130; }
  .vc_tta-accordion .vc_tta-panels-container .vc_tta-panels .vc_tta-panel .vc_tta-panel-body {
    background-color: #ffffff !important; }
  .vc_tta-accordion .vc_tta-panels-container .vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title a {
    color: #181a1a !important; }

footer {
  border: none !important;
  background-color: #d72130 !important;
  color: #ffffff; }
  footer div[class*="col-"]:after {
    width: 1px; }
  footer .logo-container {
    min-height: 150px !important; }
  footer .col-md-4 {
    min-height: 195px !important; }
    footer .col-md-4 a {
      color: #ffffff; }
    footer .col-md-4 .column1 div, footer .col-md-4 .column1 h2, footer .col-md-4 .column1 p {
      display: inline-block; }
    footer .col-md-4 .column1 h2 {
      padding-top: 10px; }
    footer .col-md-4 .column1 .socialmedia-buttons {
      float: right; }
      footer .col-md-4 .column1 .socialmedia-buttons img {
        margin: 5px;
        max-width: 24px;
        cursor: pointer; }
    footer .col-md-4 .column1:last-child h2 {
      font-size: 18px;
      text-transform: uppercase; }
    footer .col-md-4 .column1:first-child, footer .col-md-4 .column2:first-child, footer .col-md-4 .column3:first-child {
      padding-bottom: 30px; }
    footer .col-md-4 .column2 p, footer .col-md-4 .column3 p {
      line-height: 20px; }
    @media screen and (max-width: 991px) {
      footer .col-md-4 .column2 {
        margin-bottom: 0px; } }
  footer .col-sm-12 {
    margin-bottom: 30px; }

.copyright {
  border: none !important;
  background-color: #181a1a !important; }
  .copyright p {
    color: #d72130; }
