/* Publicis Variables */

/* colors */
$pub-red : #d72130;
$pub-dark-gray : #181a1a;
$white : #ffffff;
$black : #000000;

/* font size */

$fSize-nav-li : 13px;
$fSize-small-li : 12px;
$fSize-super-heading : 42px;
$fSize-h1 : 30px;
$fSize-h2 : 18px;
$fSize-h3 : 16px;
$fSize-p : 15px; 

/* media screen sizes */
$lrg-screen : 1200px;
$md-screen : 991px;
$sm-screen : 768px;
$xs-screen : 480px;

/* stabilizers */
$max-Gwidth:1950px;
