/*
    Theme Name: Rebirth Jelly Themes
    Theme URI: http://www.jellythemes.com/themes/rebirth
    Author: Jellythemes
    Author URI: http://www.jellythemes.com
    Description: Rebirth WordPress Theme
    Text Domain: rebirth-jellythemes
    Version: 1.1
    License: GNU General Public License v2.0
    License URI: http://www.gnu.org/licenses/gpl-2.0.html
    Tags: one-column, theme-options
*/

/*
*   WORDPRESS THEME SPECIFIC
*/
.page-template-default, .single.no-thumbnail {
  padding-top:90px;
}
.no-thumbnail .content-post.post-without-sidebar {
  top: 0px;
}
.thumbnail .info-banner {
  padding-right: 50px;
}
.follow-overicon .follow {
  padding-bottom: 0px;
  margin-bottom: 100px;
}
.content-post ul.commentslist {
  margin:0px !important;
  padding:0px !important;
}
.commentslist li {
  list-style: none;
}
.paginationblog {
  display: block;
}
  .paginationblog:hover {
    color:inherit;
    text-decoration: none;
  }
  .paginationblog.newpost:hover {
    color:#fff;
  }
.blog-post-title a {
  color:inherit;
}
.follow a[href*='facebook']:hover {
  background-color: #3b5998;
  border-color: #3b5998;
}
.follow a[href*='twitter']:hover {
  background-color: #55acee;
  border-color: #55acee;
}
.follow a[href*='instagram']:hover {
  background-color: #3f729b;
  border-color: #3f729b;
}
.follow a[href*='google']:hover {
  background-color: #dc4e41;
  border-color: #dc4e41;
}
.follow a:hover {
  background-color: #333;
  border-color: #333;
}
.alternate.grid .rebirth-icon {
  font-size: 3em;
}
.counter.small .col-sm-8,
.counter.small .col-sm-6 {
  border: 0px !important;
}
.contact-link.fa {
    font-size: 14px;
    line-height: 30px;
    font-family: 'Raleway', sans-serif;
}
.admin-bar header {
  top:42px;
}
.admin-bar .dropdown-icon {
  top:49px;
}
.admin-bar header.overflow.fixed {
  top: 32px;
}
.features .horizontal-border {
  position:relative;
}
.features div[class*="col-"] .horizontal-border:after {
  right: -40px;
}
.loadmore a.disable {
  opacity: 0.5;
}
.section.full-width .container {
  max-width: 100%;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}
  .section.full-width .container .vc_row {
    margin-left: 0px;
    margin-right: 0px;
  }
    .section.full-width .container .vc_row .vc_column-inner {
      padding-left: 0px;
      padding-right: 0px;
    }
/*SIDEBAR*/
.sidebar .title.small {
  margin-bottom: 20px;
}
.sidebar .widget {
  margin-bottom: 40px;
}
  .sidebar .widget a {
    font-size: 15px;
    color:#000;
    font-weight: bold;
  }
.widget_categories, .widget_tag_cloud {
    margin-top: 28px;
}
  .widget.widget_categories li {
    display: inline-block;
    margin-right: -1px;
    border:0px;
    padding:0px;
  }
  .widget_categories a,
  .widget_tag_cloud a {
    font-size: 12px !important;
    text-transform: uppercase;
    margin-bottom: 11px;
    font-weight: 700;
    line-height: 25px;
    border: 2px solid #F3F3F3;
    color: #000;
    padding: 0 14px;
    letter-spacing: .4px;
    display: inline-block;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }
    .widget_categories a:hover,
    .widget_tag_cloud a:hover {
      color: #fff;
      background-color: #ed2b45;
      border-color: #ed2b45;
      text-decoration: none;
    }
.widget li {
  border-bottom: 1px solid #eee;
  position: relative;
  overflow: hidden;
  padding-bottom: 14px;
  margin-top: 20px;
}
#wp-calendar {
  width: 100%;
  font-size: 11px;
}
#wp-calendar thead th {
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-top: none;
  font-size: 11px;
}
#wp-calendar tbody td {
  text-align: center;
  border: 1px solid #ddd;
  line-height: 2.5em;
  transition: background 0.15s ease;
  -webkit-transition: background 0.15s ease;
  -o-transition: background 0.15s ease;
  -moz-transition: background 0.15s ease;
}
#wp-calendar tbody td:hover {
  background: #f1f1f1;
  color: #333;
}
#wp-calendar tbody td a {
  display: block;
  text-decoration: none;
  background: #f1f1f1;
  color: #333;
}
#wp-calendar tbody td:hover a {
  background: #4d4d4d;
  color: #fff;
}
#wp-calendar tfoot td {
  padding-top: 1px;
  padding: 4px;
}
.inverse-color .sidebar a {
  color:#fff !important;
}
#wp-calendar caption {
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0;
  padding: 12px;
  outline: 0 none !important;
  background: #ed2b45;
  color: #fff;
}
#wp-calendar tbody a {
  display: block;
  text-decoration: underline;
}
#wp-calendar th {
  text-align: center;
  border: 1px solid transparent;
  border-top: none;
  padding: 7px 0;
  color: #a7a7a7;
}
#footer #wp-calendar thead th {
  background: #222;
}
#footer #wp-calendar tbody td {
  border-color: #222;
}
/*MENU*/
#jHeader .menu-item {
  position: relative;
  overflow: hidden;
}
#jHeader .menu-item.menu-item-has-children {
  padding-right: 6px;
}
#jHeader .menu-item.menu-item-has-children:after {
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -7px;
  color:#fff;
  line-height: 14px;
  content: "\f107";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#jHeader .menu-item .sub-menu {
  list-style: none;
  background: #000;
  margin: 0px;
  padding: 20px 8px;
  position: absolute;
  width: 215px;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
#jHeader .menu-item .sub-menu .menu-item a {
  display: block;
  padding: 5px 10px;
  color:#fff;
}
#jHeader .menu-item .sub-menu .menu-item a:hover {
  text-decoration: none;
  color: #fff;
}
#jHeader .menu-item:hover {
  overflow: visible;
}
#jHeader .menu-item:hover .sub-menu {
  opacity: 1;
}
#jHeader .sub-menu .menu-item.active a,
#jHeader .sub-menu .menu-item.current a,
#jHeader .sub-menu .menu-item a:hover {
  color: #fff;
  background-color: transparent;
}
#jHeader .sub-menu  .menu-item a:active,
#jHeader .sub-menu  .menu-item a:focus {
  background-color: transparent;
}
#jHeader .menu-item .sub-menu ul {
    left: 100%;
    position: absolute;
    top: 0px;
}
#jHeader .sub-menu .menu-item.menu-item-has-children:after {
  content: "\f105";
  right: 10px;
  color:#fff;
}
/*
*   POST FORMATING
*/
/* Gallery */
.post-details iframe {
  max-width: 100%;
}
.post-details .gallery {
  margin-bottom: 20px;
  margin-left: -4px;
}

.post-details .gallery-item {
  float: left;
  margin: 0 0px 4px 0;
  overflow: hidden;
  position: relative;
  position: relative;
}
.post-details .gallery-item img {
  width: 100%;
}
.post-details .gallery-columns-1.gallery-size-medium,
.post-details .gallery-columns-1.gallery-size-thumbnail,
.post-details .gallery-columns-2.gallery-size-thumbnail,
.post-details .gallery-columns-3.gallery-size-thumbnail {
  display: table;
  margin: 0 auto 20px;
}

.post-details .gallery-columns-1 .gallery-item,
.post-details .gallery-columns-2 .gallery-item,
.post-details .gallery-columns-3 .gallery-item {
  text-align: center;
}

.post-details .gallery-columns-4 .gallery-item {
  max-width: 23%;
  max-width: -webkit-calc(25% - 4px);
  max-width:         calc(25% - 4px);
}

.post-details .gallery-columns-5 .gallery-item {
  max-width: 19%;
  max-width: -webkit-calc(20% - 4px);
  max-width:         calc(20% - 4px);
}

.post-details .gallery-columns-6 .gallery-item {
  max-width: 15%;
  max-width: -webkit-calc(16.7% - 4px);
  max-width:         calc(16.7% - 4px);
}

.post-details .gallery-columns-7 .gallery-item {
  max-width: 13%;
  max-width: -webkit-calc(14.28% - 4px);
  max-width:         calc(14.28% - 4px);
}

.post-details .gallery-columns-8 .gallery-item {
  max-width: 11%;
  max-width: -webkit-calc(12.5% - 4px);
  max-width:         calc(12.5% - 4px);
}

.post-details .gallery-columns-9 .gallery-item {
  max-width: 9%;
  max-width: -webkit-calc(11.1% - 4px);
  max-width:         calc(11.1% - 4px);
}

.post-details .gallery-columns-1 .gallery-item:nth-of-type(1n),
.post-details .gallery-columns-2 .gallery-item:nth-of-type(2n),
.post-details .gallery-columns-3 .gallery-item:nth-of-type(3n),
.post-details .gallery-columns-4 .gallery-item:nth-of-type(4n),
.post-details .gallery-columns-5 .gallery-item:nth-of-type(5n),
.post-details .gallery-columns-6 .gallery-item:nth-of-type(6n),
.post-details .gallery-columns-7 .gallery-item:nth-of-type(7n),
.post-details .gallery-columns-8 .gallery-item:nth-of-type(8n),
.post-details .gallery-columns-9 .gallery-item:nth-of-type(9n) {
  margin-right: 0;
}

.post-details .gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.post-details .gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.post-details .gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.post-details .gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
  clear: left;
}

.post-details .gallery-caption {
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  line-height: 1.3;
  margin: 0;
  max-height: 50%;
  opacity: 0;
  padding: 2px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  -webkit-transition: opacity 400ms ease;
  transition:         opacity 400ms ease;
  width: 100%;
}

.post-details .gallery-caption:before {
  box-shadow: 0 -10px 15px #000 inset;
  content: "";
  height: 100%;
  min-height: 49px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.post-details .gallery-item:hover .gallery-caption {
  opacity: 1;
}

.post-details .gallery-columns-7 .gallery-caption,
.post-details .gallery-columns-8 .gallery-caption,
.post-details .gallery-columns-9 .gallery-caption {
  display: none;
}
.post-details table, .comment-body table {
  border-bottom: 1px solid #ededed;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
  line-height: 2;
  margin: 0 0 20px;
  width: 100%;
}

.post-details caption,
.post-details th,
.post-details td {
  font-weight: normal;
  text-align: left;
}

.post-details caption {
  font-size: 16px;
  margin: 20px 0;
}

.post-details th, .comment-body th {
  font-weight: bold;
  text-transform: uppercase;
}

.post-details td, .comment-body td {
  border-top: 1px solid #ededed;
  padding: 6px 10px 6px 0;
}

.post-details dl {
  margin: 0 20px;
}

.post-details dt {
  font-weight: bold;
}

.post-details dd {
  margin: 0 0 20px;
}
.post-details ol,
.post-details ul {
  margin: 16px 0;
  padding: 0 0 0 40px;
}

.post-details ul {
  list-style-type: square;
}
.post-details ol {
  list-style-type: decimal;
}
/*
*   WORDPRESS CLASSES
*/
.sticky {}
.alignnone {
  margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.screen-reader-text {display:none;}
.bypostauthor, .gallery-caption {}
.post-details h1 {
  font-size: 50px;
  line-height: 1.5;
}
.post-details h2 {
  font-size: 40px;
  line-height: 1.5;
}
.post-details h3 {
  font-size: 30px;
  line-height: 1.5;
}
.post-details h4 {
  font-size:25px;

line-height: 1.5;}
.post-details h5 {
  font-size: 15px;
  line-height: 1.5;
}
.post-details h6 {
  font-size: 10px;
  line-height: 1.5;
}
.post-details blockquote {
  margin:20px 0px;
  padding-left: 20px;
  font-style: italic;
  border-left: 5px solid #333;
}
@media (max-width: 500px) {
    .slide-content .vertical-align .subtitle {
        display: none;
    }
}
