.discount-module-container{
    height: 306px;
    @media screen and (max-width: $sm-screen) {
        height: 239px;
    } 
    .wpb_column{
        display: table; 
        width: 100%;
        height: 100%;
        .vc_column-inner{
            display: table-cell;
            vertical-align: middle;
            position: relative;
            .wpb_text_column{
                margin-bottom:0;
                p{
                    position: relative;
                    padding-bottom: 0;
                    color: white;
                    font-size: 30px;
                    line-height: 37px;
                    @media screen and (max-width: $sm-screen) {
                        font-size: 22.5px;
                    } 
                    &:after {
                        content: ' ';
                        position: absolute;
                        width: 66px;
                        height: 8px;
                        top:-45px;
                        right: calc(50% - 33px);
                        background: white;
                        @media screen and (max-width: $sm-screen) {
                            top:-30px;
                        } 
                    }
                    &:before{
                        content: ' ';
                        position: absolute;
                        width: 66px;
                        height: 8px;
                        bottom:-45px;
                        right: calc(50% - 33px);
                        background: white;
                        @media screen and (max-width: $sm-screen) {
                            bottom:-30px;
                        }
                    }
                } 
            } 
        }
    }
}