.footer-module-container {
    background: $pub-red;
    padding: 50px 0;
    .wpb_content_element{
        margin-bottom: 0;
        address{
            font-size:12px;
            color: white;
            padding-left: 10%;
            margin-top: 14px;
            font-family: GothamBook !important;
            @media screen and (max-width: $xs-screen) {
                font-size:14px;
                margin-top: 20px;
            }
            p, a {
            line-height: 145%;
            padding-left:0;
            color: white;
                @media screen and (max-width: $xs-screen) {
                font-size:14px;
                }
            }
        }
    }
   
    .text-one-footer {
        @media screen and (max-width: $xs-screen){
            padding-left: 0 !important;
        }
        .wpb_wrapper {
            position: relative;
            p {
                position:absolute;
                font-size:12px;
                right: 0px;
                color: white;
                border-right:1px solid white;
                padding-bottom: 0px;
                padding-right: 10%;
                @media screen and (max-width: $xs-screen) {
                    font-size:14px;
                    border:none;
                    position:static;
                    padding-left:10%;
                }
            }
        }
    }
}  