.page-template-page-template-production{

    .production-heading-message{
        padding: 70px 5% 20px 5%;
        min-height: 400px;
        .vc_column-inner{
            max-width: 1050px;
            margin: 0 auto;
            .wpb_content_element{
                padding: 0;
                .wpb_wrapper{
                    p{
                        color: $white;
                        font-size: 19px;
                    }
                }
            }
            & .wpb_single_image{
                margin-bottom: 26px;
                img{
                    max-width: 70%;
                }
            }
        }
        .production-heading-message-summery{
            width: 100%;
            max-width: 1600px;
            margin: 0 auto !important;
            .vc_col-sm-4 {
                padding: 0 3%;
                p{
                    max-width: 250px;
                    margin: 0 auto;
                    font-size: 17px !important;
                    @media screen and (max-width: $sm-screen){
                        font-size: 16px !important;
                    }
                }
            }
            & .first{
                &:after{
                    position: absolute;
                    top: 5%;
                    left: 1%;
                    width: 100%;
                    text-align: right;
                    content: '+';
                    display: inline-block;
                    color: $white;
                    font-size: 50px;
                    @media screen and (max-width: $xs-screen) {
                        display: none;
                    }
                }
            }
            & .last{
                &:before{
                    position: absolute;
                    top: 5%;
                    left: 1%;
                    width: 100%;
                    text-align: left;
                    content: '+';
                    display: inline-block;
                    color: $white;
                    font-size: 50px;
                    @media screen and (max-width: $xs-screen) {
                        display: none;
                    }
                }
            }
        }
    }
    
}