.page-template-page-template-production{
    #pinContainer {
        width: 100% !important;
        height: 100% !important;
        overflow: hidden;
        .intro{
            max-height: none;
            height: 100%;
            .image-cover{
                @media screen and (max-width: $xs-screen) {
                    background-image:url('images/demo/lion-mobile-hero-bg-image.png') !important;
                }
                .iconScroll{
                    bottom:15%;
                    left:0px;
                    .scroll {
                        &__down {
                            position: absolute;
                            top: 50%;
                            bottom: -44px;
                            left: 50%;
                            display: inline-block;
                            width: auto;
                            margin: 0 auto;
                            text-align: center;
                            background-color: transparent;
                            border: none;
                            transform: translate(-50%, -50%);
                        }

                        &__mouse {
                            position: relative;
                            display: inline-block;
                            width: 34px;
                            height: 54px;
                            margin: 0 auto;
                            border: 2px solid #fff;
                            border-radius: 20px;
                        }

                        &__wheel {
                            position: absolute;
                            top: 14px;
                            left: 13px;
                            width: 4px;
                            height: 4px;
                            background-color: #fff;
                            border-radius: 50%;
                            animation: scrollDown 2.5s infinite;
                        }
                    }
                }
            }
        }
        .slider-text-container{
            display: table;
            height: 100%;
            top: 0px;
            width: 100%;
            max-width: 612px;
            margin: 0 auto;
            text-align: center;
            .slider-text-content{
                display: table-cell;
                vertical-align: middle;
                h1{
                    color: white;
                    font-size: 28px;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 0px !important;
                    @media screen and (max-width: 320px){
                        font-size: 18px;
                    }
                    &:after {
                        content: ' ';
                        position: absolute;
                        width: 66px;
                        height: 8px;
                        right: calc(50% - 33px);
                        background: white;
                        margin-top: 75px;
                    }
                    &:before{
                        content: ' ';
                        position: absolute;
                        width: 66px;
                        height: 8px;
                        right: calc(50% - 33px);
                        background: white;
                        margin-top: -45px;
                    }
                }
            }
        }
        .panel {
            top: 0px;
            height: 100%;
            width: 50%;
            position: absolute;
            z-index: 2;
            border: none; 
            border-radius: 0px;
            @supports (-ms-ime-align:auto) {
                display: none;
            }
            &.left{
                left: 0px;
                background: #84215f;
            }
            &.right{
                right: 0px;
                background: #b22e5d;
                text-align: left;
            }
            .image-container, .text-container {
                display: table;
                height: 100%;
                position: absolute;
                top: 0px;
                &.left{
                    right: 0px;
                    text-align: right;
                }
                &.right{
                    left: 0px;
                    text-align: left;
                }
                .image-content, p{
                    display: table-cell;
                    vertical-align: middle;
                }
                p{
                    padding: 30px;
                    color: white;
                    font-size: 30px;
                    text-transform: lowercase;
                    line-height: 160%;
                }
            }
            
        }
    }

    @keyframes scrollDown {
        0% {
            top: 14px;
            opacity: 0;
        }

        15% {
            top: 14px;
            opacity: 1;
        }

        30% {
            top: 14px;
            opacity: 1;
        }

        45% {
            top: 34px;
            opacity: 1;
        }

        100% {
            top: 34px;
            opacity: 0;
        }
    }
}