.letstalk-module-container{
    .wpb_wrapper{
        max-width: 1035px;
        margin: 0 auto;
        .jt_row-fluid{
            display: flex;
            flex-direction: row;
            @media screen and (max-width: $xs-screen){
                flex-direction: column-reverse;
            }

            .image-container{
                .brett_image{
                    text-align: right;
                    margin-top: 7%;
                    @media screen and (max-width: $md-screen){
                        margin-bottom: 0;
                    }
                    @media screen and (max-width: $xs-screen){
                        text-align: center;
                        margin-top: 0;
                    }
                    img{
                        width: 230px;
                        @media screen and (max-width: $xs-screen){
                            width: 190px;
                        }
                    }
                }
            }

            .text-container{
                .vc_column-inner{
                    padding: 15% 5% 0 10% !important;
                    .wpb_content_element{
                        padding: 0;
                        margin-bottom: 0px;
                        h2{
                            text-transform: uppercase;
                            font-size: $fSize-h2;
                        }
                        p{
                            font-size: $fSize-p;
                        }
                    }
                }
            }
        }
        
    }
}