.logo-module-container {
    padding: 106px 0px;
    color: white;
    text-transform: uppercase;
    @media screen and (max-width: $sm-screen) {
        padding: 40px 0px;
    }

    .clients-inline {
        max-width: 1050px;
        @media screen and (max-width: 1063px) {
            max-width: 400px;
        }
        li {
            max-width: 103px;
            margin: 12px 14px;
            display: inline-block;
            @media screen and (max-width: 1063px) {
                max-width: 74px;
                margin: 12px 7px;
            }    
        }
    }   

    .wpb_content_element {
        margin-bottom: 25px;
        p {
            font-size:20px;
            letter-spacing:0.5px !important;
            padding:0px;
            line-height: 25px;
            @media screen and (max-width: $sm-screen) {
                line-height: 22px;
                font-size: 17px;
            }
        }
    }
}


 
