.meeting-module-container {
    color:white;
    background-position: center center;
    background-size: 2016px 611px;
    padding: 70px 15% 40px 15%;
    z-index: 0;
    @media screen and (max-width: $lrg-screen) {
        padding: 70px 0% 40px 0%;
    }
    .title {
        .wpb_wrapper{
            display: flex;
            justify-content: center;
            h2 {
                color:white;
                text-transform: uppercase;
                font-size:20px !important;
                letter-spacing:0.5px !important;
                padding-bottom: 10px;
                @media screen and (max-width: $xs-screen) {
                    line-height: 24px;
                    font-size: 18px !important;
                }
            }
        }
    }
    .meeting-module-container-icons{
        padding: 0 3%;
        .vc_column_container{
            padding: 10px;
            .wpb_text_column {
                padding: 0px;
                display: flex;
                justify-content: center;
                .wpb_wrapper{
                    width:252px;
                    @media screen and (max-width: $sm-screen) {
                        width:314px;
                    }
                    p {
                        font-size:13px;
                        letter-spacing: 1px !important;
                        // line-height: 21px !important;
                        padding-bottom: 8px;
                        @media screen and (max-width: $sm-screen) {
                            font-size:16px;
                        }
                    }
                }
            }  
            .second-text {
                .wpb_wrapper {
                    width:298px;
                    @media screen and (max-width: $sm-screen) {
                        width: 314px;
                    }
                }
            }
            .wpb_single_image {
                display: flex;
                justify-content: center;
                margin-bottom: 19px;
                img {
                    width:65px;
                    height:auto;
                }
            }
        }
    }

}