.page-template-page-template-production{

    #jHeader, #jHeader.invert #navbar-rebirth{
        background-color: transparent !important;
        margin-top: 0;
        width: 100%;
        @media screen and (max-width: $md-screen){
            margin-top: 0;
        }
        .navbar-default{
            .navbar-header{
                @media screen and (max-width: $md-screen){
                    text-align: center;
                }
                .navbar-toggle{
                    @media screen and (max-width: $md-screen){
                        display: none;
                    }
                }
                .navbar-brand{
                    @media screen and (max-width: $md-screen){
                        float: none;
                    }
                    img{
                        @media screen and (min-width: $md-screen){
                            max-height: 55px;
                        }
                    }
                }
            }
            .navbar-container{
                @media screen and (max-width: $xs-screen){
                        padding:0;
                    }
                .navbar-collapse{
                    float: right;
                    @media screen and (max-width: $md-screen){
                        display: block !important;
                        border-top: none;
                        box-shadow: none;
                        padding: 0;
                        float: none;
                    }
                    .navbar-nav{
                        width: 100%;
                        @media screen and (max-width: $md-screen){
                            text-align: center;
                            margin: 20px 0 0;
                        }
                        .main-menu-item{
                            @media screen and (max-width: $md-screen){
                                display: inline-block;
                            }
                        }
                        li{
                            float: right;
                            @media screen and (max-width: $md-screen){
                                float: none;
                            }
                            a{
                                &::-moz-focus-inner, &:active, &:focus {
                                    border: 0;
                                    outline:0;
                                }
    
                                @media screen and (max-width: $md-screen){ 
                                    padding: 10px 6px;
                                    margin: 0 3px;
                                }
                                @media screen and (max-width: $xs-screen){ 
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
                
        }
    }
   
}