.procure-contact-module-container{
    opacity: 1; 
    position: relative;
    height: 560px; //382px
    background-color: white;
    z-index: 1;
    @media screen and (max-width: $sm-screen) {
        height: auto;
    }
    .procure-contact-module-content{
        opacity: 1;
        position: absolute;
        left: 50%;
        width: 100%;
        max-width: 1600px;
        transform: translateX(-50%);
        top: -35px;
        padding-top: 70px;
        padding-bottom: 50px;
        background-color: white;
        -webkit-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.3);
        z-index: 1;
        @media screen and (max-width: $sm-screen) {
            position: relative;
            left: 0;
            width: auto;
            transform: none;
            top: 0;
        }
        .wpb_text_column{
            margin-bottom: 0px;
        }
        form{
            margin: 0 auto;
            padding-top: 20px;
            .container{
                max-width: 900px;
                .col-xs-12{
                    text-align: left;
                }

                label{
                    line-height: 0.4;
                    display: block;
                    input{
                        padding: 10px;
                        border-bottom: 2px solid #d6d5d6;
                    }
                }
                & .services-label{
                    position: relative;
                    top: 10px;
                    left: 0px;
                    color: #8f8f8f;
                    padding: 10px;
                    letter-spacing: 0px !important;
                }
                input{
                    letter-spacing: 0px !important;
                }

                .wpcf7-textarea{
                    padding: 10px;
                    height: 127px;
                    line-height: 1.3;
                    width: 100%;
                    margin-top: 20px;
                    padding-top: 20px;
                    border: 2px solid #d6d5d6;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    resize: none;
                }

                .wpcf7-not-valid-tip{
                    top: 34px;
                    color: $pub-red;
                    text-align: left;
                }

                .your-message{
                    .wpcf7-not-valid-tip{
                        top: 167px;
                    } 
                }
                .character-count, .character-count.down{
                    line-height: 2.5;
                    font-size: 10px;
                    color: #666 !important;
                }
                .wpcf7-submit{
                    background: $pub-red;
                    color: white;
                    font-weight: bold;
                    border-bottom: none;
                    margin-top: 20px;
                    max-width: 120px;
                }
                .your-consent{
                    width: 100%;
                    .wpcf7-acceptance{
                        width: 100%;
                        .wpcf7-list-item{
                            margin-top: 20px;
                            margin-left: 0px;
                            width: 100%;
                            label{
                                width: 100%;
                                input{
                                    max-width: 14px;
                                    max-height: 14px;
                                }
                                font-size: 12px;
                                .your-consent-text{
                                    padding-left: 15px;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
            .wpcf7-validation-errors{
                top: 0px;
                text-align: center;
                color: $pub-red;
            }
            
        }
    }
}