.page-template-page-template-production{
    //WARNING: chaning letter-spacing and line-height for all text
    h1, h2, h3, p, button, span, address{
        letter-spacing: 0.5px !important;
        line-height: 145%;
    }
    .grecaptcha-badge{
        display: block; 
    }
}
