.tab-modules{
    .wpb_wrapper{
        max-width: 1550px;
        margin: 0 auto;
        .section-title{
            margin-bottom: 0;
            padding-top: 1%;
            h1{
                color: black;
                font-size: 27px;
                text-transform: uppercase;
                font-weight: bold;
                padding-bottom: 20px
            }
        }
        .vc_tta-container{
            margin: 0px; 

            .vc_tta-tabs-container{
                ul{
                    @media screen and (max-width: $md-screen){
                        position: relative;
                        text-align: left;
                        -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
                        -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
                        box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
                        margin: 0 5%;
                    }
                    li{
                        &.vc_tta-tab{ 
                            @media screen and (max-width: $md-screen){
                                display: block;
                                position: relative;
                            }
                            a{
                                padding-bottom: 2px;
                                border: 0;
                                color: black;
                                border-bottom: 1px solid #b7b7b7;
                                background-color: transparent;
                                @media screen and (max-width: $md-screen){
                                    border-bottom: 0;
                                    display: none;
                                    padding: 5px 20px;
                                }
                                &:hover{
                                    font-weight: bold;
                                }
                                &:after{
                                    content: "";
                                    position: absolute;
                                    height: 5px;
                                    width: 0;
                                    bottom: 0;
                                    display: block;
                                    left: 50%;
                                    -webkit-transition: width .3s ease 0s,left .3s ease 0s;
                                    -o-transition: width .3s ease 0s,left .3s ease 0s;
                                    transition: width .3s ease 0s,left .3s ease 0s;
                                }
                            }
                        }
                        &:first-child:before {
                            @media screen and (max-width: $md-screen){
                                position: absolute;
                                position: relative;
                            }
                        }
                        &:first-child:after {
                            @media screen and (max-width: $md-screen){
                                position: absolute;
                                top: 10px;
                                right: 10px;
                                font-family: FontAwesome;
                                font-size: 30px;
                                content: "\f107";
                                color: $pub-red;
                                padding-right: 10px;
                            }
                        }
                        &.vc_active{
                            a{
                                font-weight: bold;
                                position: relative;
                                display: block;
                                &:after{
                                    content: "";
                                    position: absolute;
                                    width: 100%;
                                    height: 5px;
                                    bottom: 0;
                                    background-color: $pub-red;
                                    display: block;
                                    left: 0;
                                    -webkit-transition: width .3s ease 0s,left .3s ease 0s;
                                    -o-transition: width .3s ease 0s,left .3s ease 0s;
                                    transition: width .3s ease 0s,left .3s ease 0s;
                                    @media screen and (max-width: $md-screen){
                                        height: 0px;
                                    }
                                }
                            }   
                        }
                    }
                }    
            }

            .vc_tta-tabs-container.dropdown-visible ul{
                @media screen and (max-width: $md-screen){
                    height: initial;
                    background: white;
                    position: absolute;
                    width: 90%;
                }
                & li {
                    &:first-child:after {
                        @media screen and (max-width: $md-screen){
                            content: "\f00d";
                            font-size: 20px;
                        }
                    }
                    &:last-child {
                        @media screen and (max-width: $md-screen){
                            margin-bottom: 10px;
                        }
                    }
                    & a {
                        @media screen and (max-width: $md-screen){
                            display: block;
                        }
                    }
                }
            }

            
            .vc_tta-panels-container{
                margin: 0 5%;
                .reverse-order{
                    @media screen and (max-width: $md-screen){
                        display: flex;
                        flex-direction: column-reverse;
                    }
                }
                .vc_tta-panel-body{
                    padding: 4% 0;
                    @media screen and (max-width: $xs-screen){
                        padding: 8% 0;
                    }
                    .text-container{
                         @media screen and (max-width: $md-screen) {
                            width: 100%;
                            margin-top: 5%;
                        }
                        .section-description{
                            padding: 0;
                            margin-bottom: 5%;
                            p{
                                padding-bottom: 0;
                            }
                        }
                        
                        .wpb_raw_html{
                            margin-bottom: 5%;
                            @media screen and (max-width: $md-screen){
                                margin-bottom: 0;
                            }
                            .section-columns{
                                @media screen and (max-width: $md-screen){
                                    width: 60%;
                                    margin: 0 auto;
                                    text-align: center;
                                }
                                h3{
                                    padding-bottom: 0;
                                }
                            }
                        }
                        .section-cta{
                            @media screen and (max-width: $md-screen){
                                width: 100%;
                            }
                            a{
                                color: $white;
                                border: none;
                                background-color: $pub-red;
                                padding: 17px 25px;
                                font-weight: bold;
                                @media screen and (max-width: $md-screen){
                                    transform: translateX(-50%);
                                    margin-left: 50%;
                                }
                                @media screen and (max-width: 320px){
                                    padding: 17px 16px;
                                }
                            }
                        }
                    }
                    .media-container{
                        @media screen and (max-width: $md-screen) {
                            width: 100%;
                            padding: 0 !important;
                        }
                        .wpb_content_element{
                            margin-bottom: 0;
                        }
                    }
                    
                    .left{
                        padding-right:50px;
                    }
                    .right{
                        padding-left: 50px;
                    }
                }
            }
        }
    }
}