/*
 Theme Name:   Publicis
 Theme URI:    http://localhost:8888/Publicis/
 Description:  rebirth-jellythemes Child Theme
 Author:       Amir Navid
 Author URI:   http://localhost:8888/
 Template:     rebirth-jellythemes
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         Custom
 Text Domain:  Publicis
*/
/* Publicis Font Family */
/* batch test line */
/* CSS Document */
/* Publicis Variables */
/* colors */
/* font size */
/* media screen sizes */
/* stabilizers */
html, body {
  height: 100% !important;
}

@font-face {
  font-family: 'GothamBook';
  src: url("font/GothamBook.eot");
  src: url("font/GothamBook.eot?#iefix") format("embedded-opentype"), url("font/GothamBook.woff2") format("woff2"), url("font/GothamBook.woff") format("woff"), url("font/GothamBook.ttf") format("truetype"), url("font/GothamBook.svg#svgFontName") format("svg");
}
.navbar, footer .container-fluid, .copyright p {
  max-width: 1950px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, p, button, li, span, .primary-title.invert, .iconScroll .info, .wp-title, .welcome-message, .vc_btn3-container, .title-project, .menu-link {
  font-family: GothamBook !important;
  letter-spacing: 2px !important;
}

h1, h2, h3, h4, h5 {
  line-height: 150%;
}

p, a, button {
  line-height: 200%;
}

.intro .image-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}
@media screen and (max-width: 768px) {
  .intro .image-cover {
    background-attachment: inherit;
  }
}

.wpb_wrapper h1 {
  font-size: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  color: #d72130;
  line-height: 150%;
}
.wpb_wrapper h2 {
  font-size: 18px;
  padding-bottom: 20px;
}
.wpb_wrapper h3 {
  font-size: 16px;
  padding-bottom: 20px;
}
.wpb_wrapper p {
  font-size: 15px;
  padding-bottom: 15px;
}

.col-sm-6:first-child .wpb_text_column, .col-sm-12:first-child .wpb_text_column, .col-sm-9:first-child .wpb_text_column {
  padding-left: 15%;
}

.col-sm-6:last-child .wpb_text_column, .col-sm-12:last-child .wpb_text_column, .col-sm-9:last-child .wpb_text_column {
  padding-right: 15%;
}

.vc_row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.vc_column-inner {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.mobile-show {
  display: none;
}

.desktop-show {
  display: block;
}

@media screen and (max-width: 768px) {
  .mobile-show {
    display: block;
  }

  .desktop-show {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .col-sm-6:first-child .wpb_text_column, .col-sm-12:first-child .wpb_text_column, .col-sm-9:first-child .wpb_text_column {
    padding-left: 5%;
  }

  .col-sm-6:last-child .wpb_text_column, .col-sm-12:last-child .wpb_text_column, .col-sm-9:last-child .wpb_text_column {
    padding-right: 5%;
  }
}
.fa.fa-angle-left:before, .fa.fa-angle-right:before {
  font-size: 40px;
  position: absolute;
  top: 3px;
  text-align: center;
  width: 20px;
  margin: 0 auto;
  left: 15px;
}

.intro-comments, .button-blog {
  display: none !important;
}

.loader {
  width: 140px;
  height: 140px;
  position: fixed;
  z-index: 10000;
}

.anchor-full {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  z-index: 1;
}

.iconScroll {
  left: 0px;
}

.intro {
  max-height: 480px;
}
.intro .info {
  text-shadow: 1px 1px 10px white;
}

@media screen and (min-width: 991px) {
  .single-post .intro {
    max-height: 620px;
  }
}

.grecaptcha-badge {
  display: none;
  z-index: 10;
}

#jHeader {
  top: 0px;
  padding: 15px;
  background-color: #d72130 !important;
}
@media (max-width: 1200px) and (min-width: 991px) {
  #jHeader ul li a {
    margin: 0px;
    font-size: 14px;
  }
}
#jHeader .navbar-brand {
  top: 0px;
}
@media screen and (max-width: 768px) {
  #jHeader #navbar-rebirth {
    margin-top: 15px;
  }
}

#jHeader.invert.overflow.fixed {
  opacity: 1;
  background-color: #d72130 !important;
  -webkit-transition: opacity .5s ease-in;
  -moz-transition: opacity .5s ease-in;
  -o-transition: opacity .5s ease-in;
  -ms-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}

#jHeader.invert #navbar-rebirth {
  background-color: #d72130;
}

#jHeader.overflow {
  opacity: 0;
}

.fiftyXfixty-txtL-imgR-module {
  margin-left: 0px;
  margin-right: 0px;
}
.fiftyXfixty-txtL-imgR-module .fXf-txtL-imgR-left-col {
  background: #d72130;
  padding: 0% 3%;
  padding-top: 1%;
  max-height: 400px;
  height: 350px;
}
@media screen and (max-width: 991px) {
  .fiftyXfixty-txtL-imgR-module .fXf-txtL-imgR-left-col {
    max-height: none !important;
    height: auto !important;
  }
}
.fiftyXfixty-txtL-imgR-module .fXf-txtL-imgR-left-col .vc_column-inner {
  height: 100%;
  padding-top: 0px;
}
.fiftyXfixty-txtL-imgR-module .fXf-txtL-imgR-left-col .vc_column-inner h1 {
  font-size: 30px;
  color: #ffffff;
  letter-spacing: 3px;
  padding-bottom: 20px;
  line-height: 30px;
}
.fiftyXfixty-txtL-imgR-module .fXf-txtL-imgR-left-col .vc_column-inner p {
  color: #ffffff;
  max-width: 600px;
  margin: 0 auto;
}
.fiftyXfixty-txtL-imgR-module .fXf-txtL-imgR-left-col .vc_column-inner .fXf-txtL-imgR-left-cta a {
  border: 1px solid #ffffff;
  width: 200px;
  letter-spacing: 3px;
}
.fiftyXfixty-txtL-imgR-module .fXf-txtL-imgR-left-col .vc_column-inner .wpb_content_element {
  padding-left: 10%;
  padding-right: 10%;
}
.fiftyXfixty-txtL-imgR-module .fXf-txtL-imgR-left-col .vc_column-inner .wpb_wrapper {
  height: 95%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
.fiftyXfixty-txtL-imgR-module .fXf-txtL-imgR-right-col .vc_column-inner {
  min-height: 350px;
}
@media screen and (max-width: 991px) {
  .fiftyXfixty-txtL-imgR-module .fXf-txtL-imgR-right-col .vc_column-inner {
    min-height: 500px !important;
  }
}
@media screen and (max-width: 991px) {
  .fiftyXfixty-txtL-imgR-module .vc_col-sm-6 {
    width: 100%;
  }
}

.bgImg-txtOver-module .vc_column-inner .wpb_wrapper {
  min-height: 330px;
}
.bgImg-txtOver-module .vc_column-inner .wpb_wrapper h1 {
  color: #ffffff;
  padding-top: 30px;
}
.bgImg-txtOver-module .vc_column-inner .wpb_wrapper p {
  padding: 0px 5% 50px 5%;
  color: #ffffff;
}
.bgImg-txtOver-module .vc_column-inner .wpb_wrapper .wpb_text_column {
  margin-bottom: 0px;
}

.image-cover .portfolio-filter-container {
  position: absolute;
  bottom: 0px;
}
.image-cover .portfolio-filter-container .wp-title {
  text-align: center;
}
@media screen and (max-width: 991px) {
  .image-cover .portfolio-filter-container .wp-title {
    font-size: 130%;
  }
}
.image-cover .portfolio-filter-container .welcome-message {
  text-align: center;
}
.image-cover .portfolio-filter-container .dropdown-menu {
  position: inherit;
}

#portfolio .thumbnails {
  margin: 0px;
}
#portfolio .thumbnails .thumbnail {
  padding: 0px;
}
#portfolio .thumbnails .thumbnail:hover .rollover {
  background: rgba(213, 37, 54, 0.9);
}
#portfolio .thumbnails .thumbnail:hover .rollover .title-project {
  color: white;
}
#portfolio .thumbnails .thumbnail:hover .rollover .tags-project {
  display: none;
}
#portfolio .thumbnails .thumbnail:hover .rollover .vc_btn3-container a {
  border: 1px solid #ffffff;
  color: white;
  text-transform: capitalize;
  margin-top: 20px;
}
#portfolio #portfolio-carousel {
  height: auto !important;
}
#portfolio #portfolio-carousel .carousel-inner {
  height: 500px;
}
#portfolio #portfolio-carousel .carousel-inner .item {
  width: 100%;
  top: 0px !important;
  position: absolute;
}
#portfolio #portfolio-carousel .carousel-control {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #d72130;
  top: 40%;
}
#portfolio #portfolio-carousel .carousel-control.prev {
  left: 0px;
  right: auto;
}
#portfolio #portfolio-carousel .carousel-control.next {
  right: 0px;
  left: auto;
}

.page-template-page-template-team #jHeader {
  background-color: transparent !important;
}
@media screen and (max-width: 768px) {
  .page-template-page-template-team #jHeader {
    background-color: #d72130 !important;
  }
}
.page-template-page-template-team #jHeader.invert.overflow.fixed {
  background-color: #d72130 !important;
}
.page-template-page-template-team #jHeader.invert #navbar-rebirth {
  background-color: transparent;
}
.page-template-page-template-team .intro {
  height: 70%;
}
.page-template-page-template-team .intro .iconScroll {
  bottom: 38%;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-team .intro .iconScroll {
    bottom: 10%;
  }
}
.page-template-page-template-team .intro .iconScroll .info {
  font-size: 42px;
  text-transform: uppercase;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-team .intro .iconScroll .info {
    font-size: 150%;
  }
}
.page-template-page-template-team .wpb_text_column {
  margin-bottom: 0px;
}
.page-template-page-template-team .wpb_text_column .wpb_wrapper h1 {
  text-transform: uppercase;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-team .wpb_text_column .wpb_wrapper h1 {
    line-height: 100%;
  }
}
.page-template-page-template-team .wpb_text_column .wpb_wrapper h1 span {
  color: white !important;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-team .wpb_text_column .wpb_wrapper h1 span {
    font-size: 50%;
    line-height: auto;
  }
}
.page-template-page-template-team .our-people-subhead {
  margin-bottom: 0px !important;
}
.page-template-page-template-team #pub_team_in_action {
  margin-left: 0px;
  margin-right: 0px;
}
.page-template-page-template-team #pub_team_in_action .vc_column-inner {
  padding: 0px;
}
.page-template-page-template-team #pub_team_in_action .vc_grid-item {
  padding: 0px;
}
.page-template-page-template-team #pub_team_in_action .vc_pageable-slide-wrapper {
  margin-right: 0px;
}
.page-template-page-template-team #pub_team_in_action .wpb_content_element {
  margin-bottom: 30px;
}
.page-template-page-template-team #pub_team_in_action .vc_grid-item-mini {
  max-height: 550px;
  background: #181a1a;
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-team #pub_team_in_action .vc_grid-item-mini {
    max-height: none;
  }
}
.page-template-page-template-team #pub_team_in_action .vc_grid-item-mini .vc_gitem-animated-block {
  float: left;
  width: 50%;
  display: inline-block;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-team #pub_team_in_action .vc_grid-item-mini .vc_gitem-animated-block {
    width: 100%;
  }
}
.page-template-page-template-team #pub_team_in_action .vc_grid-item-mini .vc_gitem-zone-a {
  height: 550px;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-team #pub_team_in_action .vc_grid-item-mini .vc_gitem-zone-a {
    height: auto;
  }
}
.page-template-page-template-team #pub_team_in_action .vc_grid-item-mini .vc_gitem-zone-c {
  width: 49.5%;
  display: inline-block;
  position: relative;
  height: 550px;
  background: #181a1a !important;
  color: white;
  max-width: 650px;
  float: left;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-team #pub_team_in_action .vc_grid-item-mini .vc_gitem-zone-c {
    width: 100%;
    height: auto;
    padding: 25px;
    position: relative;
    max-height: none;
    float: none;
    max-width: none;
  }
}
.page-template-page-template-team #pub_team_in_action .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-zone-mini {
  position: absolute;
  padding: 15px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 991px) {
  .page-template-page-template-team #pub_team_in_action .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-zone-mini {
    position: relative;
    padding: 15px;
    margin-right: auto;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    padding: 0;
  }
}
.page-template-page-template-team #pub_team_in_action .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-zone-mini h4 {
  font-size: 25px;
  color: white;
  text-align: center !important;
  width: 100%;
  text-transform: uppercase;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-team #pub_team_in_action .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-zone-mini h4 {
    font-size: 20px;
  }
}
.page-template-page-template-team #pub_team_in_action .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-zone-mini h4:after {
  content: "";
  display: block;
  position: inherit;
  margin-top: 20px;
  width: 60px;
  background-color: #181a1a;
  height: 3px;
}
.page-template-page-template-team #pub_team_in_action .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-zone-mini .vc_gitem-col {
  background: #181a1a;
  text-align: center;
}
.page-template-page-template-team #pub_team_in_action .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-zone-mini .vc_btn3-container {
  text-align: center;
}
.page-template-page-template-team #pub_team_in_action .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-zone-mini .vc_btn3-container a {
  background-color: #d72130;
  border-radius: 0px;
}
.page-template-page-template-team #pub_team_in_action .vc_pageable-slide-wrapper .vc_grid-item:nth-of-type(2n+1) .vc_gitem-animated-block {
  float: right;
}
.page-template-page-template-team #pub_team_in_action .vc_pageable-slide-wrapper .vc_grid-item:nth-of-type(2n+1) .vc_gitem-zone-c {
  float: right;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-team #pub_team_in_action .vc_pageable-slide-wrapper .vc_grid-item:nth-of-type(2n+1) .vc_gitem-zone-c {
    float: none;
  }
}
.page-template-page-template-team #lionHeartedCarousel {
  z-index: 1;
}
.page-template-page-template-team #lionHeartedCarousel .carousel-inner {
  position: relative;
}
.page-template-page-template-team #lionHeartedCarousel .carousel-inner .item {
  background-repeat: no-repeat;
  background-position: top left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 600px;
}
@media screen and (max-width: 768px) {
  .page-template-page-template-team #lionHeartedCarousel .carousel-inner .item {
    background-image: none !important;
  }
}
.page-template-page-template-team #lionHeartedCarousel .carousel-inner .item .lionImageHolder {
  display: none;
  overflow: hidden;
  padding: 0px;
}
@media screen and (max-width: 768px) {
  .page-template-page-template-team #lionHeartedCarousel .carousel-inner .item .lionImageHolder {
    display: block;
  }
}
.page-template-page-template-team #lionHeartedCarousel .carousel-inner .item .lionImageHolder img {
  max-height: 400px;
  max-width: none;
}
.page-template-page-template-team #lionHeartedCarousel .carousel-inner .item .lionInfoHolder {
  margin-left: 50%;
  padding-top: 200px;
  padding-right: 10%;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-team #lionHeartedCarousel .carousel-inner .item .lionInfoHolder {
    padding-right: 60%;
  }
}
@media screen and (max-width: 768px) {
  .page-template-page-template-team #lionHeartedCarousel .carousel-inner .item .lionInfoHolder {
    margin-left: auto;
    padding: 15px;
  }
}
.page-template-page-template-team #lionHeartedCarousel .carousel-inner .item .lionInfoHolder .lionName {
  color: #d72130;
  font-size: 24px;
  text-shadow: -1px 1px 12px white;
}
.page-template-page-template-team #lionHeartedCarousel .carousel-inner .item .lionInfoHolder .lionRole {
  color: #181a1a;
  font-size: 16px;
  text-transform: uppercase;
  text-shadow: -1px 1px 12px white;
}
.page-template-page-template-team #lionHeartedCarousel .carousel-inner .item .lionInfoHolder .lionDesc {
  text-shadow: -1px 1px 12px white;
}
.page-template-page-template-team #lionHeartedCarousel .tparrows {
  position: absolute;
  top: 50%;
  margin: 15px;
  border-radius: 40px;
}
@media screen and (max-width: 768px) {
  .page-template-page-template-team #lionHeartedCarousel .tparrows {
    top: 325px;
  }
}
.page-template-page-template-team #lionHeartedCarousel .tp-rightarrow {
  right: 0px;
}

.rebirth-works-template-default .intro {
  height: 0px;
}
.rebirth-works-template-default .slider-project .work-main-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 991px) {
  .rebirth-works-template-default .slider-project .work-main-section {
    display: inline-block;
  }
}
.rebirth-works-template-default .slider-project .work-main-section .slider-info-container h1 {
  width: 100%;
  color: #d72130;
  text-transform: uppercase;
}
.rebirth-works-template-default .slider-project .work-main-section .slider-info-container p.works-description {
  width: 100%;
  padding: 30px 5% 0px 5%;
  text-align: center;
}
.rebirth-works-template-default .slider-project .flickity-prev-next-button {
  background-color: #181a1a !important;
  color: #ffffff !important;
}
.rebirth-works-template-default .slider-project .flickity-page-dots .is-selected {
  background-color: #d72130 !important;
  border-color: #d72130 !important;
}
.rebirth-works-template-default .slider-project .tp-parallax-wrap {
  left: 0px !important;
}
.rebirth-works-template-default .client-bar {
  background-color: #d72130;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  margin-bottom: 0px;
}
.rebirth-works-template-default .infowork {
  display: none;
  background: #d72130 !important;
}
.rebirth-works-template-default .infowork li {
  color: #ffffff !important;
  font-style: italic;
}
.rebirth-works-template-default .infowork li span {
  color: #ffffff !important;
  font-weight: bold;
  font-style: normal;
}
.rebirth-works-template-default .infowork li a {
  color: #ffffff !important;
}
.rebirth-works-template-default .slider-project .workslider {
  padding-left: 0px;
  padding-right: 0px;
}
.rebirth-works-template-default .section.works-tab {
  display: inherit;
}
.rebirth-works-template-default .section.works-tab .col-md-12 {
  position: relative;
  margin: 0px;
  padding: 0px;
  display: grid;
  background-color: #ffffff;
}
.rebirth-works-template-default .section.works-tab .col-md-12 ul {
  position: absolute;
  width: 50%;
  right: 0px;
  z-index: 2;
  border: none;
  top: 20px;
}
.rebirth-works-template-default .section.works-tab .col-md-12 ul li {
  text-align: center;
  font-size: 13px;
  padding-left: 0px;
  display: block;
}
.rebirth-works-template-default .section.works-tab .col-md-12 ul li a {
  border: none;
  outline: none;
  font-size: 13px;
  color: #181a1a;
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  .rebirth-works-template-default .section.works-tab .col-md-12 ul li a {
    font-size: 75%;
    height: 45px;
    padding-top: 15px;
  }
}
.rebirth-works-template-default .section.works-tab .col-md-12 ul li a:active {
  color: #d72130;
}
.rebirth-works-template-default .section.works-tab .col-md-12 ul li a:focus {
  color: #d72130;
}
.rebirth-works-template-default .section.works-tab .col-md-12 ul li a:hover {
  color: #181a1a;
  background: none;
}
@media screen and (max-width: 991px) {
  .rebirth-works-template-default .section.works-tab .col-md-12 ul li {
    width: 33.333%;
    padding-left: 0px;
  }
}
.rebirth-works-template-default .section.works-tab .col-md-12 ul li:first-child {
  padding-left: 8%;
}
@media screen and (max-width: 991px) {
  .rebirth-works-template-default .section.works-tab .col-md-12 ul li:first-child {
    padding-left: 0px;
  }
}
.rebirth-works-template-default .section.works-tab .col-md-12 ul li.active a {
  color: #d72130;
  background-color: transparent;
}
.rebirth-works-template-default .section.works-tab .col-md-12 ul li.active a:after {
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
  margin-top: 5px;
  background-color: #d72130;
  display: block;
  -webkit-transition: width .3s ease 0s,left .3s ease 0s;
  -o-transition: width .3s ease 0s,left .3s ease 0s;
  transition: width .3s ease 0s,left .3s ease 0s;
}
@media screen and (max-width: 991px) {
  .rebirth-works-template-default .section.works-tab .col-md-12 ul {
    top: 0px;
    width: 100%;
    background-color: #ffffff;
    opacity: .7;
  }
}
.rebirth-works-template-default .section.works-tab .col-md-12 .tab-content {
  position: relative;
  display: inline-block;
}
.rebirth-works-template-default .section.works-tab .col-md-12 .tab-content .img-container {
  min-height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  background-position: left center;
  padding: 0px;
}
@media screen and (max-width: 991px) {
  .rebirth-works-template-default .section.works-tab .col-md-12 .tab-content .img-container {
    background-size: 100% auto !important;
    background-position: center top !important;
    min-height: 258px;
    height: auto;
    top: 45px;
  }
}
.rebirth-works-template-default .section.works-tab .col-md-12 .tab-content .desc-container {
  top: 100px;
  padding: 0% 5% 0% 5%;
  display: inline-table;
}
.rebirth-works-template-default .section.works-tab .col-md-12 .tab-content .desc-container h1 {
  font-size: 30px;
  color: #d72130;
  margin-bottom: 20px;
}
.rebirth-works-template-default .section.works-tab .col-md-12 .tab-content .desc-container p {
  font-size: 12px;
}
@media screen and (max-width: 991px) {
  .rebirth-works-template-default .section.works-tab .col-md-12 .tab-content .desc-container {
    top: 0px;
    height: auto;
    padding: 5%;
    margin-top: 45px;
  }
}
.rebirth-works-template-default .section.works-tab .col-md-12 .tab-content .desc-container .wpb_text_column {
  padding-left: 0px;
}
.rebirth-works-template-default .section.works-tab .col-md-12 .opZero {
  opacity: 0;
  -webkit-transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  -ms-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
}
.rebirth-works-template-default .section.works-tab .col-md-12 .opOne {
  opacity: 1;
  -webkit-transition: opacity .3s ease-in;
  -moz-transition: opacity .3s ease-in;
  -o-transition: opacity .3s ease-in;
  -ms-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
}

.page-template-page-template-works #jHeader {
  background-color: transparent !important;
}
@media screen and (max-width: 768px) {
  .page-template-page-template-works #jHeader {
    background-color: #d72130 !important;
  }
}
.page-template-page-template-works #jHeader.invert.overflow.fixed {
  background-color: #d72130 !important;
}
.page-template-page-template-works #jHeader.invert #navbar-rebirth {
  background-color: transparent;
}
.page-template-page-template-works .intro {
  height: 90%;
}
.page-template-page-template-works .intro .iconScroll {
  bottom: 38%;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-works .intro .iconScroll {
    bottom: 10%;
    left: 0px;
  }
}
.page-template-page-template-works .intro .iconScroll .info {
  font-size: 42px;
  text-transform: uppercase;
}
.page-template-page-template-works .vc_grid-filter {
  /* hide the filter for launch (remove this after adding more than 4 works on MOBILE) */
  display: none !important;
}
.page-template-page-template-works ul.vc_grid-filter {
  position: absolute;
  top: -127px;
  width: 100%;
  height: 127px;
  padding: 45px 0px;
  background: #d72130;
  left: 0px;
  text-align: center;
  list-style: none;
  margin-bottom: 0px;
  /* hide the filter for launch (remove this after adding more than 4 works on DESKTOP) */
}
.page-template-page-template-works ul.vc_grid-filter li {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2.9px;
  font-weight: 400;
  line-height: 25px;
  font-size: 13px !important;
  border: none;
  color: #ffffff;
  min-width: 70px;
}
.page-template-page-template-works ul.vc_grid-filter li span:after {
  content: "";
  display: block;
  width: 0px;
  height: 10px;
  border-bottom: transparent;
  margin: 0 auto;
  position: inherit;
  bottom: 20px;
}
.page-template-page-template-works ul.vc_grid-filter li.vc_active {
  background-color: transparent !important;
  color: #ffffff !important;
}
.page-template-page-template-works ul.vc_grid-filter li.vc_active span {
  color: #ffffff !important;
}
.page-template-page-template-works ul.vc_grid-filter li.vc_active span:after {
  width: 25px;
  height: 10px;
  border-bottom: 2px solid #ffffff;
  margin: 0 auto;
  position: inherit;
  bottom: 20px;
}
.page-template-page-template-works ul.vc_grid-filter li:hover {
  background-color: transparent !important;
  color: #ffffff !important;
}
.page-template-page-template-works ul.vc_grid-filter li:hover span {
  color: #ffffff !important;
}
.page-template-page-template-works ul.vc_grid-filter li:hover span:after {
  width: 25px;
  height: 10px;
  border-bottom: 2px solid #ffffff;
  margin: 0 auto;
  position: inherit;
  bottom: -7px;
  -webkit-transition: width .3s ease 0s,left .3s ease 0s;
  -o-transition: width .3s ease 0s,left .3s ease 0s;
  transition: width .3s ease 0s,left .3s ease 0s;
}
.page-template-page-template-works .vc_gitem-zone .vc_btn3-container a {
  border: 1px solid #ffffff;
}
.page-template-page-template-works .vc_gitem-zone .title-project {
  font-weight: 600;
  color: white !important;
}
.page-template-page-template-works .vc_btn3-block.vc_btn3-size-lg {
  padding: 40px !important;
}

.page-template-page-template-contact #jHeader {
  background-color: transparent !important;
}
@media screen and (max-width: 768px) {
  .page-template-page-template-contact #jHeader {
    background-color: #d72130 !important;
  }
}
.page-template-page-template-contact #jHeader.invert.overflow.fixed {
  background-color: #d72130 !important;
}
.page-template-page-template-contact #jHeader.invert #navbar-rebirth {
  background-color: transparent;
}
.page-template-page-template-contact .intro {
  height: 90%;
}
.page-template-page-template-contact .intro .iconScroll {
  bottom: 38%;
  left: 0px;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-contact .intro .iconScroll {
    bottom: 10%;
  }
}
.page-template-page-template-contact .intro .iconScroll .info {
  font-size: 42px;
  text-transform: uppercase;
}
.page-template-page-template-contact .vc_row {
  margin: 0px;
}
.page-template-page-template-contact .vc_row .pb-contact-info {
  background: #181a1a;
  padding: 50px;
  height: 760px;
  margin-bottom: 0px;
  padding-top: 24%;
  padding-bottom: 24%;
}
@media screen and (max-width: 768px) {
  .page-template-page-template-contact .vc_row .pb-contact-info {
    padding-top: 10%;
    padding-bottom: 10%;
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.page-template-page-template-contact .vc_row .pb-contact-info h1 {
  font-size: 30px;
  color: #ffffff;
}
.page-template-page-template-contact .vc_row .pb-contact-info h1 span {
  font-size: 30px;
  color: #ffffff !important;
}
.page-template-page-template-contact .vc_row .pb-contact-info h2 a {
  text-decoration: none;
}
.page-template-page-template-contact .vc_row .pb-contact-info h2 a span {
  letter-spacing: 0px !important;
}
.page-template-page-template-contact .vc_row .pb-contact-info h2 span {
  font-size: 18px;
  color: #d72130;
  letter-spacing: 3px;
}
.page-template-page-template-contact .vc_row .pb-contact-form .vc_column-inner {
  padding: 0px;
}
.page-template-page-template-contact .vc_row .pb-contact-form .vc_column-inner .wpcf7-form {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
.page-template-page-template-contact .vc_row .pb-contact-form .vc_column-inner .wpcf7-form p {
  width: 100%;
  display: inline-table;
  height: 0px;
}
.page-template-page-template-contact .vc_row .pb-contact-form .vc_column-inner .wpcf7-form .first-row p {
  width: 48%;
  padding-bottom: 0px;
}
.page-template-page-template-contact .vc_row .pb-contact-form .vc_column-inner .wpcf7-form .form-name, .page-template-page-template-contact .vc_row .pb-contact-form .vc_column-inner .wpcf7-form .form-email, .page-template-page-template-contact .vc_row .pb-contact-form .vc_column-inner .wpcf7-form .form-message {
  display: none;
}
.page-template-page-template-contact .vc_row .pb-contact-form .vc_column-inner .wpcf7-form input[name=sender-name] {
  position: relative;
  left: 0px;
  margin-top: 25px;
  border: 1px solid #181a1a;
  padding-left: 5px;
}
.page-template-page-template-contact .vc_row .pb-contact-form .vc_column-inner .wpcf7-form input[name=sender-email] {
  position: relative;
  right: 0px;
  margin-top: 25px;
  border: 1px solid #181a1a;
  margin-left: 10px;
  padding-left: 5px;
}
.page-template-page-template-contact .vc_row .pb-contact-form .vc_column-inner .wpcf7-form textarea[name=sender-message] {
  width: 98%;
  max-width: 590px;
  padding-left: 5px;
  border: 1px solid #181a1a;
  margin-top: -50px;
  margin-left: 10px;
  max-height: 120px;
}
.page-template-page-template-contact .vc_row .pb-contact-form .vc_column-inner .wpcf7-form input[type="submit"] {
  width: 98%;
  border: 1px solid #d72130;
  background-color: #d72130;
  color: #ffffff;
  float: right;
  margin-top: 25px;
}
.page-template-page-template-contact .vc_row .pb-contact-map #map {
  padding: 0px;
  max-height: 760px;
  height: 760px;
}
.page-template-page-template-contact .vc_row .pb-contact-map #map .wpb_wrapper {
  padding: 0px;
}
.page-template-page-template-contact .vc_row .pb-contact-map #map .wpb_wrapper .wpb_gmaps_widget {
  margin-bottom: 0px;
}

.wpcf7-validation-errors {
  width: 100%;
  background-color: #ffffff;
  color: #d72130;
  position: fixed;
  top: 130px;
  left: 0px;
  padding: 20px !important;
  border: none !important;
  margin: 0px !important;
}

.wpcf7-not-valid-tip {
  position: absolute;
  top: -60px;
  letter-spacing: 1px;
  line-height: 15px;
  font-size: 8px;
}

.page-template-page-template-careers .intro {
  height: 50%;
}
.page-template-page-template-careers .intro .pretitle {
  display: none;
}
.page-template-page-template-careers .intro .iconScroll p {
  font-size: 42px;
}

.intro {
  height: 90%;
}
.intro .image-cover {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.intro .portfolio-filter-container {
  line-height: initial;
  z-index: 1;
  color: #ffffff;
}
.intro .portfolio-filter-container:before {
  bottom: 0;
  transform: skewY(3deg);
  transform-origin: 100%;
  background-color: #d72130;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-backface-visibility: hidden;
  z-index: -1;
}
.intro .portfolio-filter-container:after {
  bottom: 0;
  transform-origin: 100%;
  background-color: #d72130;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-backface-visibility: hidden;
  z-index: -1;
}
.intro .welcome-message {
  font-size: 18px;
  text-transform: uppercase;
}
.intro .welcome-message .left {
  display: inline-block;
  background-color: #ffffff;
  width: 34px;
  height: 2px;
  position: relative;
  top: -3.5px;
  left: -18px;
}
.intro .welcome-message .right {
  display: inline-block;
  background-color: #ffffff;
  width: 34px;
  height: 2px;
  position: relative;
  top: -3.5px;
  left: 18px;
}
.intro .wp-title {
  line-height: 80px;
  font-size: 42px;
  text-transform: uppercase;
  padding-bottom: 25px;
  /* increase the padding from bottom after hiding filter (add this after adding less than 4 works) */
}
.intro ul.filters {
  /* hide the filter for launch (add this after adding less than 4 works) */
  display: none;
}
.intro ul.filters li {
  color: #ffffff;
  font-size: 13px;
  text-transform: capitalize;
}
.intro ul.filters :first-child {
  font-size: 15px;
  text-transform: uppercase;
  display: none;
}
.intro ul.filters :first-child:before {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  left: 20%;
}
.intro ul.filters :first-child:after {
  background-color: #ffffff;
  left: 20%;
}
.intro ul.filters li:not(:first-child):hover:after,
.intro ul.filters li:not(:first-child):focus:after,
.intro ul.filters li:not(:first-child).is-checked:after {
  border-color: #ffffff;
  border-bottom: 2px solid #ffffff;
}
.intro .mobile-show button {
  color: #ffffff;
}

@media (max-width: 1199px) and (min-width: 768px) {
  .intro .filters li:first-child span {
    display: block;
  }
}
@media screen and (max-width: 991px) {
  .intro ul.filters :first-child:before {
    top: 17px;
  }

  .intro ul.filters :first-child:after {
    top: 29px;
  }
}
@media screen and (max-width: 768px) {
  .intro .welcome-message {
    padding-top: 25px;
  }
  .intro .filters button {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .intro .welcome-message {
    font-size: 18px;
  }
}
.page-template-page-template-services #jHeader {
  background-color: transparent !important;
}
@media screen and (max-width: 768px) {
  .page-template-page-template-services #jHeader {
    background-color: #d72130 !important;
  }
}
.page-template-page-template-services #jHeader.invert.overflow.fixed {
  background-color: #d72130 !important;
}
.page-template-page-template-services #jHeader.invert #navbar-rebirth {
  background-color: transparent;
}
.page-template-page-template-services .intro {
  height: 90%;
}
.page-template-page-template-services .intro .iconScroll {
  bottom: 38%;
}
.page-template-page-template-services .intro .iconScroll .info {
  font-size: 42px;
  text-transform: uppercase;
}
.page-template-page-template-services #primery-service {
  margin-left: 0px;
  margin-right: 0px;
}
.page-template-page-template-services #primery-service .vc_column-inner {
  padding: 0px;
}
.page-template-page-template-services #primery-service #black-row .wpb_text_column {
  margin: 0px;
  padding: 20px;
  color: #ffffff;
  background-color: #181a1a;
}
.page-template-page-template-services #primery-service #black-row .wpb_text_column p {
  padding: 0px;
}
.page-template-page-template-services #primery-service .services-tab {
  margin: 0px;
}
.page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper {
  max-height: 450px;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper {
    max-height: none;
  }
}
.page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper ul {
  position: absolute;
  width: 50%;
  right: 0px;
  z-index: 2;
  border: none;
  padding-top: 20px;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper ul {
    top: auto !important;
    padding-top: 0px;
  }
}
.page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper ul li {
  text-align: center;
  font-size: 13px;
  padding-left: 0px;
  display: block;
  background: none;
}
.page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper ul li a {
  border: none;
  outline: none;
  font-size: 13px;
  color: #181a1a;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper ul li {
    width: 24.333%;
    padding-left: 0px;
  }
}
.page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper ul li:first-child {
  padding-left: 8%;
}
.page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper ul li.ui-state-active {
  color: #d72130;
  background: none;
}
.page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper ul li.ui-state-active a {
  color: #d72130;
}
.page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper ul li.ui-state-active a:after {
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: #d72130;
  display: block;
  -webkit-transition: width .3s ease 0s,left .3s ease 0s;
  -o-transition: width .3s ease 0s,left .3s ease 0s;
  transition: width .3s ease 0s,left .3s ease 0s;
}
.page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper ul li.ui-state-focus {
  color: #d72130;
}
.page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper ul li.ui-state-hover {
  color: #181a1a;
  background: none;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper ul {
    top: 0px;
    width: 100%;
    background-color: #ffffff;
    opacity: .7;
  }
}
.page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper .ui-tabs-panel {
  position: relative;
  display: inline-block;
  padding: 0px;
  max-height: 450px;
  width: 100%;
}
.page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper .ui-tabs-panel .img-container {
  min-height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: left center;
  padding: 0px;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper .ui-tabs-panel .img-container {
    background-size: 100% auto !important;
    background-position: center top !important;
    min-height: 258px;
    height: auto;
  }
}
.page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper .ui-tabs-panel .img-container .vc_column-inner {
  min-height: 450px;
}
.page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper .ui-tabs-panel .desc-container {
  top: 100px;
  padding: 0% 5% 0% 5%;
  display: inline-table;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper .ui-tabs-panel .desc-container {
    padding: 8% !important;
  }
}
.page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper .ui-tabs-panel .desc-container h1 {
  font-size: 30px;
  color: #d72130;
  margin-bottom: 20px;
  padding: 0px;
}
.page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper .ui-tabs-panel .desc-container p {
  font-size: 12px;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper .ui-tabs-panel .desc-container {
    top: 0px;
    height: auto;
    padding: 5%;
  }
}
.page-template-page-template-services #primery-service .services-tab .wpb_tour_tabs_wrapper .ui-tabs-panel .desc-container .wpb_text_column {
  padding-left: 0px;
}
.page-template-page-template-services #services-main {
  margin-left: 0px;
  margin-right: 0px;
}
.page-template-page-template-services #services-main .vc_column-inner {
  padding: 0px;
}
.page-template-page-template-services #services-main .vc_column-inner h1 {
  padding-top: 50px;
}
.page-template-page-template-services #services-main .vc_column-inner .services-container {
  margin-bottom: 80px;
}
.page-template-page-template-services #services-main .vc_column-inner .services-container .vc_column-inner {
  padding: 0px;
}
.page-template-page-template-services #services-main .vc_column-inner .services-container .vc_column-inner .wpb_text_column {
  margin-bottom: 0px;
}
.page-template-page-template-services #services-main .vc_column-inner .services-container .vc_column-inner .wpb_text_column p {
  padding-bottom: 0px;
}
.page-template-page-template-services #services-main .vc_column-inner .services-container .middle-col {
  border-left: 1px gray solid;
  border-right: 1px gray solid;
}
@media screen and (max-width: 768px) {
  .page-template-page-template-services #services-main .vc_column-inner .services-container .middle-col {
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
    border-left: none;
    border-right: none;
  }
}
@media screen and (max-width: 768px) {
  .page-template-page-template-services #services-main .vc_column-inner .services-container .vc-col-sm-4, .page-template-page-template-services #services-main .vc_column-inner .services-container .col-sm-4 {
    padding: 20px;
    max-width: 280px;
    margin: 0 auto;
  }
}
.page-template-page-template-services #services-main .vc_column-inner .primary-cta {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-services .vc_tta-accordion {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* CSS Document */
.home #jHeader {
  background-color: transparent !important;
}
@media screen and (max-width: 768px) {
  .home #jHeader {
    background-color: #d72130 !important;
  }
}
.home #jHeader.invert.overflow.fixed {
  background-color: #d72130 !important;
}
.home #jHeader.invert #navbar-rebirth {
  background-color: transparent;
}
.home .intro {
  max-height: 690px;
  background-color: #d72130;
}
@media screen and (max-width: 1920px) {
  .home .intro {
    max-height: 645px;
  }
}
@media screen and (max-width: 1680px) {
  .home .intro {
    max-height: 555px;
  }
}
@media screen and (max-width: 1440px) {
  .home .intro {
    max-height: 505px;
  }
}
@media screen and (max-width: 1366px) {
  .home .intro {
    max-height: 485px;
  }
}
@media screen and (max-width: 1280px) {
  .home .intro {
    max-height: 435px;
  }
}
@media screen and (max-width: 1024px) {
  .home .intro {
    max-height: 360px;
  }
}
@media screen and (max-width: 768px) {
  .home .intro {
    max-height: 480px;
  }
}
.home .intro .image-cover {
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
@media screen and (max-width: 768px) {
  .home .intro .image-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: -250px;
  }
}
.home #clients-container {
  padding-bottom: 50px;
}
.home #clients-container .clients-drpd {
  margin-bottom: 0px;
}
.home #clients-container .clients-drpd .wpb_wrapper {
  margin: 0 auto;
  width: 240px;
}
.home #clients-container .clients-drpd .wpb_wrapper h1 {
  display: inline-block;
  margin-top: 30px;
}
.home #clients-container .clients-drpd .wpb_wrapper h1 a, .home #clients-container .clients-drpd .wpb_wrapper h1 a:visited, .home #clients-container .clients-drpd .wpb_wrapper h1 a:focus, .home #clients-container .clients-drpd .wpb_wrapper h1 a:active {
  color: #d72130 !important;
  text-decoration: none;
}
.home #clients-container .clients-drpd .wpb_wrapper h1:hover {
  cursor: context-menu;
}
.home #clients-container .clients-drpd .wpb_wrapper h1:after {
  margin-top: 5;
  content: "\F078";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 100;
  color: #d72130;
  font-size: 12;
  margin-left: 10px;
  position: absolute;
}
@media screen and (max-width: 991px) {
  .home #clients-container .clients-drpd .wpb_wrapper h1:after {
    content: "\F077";
  }
}
.home #clients-container .clients-drpd h1:after {
  font-size: 25px;
  padding-top: 5px;
}
.home #clients-container .clients-drpd[aria-expanded="true"] h1:after {
  content: "\F077";
}
.home #clients-container .clients-drpd[aria-expanded="false"] h1:after {
  content: "\F078";
}
.home #clients-container .clients-inline {
  position: relative;
  border: none;
  width: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: none;
}
.home .services-container h1 {
  padding-bottom: 50px;
  margin-top: 30px;
}
.home .services-container .vc_col-sm-4:first-child {
  border-right: 1px #181a1a solid;
}
.home .services-container .vc_col-sm-4:last-child {
  border-left: 1px #181a1a solid;
}
.home .services-container .wpb_text_column {
  margin-bottom: 0px;
}
.home .services-container .wpb_text_column p {
  padding-bottom: 0px;
}
.home .services-container .primary-cta {
  padding-top: 0px;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .home .services-container .primary-cta {
    padding-top: 30px;
  }
}
@media screen and (max-width: 991px) {
  .home .leadTheChangeSection .vc_video-bg.vc_hidden-xs {
    display: block !important;
  }
}

.post-extra, .blog-post-date {
  display: none;
}

.content-post.post-without-sidebar {
  padding-left: 0px;
  padding-right: 0px;
}
.content-post.post-without-sidebar h1 {
  margin-top: 0px;
  margin-bottom: 25px;
  padding-top: 15px;
  padding-left: 15px;
  font-size: 38px;
}
.content-post.post-without-sidebar .post-details {
  padding-left: 15px;
}

.page-template-page-template-blog #jHeader {
  background-color: transparent !important;
}
@media screen and (max-width: 768px) {
  .page-template-page-template-blog #jHeader {
    background-color: #d72130 !important;
  }
}
.page-template-page-template-blog #jHeader.invert.overflow.fixed {
  background-color: #d72130 !important;
}
.page-template-page-template-blog #jHeader.invert #navbar-rebirth {
  background-color: transparent;
}
.page-template-page-template-blog .intro {
  height: 90%;
}
.page-template-page-template-blog .intro .iconScroll {
  bottom: 38%;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-blog .intro .iconScroll {
    bottom: 10%;
  }
}
.page-template-page-template-blog .intro .iconScroll .info {
  font-size: 42px;
  text-transform: uppercase;
}
.page-template-page-template-blog #pub_blog {
  margin-left: 0px;
  margin-right: 0px;
}
.page-template-page-template-blog #pub_blog .vc_column-inner {
  padding: 0px;
}
.page-template-page-template-blog #pub_blog .vc_grid-item {
  padding: 0px;
}
.page-template-page-template-blog #pub_blog .vc_pageable-slide-wrapper {
  margin-right: 0px;
}
.page-template-page-template-blog #pub_blog .wpb_content_element {
  margin-bottom: 30px;
}
.page-template-page-template-blog #pub_blog .vc_grid-item-mini {
  max-height: 550px;
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-blog #pub_blog .vc_grid-item-mini {
    max-height: none;
  }
}
.page-template-page-template-blog #pub_blog .vc_grid-item-mini .vc_gitem-animated-block {
  float: left;
  width: 50%;
  display: inline-block;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-blog #pub_blog .vc_grid-item-mini .vc_gitem-animated-block {
    width: 100%;
  }
}
.page-template-page-template-blog #pub_blog .vc_grid-item-mini .vc_gitem-zone-a {
  height: 550px;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-blog #pub_blog .vc_grid-item-mini .vc_gitem-zone-a {
    height: auto;
  }
}
.page-template-page-template-blog #pub_blog .vc_grid-item-mini .vc_gitem-zone-c {
  width: 49.5%;
  display: inline-block;
  position: relative;
  height: 550px;
  background-color: white !important;
  max-width: 650px;
  float: left;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-blog #pub_blog .vc_grid-item-mini .vc_gitem-zone-c {
    width: 100%;
    height: auto;
    padding: 25px;
    position: relative;
    max-height: none;
    float: none;
    max-width: none;
  }
}
.page-template-page-template-blog #pub_blog .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-zone-mini {
  position: absolute;
  padding: 15px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 991px) {
  .page-template-page-template-blog #pub_blog .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-zone-mini {
    position: relative;
    padding: 15px;
    margin-right: auto;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    padding: 0;
  }
}
.page-template-page-template-blog #pub_blog .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-zone-mini h4 {
  font-size: 25px;
  text-transform: uppercase;
}
.page-template-page-template-blog #pub_blog .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-zone-mini h4:after {
  content: "";
  display: block;
  position: inherit;
  margin-top: 20px;
  width: 60px;
  background-color: #181a1a;
  height: 3px;
}
.page-template-page-template-blog #pub_blog .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-zone-mini .vc_gitem-col {
  background: #ffffff;
}
.page-template-page-template-blog #pub_blog .vc_grid-item-mini .vc_gitem-zone-c .vc_gitem-zone-mini .vc_btn3-container a {
  background-color: #d72130;
  border-radius: 0px;
}
.page-template-page-template-blog #pub_blog .vc_pageable-slide-wrapper .vc_grid-item:nth-of-type(2n+1) .vc_gitem-animated-block {
  float: right;
}
.page-template-page-template-blog #pub_blog .vc_pageable-slide-wrapper .vc_grid-item:nth-of-type(2n+1) .vc_gitem-zone-c {
  float: right;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-blog #pub_blog .vc_pageable-slide-wrapper .vc_grid-item:nth-of-type(2n+1) .vc_gitem-zone-c {
    float: none;
  }
}

.paginationblog .title-pagination {
  max-height: 54px;
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  .paginationblog .title-pagination {
    max-height: 118px;
  }
}

.vc_tta-accordion {
  max-width: 1950px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}
.vc_tta-accordion .vc_tta-panels-container .vc_tta-panels .vc_tta-panel .vc_tta-panel-heading .vc_tta-panel-title a i:before, .vc_tta-accordion .vc_tta-panels-container .vc_tta-panels .vc_tta-panel .vc_tta-panel-heading .vc_tta-panel-title a i:after {
  border-color: #d72130;
}
.vc_tta-accordion .vc_tta-panels-container .vc_tta-panels .vc_tta-panel .vc_tta-panel-body {
  background-color: #ffffff !important;
}
.vc_tta-accordion .vc_tta-panels-container .vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title a {
  color: #181a1a !important;
}

footer {
  border: none !important;
  background-color: #d72130 !important;
  color: #ffffff;
}
footer div[class*="col-"]:after {
  width: 1px;
}
footer .logo-container {
  min-height: 150px !important;
}
footer .logo-container img {
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: all 350ms ease-in-out 0s;
  -moz-transition: all 350ms ease-in-out 0s;
  -o-transition: all 350ms ease-in-out 0s;
  transition: all 350ms ease-in-out 0s;
}
footer .logo-container img:hover {
  opacity: 1;
}
footer .col-md-4 {
  min-height: 195px !important;
}
footer .col-md-4 a {
  color: #ffffff;
}
footer .col-md-4 .column1 div, footer .col-md-4 .column1 h2, footer .col-md-4 .column1 p {
  display: inline-block;
}
footer .col-md-4 .column1 h2 {
  padding-top: 10px;
}
footer .col-md-4 .column1 .socialmedia-buttons {
  float: right;
}
footer .col-md-4 .column1 .socialmedia-buttons img {
  margin: 5px;
  max-width: 24px;
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: all 350ms ease-in-out 0s;
  -moz-transition: all 350ms ease-in-out 0s;
  -o-transition: all 350ms ease-in-out 0s;
  transition: all 350ms ease-in-out 0s;
}
footer .col-md-4 .column1 .socialmedia-buttons img:hover {
  opacity: 1;
}
footer .col-md-4 .column1:last-child h2 {
  font-size: 18px;
  text-transform: uppercase;
}
footer .col-md-4 .column1:first-child, footer .col-md-4 .column2:first-child, footer .col-md-4 .column3:first-child {
  padding-bottom: 30px;
}
footer .col-md-4 .column2 p, footer .col-md-4 .column3 p {
  line-height: 20px;
}
@media screen and (max-width: 991px) {
  footer .col-md-4 .column2 {
    margin-bottom: 0px;
  }
}
footer .col-sm-12 {
  margin-bottom: 30px;
}

.copyright {
  border: none !important;
  background-color: #181a1a !important;
}
.copyright p {
  color: #d72130;
}

.page-template-page-template-production h1, .page-template-page-template-production h2, .page-template-page-template-production h3, .page-template-page-template-production p, .page-template-page-template-production button, .page-template-page-template-production span, .page-template-page-template-production address {
  letter-spacing: 0.5px !important;
  line-height: 145%;
}
.page-template-page-template-production .grecaptcha-badge {
  display: block;
}

.page-template-page-template-production #jHeader, .page-template-page-template-production #jHeader.invert #navbar-rebirth {
  background-color: transparent !important;
  margin-top: 0;
  width: 100%;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-production #jHeader, .page-template-page-template-production #jHeader.invert #navbar-rebirth {
    margin-top: 0;
  }
}
@media screen and (max-width: 991px) {
  .page-template-page-template-production #jHeader .navbar-default .navbar-header, .page-template-page-template-production #jHeader.invert #navbar-rebirth .navbar-default .navbar-header {
    text-align: center;
  }
}
@media screen and (max-width: 991px) {
  .page-template-page-template-production #jHeader .navbar-default .navbar-header .navbar-toggle, .page-template-page-template-production #jHeader.invert #navbar-rebirth .navbar-default .navbar-header .navbar-toggle {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .page-template-page-template-production #jHeader .navbar-default .navbar-header .navbar-brand, .page-template-page-template-production #jHeader.invert #navbar-rebirth .navbar-default .navbar-header .navbar-brand {
    float: none;
  }
}
@media screen and (min-width: 991px) {
  .page-template-page-template-production #jHeader .navbar-default .navbar-header .navbar-brand img, .page-template-page-template-production #jHeader.invert #navbar-rebirth .navbar-default .navbar-header .navbar-brand img {
    max-height: 55px;
  }
}
@media screen and (max-width: 480px) {
  .page-template-page-template-production #jHeader .navbar-default .navbar-container, .page-template-page-template-production #jHeader.invert #navbar-rebirth .navbar-default .navbar-container {
    padding: 0;
  }
}
.page-template-page-template-production #jHeader .navbar-default .navbar-container .navbar-collapse, .page-template-page-template-production #jHeader.invert #navbar-rebirth .navbar-default .navbar-container .navbar-collapse {
  float: right;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-production #jHeader .navbar-default .navbar-container .navbar-collapse, .page-template-page-template-production #jHeader.invert #navbar-rebirth .navbar-default .navbar-container .navbar-collapse {
    display: block !important;
    border-top: none;
    box-shadow: none;
    padding: 0;
    float: none;
  }
}
.page-template-page-template-production #jHeader .navbar-default .navbar-container .navbar-collapse .navbar-nav, .page-template-page-template-production #jHeader.invert #navbar-rebirth .navbar-default .navbar-container .navbar-collapse .navbar-nav {
  width: 100%;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-production #jHeader .navbar-default .navbar-container .navbar-collapse .navbar-nav, .page-template-page-template-production #jHeader.invert #navbar-rebirth .navbar-default .navbar-container .navbar-collapse .navbar-nav {
    text-align: center;
    margin: 20px 0 0;
  }
}
@media screen and (max-width: 991px) {
  .page-template-page-template-production #jHeader .navbar-default .navbar-container .navbar-collapse .navbar-nav .main-menu-item, .page-template-page-template-production #jHeader.invert #navbar-rebirth .navbar-default .navbar-container .navbar-collapse .navbar-nav .main-menu-item {
    display: inline-block;
  }
}
.page-template-page-template-production #jHeader .navbar-default .navbar-container .navbar-collapse .navbar-nav li, .page-template-page-template-production #jHeader.invert #navbar-rebirth .navbar-default .navbar-container .navbar-collapse .navbar-nav li {
  float: right;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-production #jHeader .navbar-default .navbar-container .navbar-collapse .navbar-nav li, .page-template-page-template-production #jHeader.invert #navbar-rebirth .navbar-default .navbar-container .navbar-collapse .navbar-nav li {
    float: none;
  }
}
.page-template-page-template-production #jHeader .navbar-default .navbar-container .navbar-collapse .navbar-nav li a::-moz-focus-inner, .page-template-page-template-production #jHeader .navbar-default .navbar-container .navbar-collapse .navbar-nav li a:active, .page-template-page-template-production #jHeader .navbar-default .navbar-container .navbar-collapse .navbar-nav li a:focus, .page-template-page-template-production #jHeader.invert #navbar-rebirth .navbar-default .navbar-container .navbar-collapse .navbar-nav li a::-moz-focus-inner, .page-template-page-template-production #jHeader.invert #navbar-rebirth .navbar-default .navbar-container .navbar-collapse .navbar-nav li a:active, .page-template-page-template-production #jHeader.invert #navbar-rebirth .navbar-default .navbar-container .navbar-collapse .navbar-nav li a:focus {
  border: 0;
  outline: 0;
}
@media screen and (max-width: 991px) {
  .page-template-page-template-production #jHeader .navbar-default .navbar-container .navbar-collapse .navbar-nav li a, .page-template-page-template-production #jHeader.invert #navbar-rebirth .navbar-default .navbar-container .navbar-collapse .navbar-nav li a {
    padding: 10px 6px;
    margin: 0 3px;
  }
}
@media screen and (max-width: 480px) {
  .page-template-page-template-production #jHeader .navbar-default .navbar-container .navbar-collapse .navbar-nav li a, .page-template-page-template-production #jHeader.invert #navbar-rebirth .navbar-default .navbar-container .navbar-collapse .navbar-nav li a {
    font-size: 12px;
  }
}

.page-template-page-template-production #pinContainer {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
}
.page-template-page-template-production #pinContainer .intro {
  max-height: none;
  height: 100%;
}
@media screen and (max-width: 480px) {
  .page-template-page-template-production #pinContainer .intro .image-cover {
    background-image: url("images/demo/lion-mobile-hero-bg-image.png") !important;
  }
}
.page-template-page-template-production #pinContainer .intro .image-cover .iconScroll {
  bottom: 15%;
  left: 0px;
}
.page-template-page-template-production #pinContainer .intro .image-cover .iconScroll .scroll__down {
  position: absolute;
  top: 50%;
  bottom: -44px;
  left: 50%;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  text-align: center;
  background-color: transparent;
  border: none;
  transform: translate(-50%, -50%);
}
.page-template-page-template-production #pinContainer .intro .image-cover .iconScroll .scroll__mouse {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 54px;
  margin: 0 auto;
  border: 2px solid #fff;
  border-radius: 20px;
}
.page-template-page-template-production #pinContainer .intro .image-cover .iconScroll .scroll__wheel {
  position: absolute;
  top: 14px;
  left: 13px;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
  animation: scrollDown 2.5s infinite;
}
.page-template-page-template-production #pinContainer .slider-text-container {
  display: table;
  height: 100%;
  top: 0px;
  width: 100%;
  max-width: 612px;
  margin: 0 auto;
  text-align: center;
}
.page-template-page-template-production #pinContainer .slider-text-container .slider-text-content {
  display: table-cell;
  vertical-align: middle;
}
.page-template-page-template-production #pinContainer .slider-text-container .slider-text-content h1 {
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0px !important;
}
@media screen and (max-width: 320px) {
  .page-template-page-template-production #pinContainer .slider-text-container .slider-text-content h1 {
    font-size: 18px;
  }
}
.page-template-page-template-production #pinContainer .slider-text-container .slider-text-content h1:after {
  content: ' ';
  position: absolute;
  width: 66px;
  height: 8px;
  right: calc(50% - 33px);
  background: white;
  margin-top: 75px;
}
.page-template-page-template-production #pinContainer .slider-text-container .slider-text-content h1:before {
  content: ' ';
  position: absolute;
  width: 66px;
  height: 8px;
  right: calc(50% - 33px);
  background: white;
  margin-top: -45px;
}
.page-template-page-template-production #pinContainer .panel {
  top: 0px;
  height: 100%;
  width: 50%;
  position: absolute;
  z-index: 2;
  border: none;
  border-radius: 0px;
}
@supports (-ms-ime-align: auto) {
  .page-template-page-template-production #pinContainer .panel {
    display: none;
  }
}
.page-template-page-template-production #pinContainer .panel.left {
  left: 0px;
  background: #84215f;
}
.page-template-page-template-production #pinContainer .panel.right {
  right: 0px;
  background: #b22e5d;
  text-align: left;
}
.page-template-page-template-production #pinContainer .panel .image-container, .page-template-page-template-production #pinContainer .panel .text-container {
  display: table;
  height: 100%;
  position: absolute;
  top: 0px;
}
.page-template-page-template-production #pinContainer .panel .image-container.left, .page-template-page-template-production #pinContainer .panel .text-container.left {
  right: 0px;
  text-align: right;
}
.page-template-page-template-production #pinContainer .panel .image-container.right, .page-template-page-template-production #pinContainer .panel .text-container.right {
  left: 0px;
  text-align: left;
}
.page-template-page-template-production #pinContainer .panel .image-container .image-content, .page-template-page-template-production #pinContainer .panel .image-container p, .page-template-page-template-production #pinContainer .panel .text-container .image-content, .page-template-page-template-production #pinContainer .panel .text-container p {
  display: table-cell;
  vertical-align: middle;
}
.page-template-page-template-production #pinContainer .panel .image-container p, .page-template-page-template-production #pinContainer .panel .text-container p {
  padding: 30px;
  color: white;
  font-size: 30px;
  text-transform: lowercase;
  line-height: 160%;
}
@keyframes scrollDown {
  0% {
    top: 14px;
    opacity: 0;
  }
  15% {
    top: 14px;
    opacity: 1;
  }
  30% {
    top: 14px;
    opacity: 1;
  }
  45% {
    top: 34px;
    opacity: 1;
  }
  100% {
    top: 34px;
    opacity: 0;
  }
}
.page-template-page-template-production .production-heading-message {
  padding: 70px 5% 20px 5%;
  min-height: 400px;
}
.page-template-page-template-production .production-heading-message .vc_column-inner {
  max-width: 1050px;
  margin: 0 auto;
}
.page-template-page-template-production .production-heading-message .vc_column-inner .wpb_content_element {
  padding: 0;
}
.page-template-page-template-production .production-heading-message .vc_column-inner .wpb_content_element .wpb_wrapper p {
  color: #ffffff;
  font-size: 19px;
}
.page-template-page-template-production .production-heading-message .vc_column-inner .wpb_single_image {
  margin-bottom: 26px;
}
.page-template-page-template-production .production-heading-message .vc_column-inner .wpb_single_image img {
  max-width: 70%;
}
.page-template-page-template-production .production-heading-message .production-heading-message-summery {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto !important;
}
.page-template-page-template-production .production-heading-message .production-heading-message-summery .vc_col-sm-4 {
  padding: 0 3%;
}
.page-template-page-template-production .production-heading-message .production-heading-message-summery .vc_col-sm-4 p {
  max-width: 250px;
  margin: 0 auto;
  font-size: 17px !important;
}
@media screen and (max-width: 768px) {
  .page-template-page-template-production .production-heading-message .production-heading-message-summery .vc_col-sm-4 p {
    font-size: 16px !important;
  }
}
.page-template-page-template-production .production-heading-message .production-heading-message-summery .first:after {
  position: absolute;
  top: 5%;
  left: 1%;
  width: 100%;
  text-align: right;
  content: '+';
  display: inline-block;
  color: #ffffff;
  font-size: 50px;
}
@media screen and (max-width: 480px) {
  .page-template-page-template-production .production-heading-message .production-heading-message-summery .first:after {
    display: none;
  }
}
.page-template-page-template-production .production-heading-message .production-heading-message-summery .last:before {
  position: absolute;
  top: 5%;
  left: 1%;
  width: 100%;
  text-align: left;
  content: '+';
  display: inline-block;
  color: #ffffff;
  font-size: 50px;
}
@media screen and (max-width: 480px) {
  .page-template-page-template-production .production-heading-message .production-heading-message-summery .last:before {
    display: none;
  }
}

.page-template-page-template-production .vc_tta.vc_tta-tabs .vc_tta-tabs-container {
  display: block !important;
}
.page-template-page-template-production .vc_tta.vc_general .vc_tta-panel-heading {
  display: none !important;
}

.discount-module-container {
  height: 306px;
}
@media screen and (max-width: 768px) {
  .discount-module-container {
    height: 239px;
  }
}
.discount-module-container .wpb_column {
  display: table;
  width: 100%;
  height: 100%;
}
.discount-module-container .wpb_column .vc_column-inner {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.discount-module-container .wpb_column .vc_column-inner .wpb_text_column {
  margin-bottom: 0;
}
.discount-module-container .wpb_column .vc_column-inner .wpb_text_column p {
  position: relative;
  padding-bottom: 0;
  color: white;
  font-size: 30px;
  line-height: 37px;
}
@media screen and (max-width: 768px) {
  .discount-module-container .wpb_column .vc_column-inner .wpb_text_column p {
    font-size: 22.5px;
  }
}
.discount-module-container .wpb_column .vc_column-inner .wpb_text_column p:after {
  content: ' ';
  position: absolute;
  width: 66px;
  height: 8px;
  top: -45px;
  right: calc(50% - 33px);
  background: white;
}
@media screen and (max-width: 768px) {
  .discount-module-container .wpb_column .vc_column-inner .wpb_text_column p:after {
    top: -30px;
  }
}
.discount-module-container .wpb_column .vc_column-inner .wpb_text_column p:before {
  content: ' ';
  position: absolute;
  width: 66px;
  height: 8px;
  bottom: -45px;
  right: calc(50% - 33px);
  background: white;
}
@media screen and (max-width: 768px) {
  .discount-module-container .wpb_column .vc_column-inner .wpb_text_column p:before {
    bottom: -30px;
  }
}

.logo-module-container {
  padding: 106px 0px;
  color: white;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .logo-module-container {
    padding: 40px 0px;
  }
}
.logo-module-container .clients-inline {
  max-width: 1050px;
}
@media screen and (max-width: 1063px) {
  .logo-module-container .clients-inline {
    max-width: 400px;
  }
}
.logo-module-container .clients-inline li {
  max-width: 103px;
  margin: 12px 14px;
  display: inline-block;
}
@media screen and (max-width: 1063px) {
  .logo-module-container .clients-inline li {
    max-width: 74px;
    margin: 12px 7px;
  }
}
.logo-module-container .wpb_content_element {
  margin-bottom: 25px;
}
.logo-module-container .wpb_content_element p {
  font-size: 20px;
  letter-spacing: 0.5px !important;
  padding: 0px;
  line-height: 25px;
}
@media screen and (max-width: 768px) {
  .logo-module-container .wpb_content_element p {
    line-height: 22px;
    font-size: 17px;
  }
}

.letstalk-module-container .wpb_wrapper {
  max-width: 1035px;
  margin: 0 auto;
}
.letstalk-module-container .wpb_wrapper .jt_row-fluid {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 480px) {
  .letstalk-module-container .wpb_wrapper .jt_row-fluid {
    flex-direction: column-reverse;
  }
}
.letstalk-module-container .wpb_wrapper .jt_row-fluid .image-container .brett_image {
  text-align: right;
  margin-top: 7%;
}
@media screen and (max-width: 991px) {
  .letstalk-module-container .wpb_wrapper .jt_row-fluid .image-container .brett_image {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .letstalk-module-container .wpb_wrapper .jt_row-fluid .image-container .brett_image {
    text-align: center;
    margin-top: 0;
  }
}
.letstalk-module-container .wpb_wrapper .jt_row-fluid .image-container .brett_image img {
  width: 230px;
}
@media screen and (max-width: 480px) {
  .letstalk-module-container .wpb_wrapper .jt_row-fluid .image-container .brett_image img {
    width: 190px;
  }
}
.letstalk-module-container .wpb_wrapper .jt_row-fluid .text-container .vc_column-inner {
  padding: 15% 5% 0 10% !important;
}
.letstalk-module-container .wpb_wrapper .jt_row-fluid .text-container .vc_column-inner .wpb_content_element {
  padding: 0;
  margin-bottom: 0px;
}
.letstalk-module-container .wpb_wrapper .jt_row-fluid .text-container .vc_column-inner .wpb_content_element h2 {
  text-transform: uppercase;
  font-size: 18px;
}
.letstalk-module-container .wpb_wrapper .jt_row-fluid .text-container .vc_column-inner .wpb_content_element p {
  font-size: 15px;
}

.procure-contact-module-container {
  opacity: 1;
  position: relative;
  height: 560px;
  background-color: white;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .procure-contact-module-container {
    height: auto;
  }
}
.procure-contact-module-container .procure-contact-module-content {
  opacity: 1;
  position: absolute;
  left: 50%;
  width: 100%;
  max-width: 1600px;
  transform: translateX(-50%);
  top: -35px;
  padding-top: 70px;
  padding-bottom: 50px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .procure-contact-module-container .procure-contact-module-content {
    position: relative;
    left: 0;
    width: auto;
    transform: none;
    top: 0;
  }
}
.procure-contact-module-container .procure-contact-module-content .wpb_text_column {
  margin-bottom: 0px;
}
.procure-contact-module-container .procure-contact-module-content form {
  margin: 0 auto;
  padding-top: 20px;
}
.procure-contact-module-container .procure-contact-module-content form .container {
  max-width: 900px;
}
.procure-contact-module-container .procure-contact-module-content form .container .col-xs-12 {
  text-align: left;
}
.procure-contact-module-container .procure-contact-module-content form .container label {
  line-height: 0.4;
  display: block;
}
.procure-contact-module-container .procure-contact-module-content form .container label input {
  padding: 10px;
  border-bottom: 2px solid #d6d5d6;
}
.procure-contact-module-container .procure-contact-module-content form .container .services-label {
  position: relative;
  top: 10px;
  left: 0px;
  color: #8f8f8f;
  padding: 10px;
  letter-spacing: 0px !important;
}
.procure-contact-module-container .procure-contact-module-content form .container input {
  letter-spacing: 0px !important;
}
.procure-contact-module-container .procure-contact-module-content form .container .wpcf7-textarea {
  padding: 10px;
  height: 127px;
  line-height: 1.3;
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
  border: 2px solid #d6d5d6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  resize: none;
}
.procure-contact-module-container .procure-contact-module-content form .container .wpcf7-not-valid-tip {
  top: 34px;
  color: #d72130;
  text-align: left;
}
.procure-contact-module-container .procure-contact-module-content form .container .your-message .wpcf7-not-valid-tip {
  top: 167px;
}
.procure-contact-module-container .procure-contact-module-content form .container .character-count, .procure-contact-module-container .procure-contact-module-content form .container .character-count.down {
  line-height: 2.5;
  font-size: 10px;
  color: #666 !important;
}
.procure-contact-module-container .procure-contact-module-content form .container .wpcf7-submit {
  background: #d72130;
  color: white;
  font-weight: bold;
  border-bottom: none;
  margin-top: 20px;
  max-width: 120px;
}
.procure-contact-module-container .procure-contact-module-content form .container .your-consent {
  width: 100%;
}
.procure-contact-module-container .procure-contact-module-content form .container .your-consent .wpcf7-acceptance {
  width: 100%;
}
.procure-contact-module-container .procure-contact-module-content form .container .your-consent .wpcf7-acceptance .wpcf7-list-item {
  margin-top: 20px;
  margin-left: 0px;
  width: 100%;
}
.procure-contact-module-container .procure-contact-module-content form .container .your-consent .wpcf7-acceptance .wpcf7-list-item label {
  width: 100%;
  font-size: 12px;
}
.procure-contact-module-container .procure-contact-module-content form .container .your-consent .wpcf7-acceptance .wpcf7-list-item label input {
  max-width: 14px;
  max-height: 14px;
}
.procure-contact-module-container .procure-contact-module-content form .container .your-consent .wpcf7-acceptance .wpcf7-list-item label .your-consent-text {
  padding-left: 15px;
  width: 100%;
}
.procure-contact-module-container .procure-contact-module-content form .wpcf7-validation-errors {
  top: 0px;
  text-align: center;
  color: #d72130;
}

.meeting-module-container {
  color: white;
  background-position: center center;
  background-size: 2016px 611px;
  padding: 70px 15% 40px 15%;
  z-index: 0;
}
@media screen and (max-width: 1200px) {
  .meeting-module-container {
    padding: 70px 0% 40px 0%;
  }
}
.meeting-module-container .title .wpb_wrapper {
  display: flex;
  justify-content: center;
}
.meeting-module-container .title .wpb_wrapper h2 {
  color: white;
  text-transform: uppercase;
  font-size: 20px !important;
  letter-spacing: 0.5px !important;
  padding-bottom: 10px;
}
@media screen and (max-width: 480px) {
  .meeting-module-container .title .wpb_wrapper h2 {
    line-height: 24px;
    font-size: 18px !important;
  }
}
.meeting-module-container .meeting-module-container-icons {
  padding: 0 3%;
}
.meeting-module-container .meeting-module-container-icons .vc_column_container {
  padding: 10px;
}
.meeting-module-container .meeting-module-container-icons .vc_column_container .wpb_text_column {
  padding: 0px;
  display: flex;
  justify-content: center;
}
.meeting-module-container .meeting-module-container-icons .vc_column_container .wpb_text_column .wpb_wrapper {
  width: 252px;
}
@media screen and (max-width: 768px) {
  .meeting-module-container .meeting-module-container-icons .vc_column_container .wpb_text_column .wpb_wrapper {
    width: 314px;
  }
}
.meeting-module-container .meeting-module-container-icons .vc_column_container .wpb_text_column .wpb_wrapper p {
  font-size: 13px;
  letter-spacing: 1px !important;
  padding-bottom: 8px;
}
@media screen and (max-width: 768px) {
  .meeting-module-container .meeting-module-container-icons .vc_column_container .wpb_text_column .wpb_wrapper p {
    font-size: 16px;
  }
}
.meeting-module-container .meeting-module-container-icons .vc_column_container .second-text .wpb_wrapper {
  width: 298px;
}
@media screen and (max-width: 768px) {
  .meeting-module-container .meeting-module-container-icons .vc_column_container .second-text .wpb_wrapper {
    width: 314px;
  }
}
.meeting-module-container .meeting-module-container-icons .vc_column_container .wpb_single_image {
  display: flex;
  justify-content: center;
  margin-bottom: 19px;
}
.meeting-module-container .meeting-module-container-icons .vc_column_container .wpb_single_image img {
  width: 65px;
  height: auto;
}

.footer-module-container {
  background: #d72130;
  padding: 50px 0;
}
.footer-module-container .wpb_content_element {
  margin-bottom: 0;
}
.footer-module-container .wpb_content_element address {
  font-size: 12px;
  color: white;
  padding-left: 10%;
  margin-top: 14px;
  font-family: GothamBook !important;
}
@media screen and (max-width: 480px) {
  .footer-module-container .wpb_content_element address {
    font-size: 14px;
    margin-top: 20px;
  }
}
.footer-module-container .wpb_content_element address p, .footer-module-container .wpb_content_element address a {
  line-height: 145%;
  padding-left: 0;
  color: white;
}
@media screen and (max-width: 480px) {
  .footer-module-container .wpb_content_element address p, .footer-module-container .wpb_content_element address a {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .footer-module-container .text-one-footer {
    padding-left: 0 !important;
  }
}
.footer-module-container .text-one-footer .wpb_wrapper {
  position: relative;
}
.footer-module-container .text-one-footer .wpb_wrapper p {
  position: absolute;
  font-size: 12px;
  right: 0px;
  color: white;
  border-right: 1px solid white;
  padding-bottom: 0px;
  padding-right: 10%;
}
@media screen and (max-width: 480px) {
  .footer-module-container .text-one-footer .wpb_wrapper p {
    font-size: 14px;
    border: none;
    position: static;
    padding-left: 10%;
  }
}

.tab-modules .wpb_wrapper {
  max-width: 1550px;
  margin: 0 auto;
}
.tab-modules .wpb_wrapper .section-title {
  margin-bottom: 0;
  padding-top: 1%;
}
.tab-modules .wpb_wrapper .section-title h1 {
  color: black;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 20px;
}
.tab-modules .wpb_wrapper .vc_tta-container {
  margin: 0px;
}
@media screen and (max-width: 991px) {
  .tab-modules .wpb_wrapper .vc_tta-container .vc_tta-tabs-container ul {
    position: relative;
    text-align: left;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
    margin: 0 5%;
  }
}
@media screen and (max-width: 991px) {
  .tab-modules .wpb_wrapper .vc_tta-container .vc_tta-tabs-container ul li.vc_tta-tab {
    display: block;
    position: relative;
  }
}
.tab-modules .wpb_wrapper .vc_tta-container .vc_tta-tabs-container ul li.vc_tta-tab a {
  padding-bottom: 2px;
  border: 0;
  color: black;
  border-bottom: 1px solid #b7b7b7;
  background-color: transparent;
}
@media screen and (max-width: 991px) {
  .tab-modules .wpb_wrapper .vc_tta-container .vc_tta-tabs-container ul li.vc_tta-tab a {
    border-bottom: 0;
    display: none;
    padding: 5px 20px;
  }
}
.tab-modules .wpb_wrapper .vc_tta-container .vc_tta-tabs-container ul li.vc_tta-tab a:hover {
  font-weight: bold;
}
.tab-modules .wpb_wrapper .vc_tta-container .vc_tta-tabs-container ul li.vc_tta-tab a:after {
  content: "";
  position: absolute;
  height: 5px;
  width: 0;
  bottom: 0;
  display: block;
  left: 50%;
  -webkit-transition: width .3s ease 0s,left .3s ease 0s;
  -o-transition: width .3s ease 0s,left .3s ease 0s;
  transition: width .3s ease 0s,left .3s ease 0s;
}
@media screen and (max-width: 991px) {
  .tab-modules .wpb_wrapper .vc_tta-container .vc_tta-tabs-container ul li:first-child:before {
    position: absolute;
    position: relative;
  }
}
@media screen and (max-width: 991px) {
  .tab-modules .wpb_wrapper .vc_tta-container .vc_tta-tabs-container ul li:first-child:after {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: FontAwesome;
    font-size: 30px;
    content: "\f107";
    color: #d72130;
    padding-right: 10px;
  }
}
.tab-modules .wpb_wrapper .vc_tta-container .vc_tta-tabs-container ul li.vc_active a {
  font-weight: bold;
  position: relative;
  display: block;
}
.tab-modules .wpb_wrapper .vc_tta-container .vc_tta-tabs-container ul li.vc_active a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  background-color: #d72130;
  display: block;
  left: 0;
  -webkit-transition: width .3s ease 0s,left .3s ease 0s;
  -o-transition: width .3s ease 0s,left .3s ease 0s;
  transition: width .3s ease 0s,left .3s ease 0s;
}
@media screen and (max-width: 991px) {
  .tab-modules .wpb_wrapper .vc_tta-container .vc_tta-tabs-container ul li.vc_active a:after {
    height: 0px;
  }
}
@media screen and (max-width: 991px) {
  .tab-modules .wpb_wrapper .vc_tta-container .vc_tta-tabs-container.dropdown-visible ul {
    height: initial;
    background: white;
    position: absolute;
    width: 90%;
  }
}
@media screen and (max-width: 991px) {
  .tab-modules .wpb_wrapper .vc_tta-container .vc_tta-tabs-container.dropdown-visible ul li:first-child:after {
    content: "\f00d";
    font-size: 20px;
  }
}
@media screen and (max-width: 991px) {
  .tab-modules .wpb_wrapper .vc_tta-container .vc_tta-tabs-container.dropdown-visible ul li:last-child {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 991px) {
  .tab-modules .wpb_wrapper .vc_tta-container .vc_tta-tabs-container.dropdown-visible ul li a {
    display: block;
  }
}
.tab-modules .wpb_wrapper .vc_tta-container .vc_tta-panels-container {
  margin: 0 5%;
}
@media screen and (max-width: 991px) {
  .tab-modules .wpb_wrapper .vc_tta-container .vc_tta-panels-container .reverse-order {
    display: flex;
    flex-direction: column-reverse;
  }
}
.tab-modules .wpb_wrapper .vc_tta-container .vc_tta-panels-container .vc_tta-panel-body {
  padding: 4% 0;
}
@media screen and (max-width: 480px) {
  .tab-modules .wpb_wrapper .vc_tta-container .vc_tta-panels-container .vc_tta-panel-body {
    padding: 8% 0;
  }
}
@media screen and (max-width: 991px) {
  .tab-modules .wpb_wrapper .vc_tta-container .vc_tta-panels-container .vc_tta-panel-body .text-container {
    width: 100%;
    margin-top: 5%;
  }
}
.tab-modules .wpb_wrapper .vc_tta-container .vc_tta-panels-container .vc_tta-panel-body .text-container .section-description {
  padding: 0;
  margin-bottom: 5%;
}
.tab-modules .wpb_wrapper .vc_tta-container .vc_tta-panels-container .vc_tta-panel-body .text-container .section-description p {
  padding-bottom: 0;
}
.tab-modules .wpb_wrapper .vc_tta-container .vc_tta-panels-container .vc_tta-panel-body .text-container .wpb_raw_html {
  margin-bottom: 5%;
}
@media screen and (max-width: 991px) {
  .tab-modules .wpb_wrapper .vc_tta-container .vc_tta-panels-container .vc_tta-panel-body .text-container .wpb_raw_html {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 991px) {
  .tab-modules .wpb_wrapper .vc_tta-container .vc_tta-panels-container .vc_tta-panel-body .text-container .wpb_raw_html .section-columns {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
}
.tab-modules .wpb_wrapper .vc_tta-container .vc_tta-panels-container .vc_tta-panel-body .text-container .wpb_raw_html .section-columns h3 {
  padding-bottom: 0;
}
@media screen and (max-width: 991px) {
  .tab-modules .wpb_wrapper .vc_tta-container .vc_tta-panels-container .vc_tta-panel-body .text-container .section-cta {
    width: 100%;
  }
}
.tab-modules .wpb_wrapper .vc_tta-container .vc_tta-panels-container .vc_tta-panel-body .text-container .section-cta a {
  color: #ffffff;
  border: none;
  background-color: #d72130;
  padding: 17px 25px;
  font-weight: bold;
}
@media screen and (max-width: 991px) {
  .tab-modules .wpb_wrapper .vc_tta-container .vc_tta-panels-container .vc_tta-panel-body .text-container .section-cta a {
    transform: translateX(-50%);
    margin-left: 50%;
  }
}
@media screen and (max-width: 320px) {
  .tab-modules .wpb_wrapper .vc_tta-container .vc_tta-panels-container .vc_tta-panel-body .text-container .section-cta a {
    padding: 17px 16px;
  }
}
@media screen and (max-width: 991px) {
  .tab-modules .wpb_wrapper .vc_tta-container .vc_tta-panels-container .vc_tta-panel-body .media-container {
    width: 100%;
    padding: 0 !important;
  }
}
.tab-modules .wpb_wrapper .vc_tta-container .vc_tta-panels-container .vc_tta-panel-body .media-container .wpb_content_element {
  margin-bottom: 0;
}
.tab-modules .wpb_wrapper .vc_tta-container .vc_tta-panels-container .vc_tta-panel-body .left {
  padding-right: 50px;
}
.tab-modules .wpb_wrapper .vc_tta-container .vc_tta-panels-container .vc_tta-panel-body .right {
  padding-left: 50px;
}

/*# sourceMappingURL=style.css.map */
